<template>
    <div class="brand-page-name-wrp">
        <h1 class="brand-page-name">{{ brand.name }}</h1>
        <div class="brand-page-description" v-html="brand.description"></div>
    </div>
</template>

<script>
export default {
    props: ['brand'],
}
</script>
