<template>
	<div class="checked-filters" v-if="getFilters()['min_price'] || getFilters()['max_price'] || (values && values.length)">
		<div class="checked-filters-inner">
			<button class="checked-filters-item" v-if="getFilters()['min_price'] || getFilters()['max_price']" @click="removePrice()">
				Цена:{{ getFilters()['min_price'] ? ` от ${$format_number(+getFilters()['min_price'][0])}` : '' }}{{ getFilters()['max_price'] ? ` до ${$format_number(+getFilters()['max_price'][0])}` : '' }}
				<span class="checked-filters-icon">
					<close />
				</span>
			</button>
			<button class="checked-filters-item" v-for="(value, index) in values" :key="index" @click="removeValue(value.filter.slug, value.slug)">
				{{ value.name }}
				<span class="checked-filters-icon">
					<close />
				</span>
			</button>
		</div>
	</div>
</template>
<script>
import close from '@/static/icons/close.svg'
import { mapGetters } from 'vuex'

export default {
	components: {
		close
	},
	computed: {
        ...mapGetters({
            allFilters: 'filter/GET_FILTERS'
        }),
		values: function() {
			return [].concat.apply([], this.allFilters.filter((filter) => {
				return Object.keys(this.getFilters()).includes(filter.slug)
			}).map((filter) => {
				return filter.values.filter((value) => {
					return Object.values(this.getFilters()[filter.slug]).includes(value.slug)
				}).map((value) => {
					return {
						filter: filter,
						slug: value.slug,
						name: value.name
					}
				})
			}));
		}
	},
	methods: {
		getFilters() {
			let query = {...this.$route.query}
			Object.keys(query).map(function(key, index) {
				query[key] = query[key].split(',')
			})
			return query
		},
        getQuery(filters) {
            Object.keys(filters).map(function(key, index) {
                filters[key] = filters[key].join(',')
            })
            return filters
        },
        removeValue(filter, value) {
            let filters = this.getFilters()

            if (!filters[filter]) {
                filters[filter] = []
            }

            // Toggle value
            let index = filters[filter].indexOf(value)
            if (index == -1) {
				//
            } else {
                filters[filter].splice(index, 1)
                if (filters[filter].length == 0) {
                    delete filters[filter]
                }
            }

            this.$router.push({query: this.getQuery({...filters})})
        },
		removePrice() {
			let filters = this.getFilters()
			delete filters['min_price']
			delete filters['max_price']
			this.$router.push({query: this.getQuery({...filters})})
		}
	},
}
</script>
