<template>
    <div class="catalog-dropdown">
        <label class="catalog-dropdown-item" v-for="(value, index) in filter.values" :key="index">
            <input type="checkbox" :checked="isChecked(filter.slug, value.slug)" @change="toggleFilter(filter.slug, value.slug)">
            <i class="catalog-dropdown-checkmark">
                <check-icon />
            </i>
            <p class="catalog-dropdown-text">{{ value.name }} <span>({{ value.cnt }})</span></p>
        </label>
    </div>
</template>

<script>
import checkIcon from '@/static/icons/checked.svg'
export default {
    components: {
        checkIcon
    },
    props: ['filter'],
    data() {
        return {
            
        }
    },
    methods: {
        getValues(filter) {
            return this.$route.query[filter] ? this.$route.query[filter].split(',') : []
        },
        isChecked(filter, value) {
            return this.getValues(filter).indexOf(value) != -1
        },
        toggleFilter(filter, value) {
            let filters = this.getFilters()

            if (!filters[filter]) {
                filters[filter] = []
            }

            // Toggle value
            let index = filters[filter].indexOf(value)
            if (index == -1) {
                filters[filter].push(value)
            } else {
                filters[filter].splice(index, 1)
                if (filters[filter].length == 0) {
                    delete filters[filter]
                }
            }

            this.$router.push({query: this.getQuery({...filters})})
        },
        getFilters() {
            let query = {...this.$route.query}
            Object.keys(query).map(function(key, index) {
                query[key] = query[key].split(',')
            })
            return query
        },
        getQuery(filters) {
            Object.keys(filters).map(function(key, index) {
                filters[key] = filters[key].join(',')
            })
            return filters
        },
    }
}
</script>
