<template>
    <div class="catalog-filter">
        <p class="catalog-filter-title">Фильтр</p>
        <div class="catalog-filter-row" v-click-outside="hideAll">
            <button :class="['catalog-filter-btn', '--border-radius', {'--active': $route.query.min_price || $route.query.max_price}]"
                v-ripple="'rgba(0, 0, 0, 0.1)'"
                @click="showPrice">
                Цена
                <arrow-icon />
                <transition name="filter-fade">
                    <price-range v-if="isPriceOpen" :min-price="minPrice" :max-price="maxPrice" />
                </transition>
            </button>
            <button :class="['catalog-filter-btn', {'--active': $route.query[filter.slug]}]"
                v-ripple="'rgba(0, 0, 0, 0.1)'"
                @click="showDropdown(index)"
                v-for="(filter, index) in filters"
                :key="index">
                {{ filter.name }}
                <arrow-icon />
                <transition name="filter-fade">
                    <dropdown v-if="isDropdownOpen(index)" :filter="filter" />
                </transition>
            </button>
            <button class="button --minor-color" v-ripple="'rgba(255, 255, 255, 0.2)'" @click="reset" >
                <circle-arrow-icon />
                Сбросить
            </button>
        </div>
    </div>
</template>

<script>
import circleArrowIcon from "@/static/icons/circle-arrow.svg"
import arrowIcon from "@/static/icons/arrow-icon.svg"
import priceRange from "@/components/catalog/range-slider"
import dropdown from "@/components/catalog/dropdown"
import ClickOutside from "vue-click-outside"
import { mapGetters } from "vuex"

export default {
	components: {
		circleArrowIcon,
		arrowIcon,
		dropdown,
		priceRange,
	},
	directives: {
		ClickOutside,
	},
	props: ["minPrice", "maxPrice"],
	data: () => ({
		currentDropdown: null,
		isPriceOpen: false,
	}),
	computed: {
		...mapGetters({
			filters: "filter/GET_FILTERS",
		}),
	},
	methods: {
		showDropdown(index) {
			this.currentDropdown = index
			this.isPriceOpen = false
		},
		isDropdownOpen(index) {
			return this.currentDropdown == index
		},
		showPrice() {
			this.currentDropdown = null
			this.isPriceOpen = true
		},
		hideAll(index) {
			this.isPriceOpen = false
			this.currentDropdown = null
		},
		reset() {
			this.hideAll()
			this.$router.push({ query: {} })
		},
	},
}
</script>
