<template>
    <div class="catalog-range">
        <div class="catalog-range-row">
            <div class="catalog-range-col">
                <span class="catalog-range-text">от</span>
                <input type="text" v-model="minp" class="catalog-range-input" @change="updateValue">
            </div>
            <div class="catalog-range-col">
                <span class="catalog-range-text">до</span>
                <input type="text" v-model="maxp" class="catalog-range-input" @change="updateValue">
            </div>
        </div>
        <client-only>
            <vue-slider
                :contained="true"
                :dotSize="16"
                v-model="value"
                :max="maxPrice"
                :min="minPrice"
                :tooltip="'none'"
            ></vue-slider>
        </client-only>
        <div class="catalog-range-row --price">
            <p class="catalog-range-text">{{ minPrice }}</p>
            <p class="catalog-range-text">{{ maxPrice }}</p>
        </div>
    </div>
</template>

<script>
export default {
    props: ['minPrice', 'maxPrice'],
    data: function() {
        return {
            maxp: this.maxPrice,
            minp: this.minPrice,
            value: [this.minPrice, this.maxPrice],
        }
    },
    watch: {
        value: function(val) {
            this.minp = val[0]
            this.maxp = val[1]

            let filters = this.getFilters()

            if (this.minp != this.minPrice) {
                filters.min_price = [this.minp]
            } else {
                delete filters.min_price
            }

            if (this.maxp != this.maxPrice) {
                filters.max_price = [this.maxp]
            } else {
                delete filters.max_price
            }

            this.$router.push({query: this.getQuery({...filters})})

        },
        minPrice: function(val) {
            this.value[0] = Math.max(val, this.value[0])
            this.value = [...this.value]
        },
        maxPrice: function(val) {
            this.value[1] = Math.min(val, this.value[1])
            this.value = [...this.value]
        },
    },
    mounted() {
        if (this.$route.query.min_price) {
            this.value[0] = this.$route.query.min_price
        }
        if (this.$route.query.max_price) {
            this.value[1] = this.$route.query.max_price
        }
        this.value = [...this.value]
    },
    methods: {
        updateValue() {
            this.value[0] = Math.max(Math.min(this.minp, this.maxPrice), this.minPrice)
            this.value[1] = Math.min(Math.max(this.maxp, this.minPrice), this.maxPrice)
            this.value = [...this.value]
        },
        getFilters() {
            let query = {...this.$route.query}
            Object.keys(query).map(function(key, index) {
                query[key] = query[key].split(',')
            })
            return query
        },
        getQuery(filters) {
            Object.keys(filters).map(function(key, index) {
                filters[key] = filters[key].join(',')
            })
            return filters
        },
    }
}
</script>
