<template>
    <div class="layout-container catalog-top-slider-wrp" v-if="category">
        <button class="slider-prev catalog-top-prev" v-ripple="'rgba(0, 0, 0, 0.1)'">
            <arrow-icon />
        </button>
        <div v-swiper:catalogTop="options" ref="categorySwiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <button @click="$router.push(`/catalog/${category.slug}`)" :class="['catalog-top-btn', { '--active': !subcategory }]">Все товары</button>
                </div>
                <div class="swiper-slide" v-for="(item, index) in category.subcategories" :key="index">
                    <button @click="$router.push(`/catalog/${category.slug}/${item.slug}`)" :class="['catalog-top-btn', { '--active': subcategory && subcategory.id == item.id }]">{{ item.name }}</button>
                </div>
            </div>
        </div>
        <button class="slider-next catalog-top-next" v-ripple="'rgba(0, 0, 0, 0.1)'">
            <arrow-icon />
        </button>
    </div>
</template>

<script>
import arrowIcon from '@/static/icons/arrow-icon.svg'
import { directive } from 'vue-awesome-swiper'

export default {
    components: {
        arrowIcon
    },
    directives: {
        swiper: directive
    },
    props: ['category', 'subcategory', 'subcategoryIndex'],
    data() {
        return {
            options: {
                slidesPerView: 'auto',
                freeMode: true,
                spaceBetween: 8,
                initialSlide: this.subcategoryIndex,
                navigation: {
                    nextEl: '.catalog-top-next',
                    prevEl: '.catalog-top-prev'
                }
            }
        }
    }
}
</script>
