<template>
    <div class="catalog-sort">
        <p class="catalog-sort-counter">Показано <b>{{ cnt }}</b> товара из {{ total }}</p>
        <div class="catalog-sort-select-wrp">
            <h6>Сортировать: </h6>
            <custom-select :options="options" v-model="column" @change="sort" />
        </div>
    </div>
</template>

<script>
import customSelect from '@/components/partials/select'

export default {
    components: {
        customSelect
    },
    props: ['cnt', 'total', 'options'],
    data() {
        return {
            column: this.$route.query.order ? this.$route.query.order : 'lft',
        }
    },
    watch: {
        '$route.query': function(val) {
            if (val.order != this.column) {
                this.column = val.order ? val.order : 'lft'
            }
        }
    },
    methods: {
        sort() {
            let filters = this.getFilters()

            if (this.column != 'lft') {
                filters.order = [this.column]
            } else {
                delete filters.order
            }

            this.$router.push({query: this.getQuery({...filters})})
        },
        getFilters() {
            let query = {...this.$route.query}
            Object.keys(query).map(function(key, index) {
                query[key] = query[key].split(',')
            })
            return query
        },
        getQuery(filters) {
            Object.keys(filters).map(function(key, index) {
                filters[key] = filters[key].join(',')
            })
            return filters
        },
    },
}
</script>
