<template>
    <div class="catalog-top">
        <div class="catalog-top-title-wrp">
            <button class="back" @click="$router.back()">Назад</button>
            <h1 class="catalog-top-title">
                {{ subcategory ? subcategory.name : (category ? category.name : catalogTitle) }}
            </h1>
            <p class="catalog-top-counter">товаров {{ $format_number(subcategory ? subcategory.products_count : (category ? category.products_count : cnt)) }}</p>
        </div>
    </div>
</template>

<script>
import arrowIcon from '@/static/icons/arrow-icon.svg'
import ClickOutside from 'vue-click-outside'
import { mapGetters } from 'vuex'

export default {
    components: {
        arrowIcon,
    },
    directives: {
        ClickOutside
    },
    props: ['category', 'subcategory', 'cnt'],
    data: () => ({
        isDropdownOpen: false
    }),
    computed: {
        ...mapGetters({
            categories: 'category/GET_CATEGORIES'
        }),
        catalogTitle() {
            if (this.$route.query.extra) {
                if (this.$route.query.extra.includes('sales')) {
                    return 'Акции'
                }
                if (this.$route.query.extra.includes('news')) {
                    return 'Новинки'
                }
                if (this.$route.query.extra.includes('hits')) {
                    return 'Бестселлеры'
                }
            }
            return 'Каталог'
        }
    },
    methods: {
        closeDropdown() {
            this.isDropdownOpen = false
        }
    },
}
</script>
