.brand-page
    padding-top 20px
    .catalog-page-top-wrp
        position static
        margin-bottom 30px
    .catalog-top
        height auto
        padding-bottom 20px
    &-name-wrp
        max-width 550px
        text-align center
        margin auto
        margin-top 30px
        margin-bottom 40px
    &-name
        background-color var(--bg-base)
        border-radius 8px
        padding 0 12px
        display inline-block
        font-size em(28)
        font-weight 700
        color var(--text-color)
        margin-bottom 16px
    &-description
        font-size em(14)
        font-weight 400
        color var(--text-color)