.brand-list
	padding-top 24px
	padding-bottom 100px
	&-search-icon
		width 20px
		height 20px
		margin-right 12px
		flex-shrink 0
		cursor pointer
	&-close
		width 20px
		height 20px
		margin-left 12px
		flex-shrink 0
		cursor pointer
	&-search-wrp
		display flex
		justify-content space-between
		align-items center
		margin-bottom 20px
	&-sticky-header
		position sticky
		top 0
		background-color #fff
		margin-top 20px
		padding-top 20px
	&-title
		font-size em(20)
		font-weight 700
		color var(--text-color)
	&-empty
		margin-top 60px
		display flex
		flex-direction column
		align-items center
	&-text 
		font-size em(14)
		font-weight 400
		color var(--text-color)
		margin-top 8px 
		margin-bottom 32px
	&-search
		display flex
		align-items center
		justify-content center
		width 264px
		height 36px
		background-color var(--bg-base)
		padding: 0 12px
		input
			background-color transparent
			flex-grow 1
			border none
			font-size em(14)
			font-weight 400
			color var(--text-color)
	&-nav
		border 1px solid var(--line-color)
		border-radius 10px
		padding 10px 0
		overflow-x auto
		&-inner 
			padding 0 15px
			display inline-flex
			align-items center
			justify-content space-between
	&-nav-item
		display inline-block
		line-height 40px
		text-transform uppercase
		font-size em(14)
		font-weight 700
		color var(--text-color)
		padding 0 10px
		border-radius 8px
		transition all .3s ease
		&:hover 
			background-color var(--line-color)
		&.--active
			color #fff
			background-color var(--minor-color)
	&-row-title
		display block
		border-bottom 1px solid var(--line-color)
		padding-bottom 16px
		text-transform uppercase
		font-size em(20)
		font-weight 700
		color var(--text-color)
	&-item-wrp
		margin-top 80px
	&-row 
		display flex
		flex-wrap wrap
	&-item 
		width 264px
		margin-top 32px
		margin-right 24px
		&:nth-child(4n)
			margin-right 0
	&-img-wrp
		background-color var(--bg-base)
		width 100%
		border-radius 12px
		height 120px
		display flex
		align-items center
		justify-content center
		img 
			max-width 200px
			max-height 60px
	&-name 
		display block
		width 100%
		text-align center
		font-size em(14)
		font-weight 700
		color var(--text-color)
		margin-top 12px
@media (min-width: 320px)
	.brand-list
		&-search-wrp
			flex-direction column
			align-items flex-start
		&-search 
			width: 100%
			margin-top 12px
		&-nav-inner
			padding 0 10px
		&-sticky-header
			margin-top 15px
			padding-top 15px
		&-item-wrp 
			margin-top 60px
		&-item
			width 100%
			margin-right 0
@media (min-width: 360px)
	.brand-list
		&-item 
			width calc(50% - 8px)
			margin-right 16px
			&:nth-child(even)
				margin-right 0
@media (min-width: 1024px)
	.brand-list 
		&-search-wrp
			align-items center
			flex-direction row
		&-search 
			width auto
			margin-top 0
		&-nav-inner 
			width 100%
		&-item 
			width calc(33% - 12px)
			&:nth-child(even)
				margin-right 24px
			&:nth-child(3n)
				margin-right 0
@media (min-width: 1280px)
	.brand-list
		&-item 
			width 264px
			margin-right 24px
			&:nth-child(even)
				margin-right 24px
			&:nth-child(3n)
				margin-right 24px
			&:nth-child(4n)
				margin-right 0