<template>
    <div class="product-inner">
        <div class="layout-container">
            <div class="breadcrumbs">
                <button class="back" @click="$router.back()">Назад</button>
                <span>:</span>
                <nuxt-link to="/catalog">Каталог</nuxt-link>
                <nuxt-link v-if="category" :to="`/catalog/${category.slug}`">{{ category.name }}</nuxt-link>
                <nuxt-link v-if="category && subcategory" :to="`/catalog/${category.slug}/${subcategory.slug}`">{{ subcategory.name }}</nuxt-link>
                <nuxt-link to="">{{ product.title }}</nuxt-link>
            </div>
            <div class="product-inner-row">
                <product-image :product="product" />
                <right />
            </div>
            <div class="product-inner-tab-btns">
                <button class="product-inner-tab-btn" @click="currentTab = 'reviews'" :class="{'--active' : currentTab == 'reviews'}">Отзывы <template v-if="reviews.total">({{ $format_number(reviews.total) }})</template></button>
                <button class="product-inner-tab-btn" @click="currentTab = 'faq'" :class="{'--active' : currentTab == 'faq'}">Вопросы и ответы <template v-if="questions.total">({{ $format_number(questions.total) }})</template></button>
            </div>
            <transition name="fade" mode="out-in">
                <div key="reviews" v-if="currentTab == 'reviews'" class="product-inner-tab">
                    <div class="product-reviews-top">
                        <button class="product-reviews-btn" @click="$toggle('form.review')">{{$check('form.review') ? 'Скрыть' : 'Оставить отзыв'}}</button>
                        <transition name="fade">
                            <reviews-form title="Оставить отзыв о товаре" label="Комментарий" placeholder="Общее впечатление от использования товара" :show-rating="true" v-if="$check('form.review')" />
                        </transition>
                    </div>
                    <reviews :show-rating="true" :reviews="reviews" />
                </div>
                <div key="faq" v-if="currentTab == 'faq'" class="product-inner-tab">
                    <div class="product-reviews-top">
                        <button class="product-reviews-btn" @click="$toggle('form.faq')">{{$check('form.faq') ? 'Скрыть' : 'ЗАДАТЬ ВОПРОС'}}</button>
                        <transition name="fade">
                            <reviews-form title="Задать вопрос о товаре" label="Вопрос" placeholder="О чем хотели спросить?" :show-rating="false" v-if="$check('form.faq')" />
                        </transition>
                    </div>
                    <reviews :show-rating="false" :reviews="questions" />
                </div>
            </transition>
        </div>
        <div class="product-inner-divider"></div>
        <div class="layout-container" v-if="recomended">
            <products :products="recomended" label="Рекомендуем также" type="recomended" />
        </div>
        <subscribe />
        <floating-cart />
    </div>
</template>

<script>
import products from "@/components/partials/products"
import productImage from "@/components/product-inner/image"
import right from "@/components/product-inner/right"
import reviews from "@/components/product-inner/reviews"
import floatingCart from "@/components/product-inner/cart"
import subscribe from "@/components/partials/subscribe"
import { mapGetters, mapActions } from "vuex"
import reviewsForm from "@/components/product-inner/form"

export default {
	components: {
		products,
		reviewsForm,
		productImage,
		right,
		reviews,
		subscribe,
		floatingCart,
	},
	middleware: ["catalog"],
	computed: {
		...mapGetters({
			product: "product/GET_PRODUCT",
            recomended: "product/GET_RECOMENDED",
			category: "category/GET_CATEGORY",
			subcategory: "category/GET_SUBCATEGORY",
            reviews: "product/GET_REVIEWS",
            questions: "product/GET_QUESTIONS",
		}),
	},
	head() {
		return this.$get_seo_tags(this.product)
	},
	data() {
		return {
			currentTab: "reviews",
		}
	},
}
</script>
