.home-banner
	margin-top 16px
	position relative
	margin-bottom 60px
	.layout-container
		position relative
	&-slider-wrp
		overflow hidden
	&-prev-wrp,
	&-next-wrp
		position absolute
		top 45%
		z-index 3
	&-prev-wrp
		left -60px
	&-next-wrp
		right -60px
	&-title
		color #fff
		font-size em(40)
		font-weight 700
		margin-top 80px
		margin-bottom 8px
		max-width 330px
	&-subtitle
		color #fff
		font-size em(16)
		font-weight 700
		margin-bottom 76px
	&-pagination
		text-align center
		margin-top 10px
	.swiper-slide
		background-size cover
		background-repeat no-repeat
		background-position center
		height 400px
		padding 15px
		border-radius: 10px
		img 
			border-radius 10px
			width 100%
			height 100%
			object-fit: cover
			box-shadow: 0px 5px 15px rgba(31, 71, 153, 0.15)
@media screen and (max-width 430px)
	.home-banner
		margin-bottom 40px
		.layout-container
			padding: 0
		&-prev-wrp,
		&-next-wrp 
			top auto
			bottom -10px
		&-prev-wrp 
			left 16px
		&-next-wrp
			right 16px
		&-pagination 
			margin-top 15px
		.swiper-slide
			height 200px
			padding: 0 16px
			div
				height: 100%
