.subscribe
    border-top 1px solid var(--line-color)
    &-container 
        width 935px
        position relative
        margin auto
        padding 40px 0
    &-image
        position absolute
        top 50%
        left 0
        transform translateY(-50%)
        z-index 1
        img 
            width 390px
            height 250px
            object-fit cover
            border-radius 12px
    &-inner
        background-color var(--bg-base)
        border-radius 12px
        padding 60px
        padding-right 116px
        padding-left 238px
        max-width 745px
        height 370px
        margin-left auto
    &-title
        font-size em(28)
        font-weight 700
        color var(--text-color)
    &-text 
        font-size em(16)
        color var(--text-color)
        font-weight 400
        margin-top 16px
        margin-bottom 24px
        a 
            color var(--minor-color)
    &-input,
    .button
        width 390px
        display block
    &-input
        border none
        border-bottom 1px solid var(--line-color)
        background-color transparent
        margin-bottom 16px
        font-size em(14)
        color var(--text-color)
        font-weight 400
        padding-bottom 10px
@media screen and (max-width 769px)
    .subscribe
        &-container 
            padding-top 170px
            width 100%
        &-inner
            max-width 100%
            padding 0
            padding-top 125px
            padding-bottom 50px
            height auto
            display flex
            text-align center
            flex-direction: column 
            align-items: center
        &-image
            left 50%
            top 30px
            transform translate(-50%, 0)
@media screen and (max-width 430px)
    .subscribe
        &-image 
            width 90%
            img 
                height 210px
                width 100%
        &-inner 
            padding-top 90px
        &-title
            font-size em(20)
        &-text 
            padding 0 10px
        &-input
        .button
            width 90%
