<template>
	<div class="brand-list">
		<div class="layout-container">
			<div class="breadcrumbs">
                <button class="back" @click="$router.back()">Назад</button>
                <span>:</span>
                <nuxt-link to="/">Главная</nuxt-link>
                <nuxt-link to="">Бренды</nuxt-link>
            </div>
            <div class="brand-list-sticky-header">
	            <div class="brand-list-search-wrp">
	            	<h1 class="brand-list-title">Бренды</h1>
	            	<div class="brand-list-search">
	            		<search-icon class="brand-list-search-icon" />
	            		<input type="text" placeholder="Поиск по брендам" v-model="q">
	            		<close-icon class="brand-list-close" />
	            	</div>
	            </div>
	            <nav class="brand-list-nav">
	            	<div class="brand-list-nav-inner">
	            		<a :href="`#group${item}`" class="brand-list-nav-item" v-for="(item, index) in navItems" :key="index" @click.prevent="scrollToGroup(`group${item}`)">{{ item }}</a>
	            	</div>
	            </nav>
	        </div>
			<div class="catalog-page-loader" v-if="waiting"><!-- add "|| true" -->
				<img src="/icons/load-large.png" alt="Only icon" data-not-lazy>
			</div>
			<div v-else-if="q && searchResults && searchResults.length" class="brand-list-item-wrp">
	        	<div class="brand-list-row">
	        		<nuxt-link :to="`/catalog?brand=${brand.slug}`" class="brand-list-item" v-for="brand in searchResults" :key="`brand${brand.id}`">
	        			<div class="brand-list-img-wrp">
	        				<img :src="brand.image" :alt="brand.name">
	        			</div>
	        			<p class="brand-list-name">{{ brand.name }}</p>
	        		</nuxt-link>
	        	</div>
			</div>
	        <div class="brand-list-empty" v-else-if="q">
	        	<h4 class="brand-list-title">По вашему запросу ничего не найдено</h4>
	        	<p class="brand-list-text">Попробуйте сократить или переписать запрос</p>
	        	<img src="/images/brands-empty.png" alt="Не найдено">
	        </div>
	        <div v-else class="brand-list-item-wrp" v-for="(item, index) in navItems" :key="`group${index}`" :id="`group${item}`">
	        	<h5 class="brand-list-row-title">{{ item }}</h5>
	        	<div class="brand-list-row">
	        		<nuxt-link :to="`/catalog?brand=${brand.slug}`" class="brand-list-item" v-for="brand in brands[item]" :key="`brand${brand.id}`">
	        			<div class="brand-list-img-wrp">
	        				<img :src="brand.image" :alt="brand.name">
	        			</div>
	        			<p class="brand-list-name">{{ brand.name }}</p>
	        		</nuxt-link>
	        	</div>
	        </div>
		</div>
	</div>
</template>

<script>
import searchIcon from '@/static/icons/search.svg'
import closeIcon from '@/static/icons/close.svg'
import { mapGetters, mapActions } from 'vuex'

export default {
	middleware: ['brands'],
	components: {
		searchIcon,
		closeIcon
	},
	data() {
		return {
			waiting: false,
			q: null,
			navItems: [
				'a','b','c','d','e','f','g','h','i','j','k','l','m','n','o','p','q','r','s','t','u','v','w','x','y','z','0-9','А-Я'
			]
		}
	},
	computed: {
		...mapGetters({
			brands: 'brand/GET_BRANDS',
			searchResults: 'brand/GET_SEARCH_BRANDS'
		})
	},
	watch: {
		q: async function(val) {
			if (val) {
				this.waiting = true
				await this.searchBrands(val)
				this.waiting = false
			}
		}
	},
	methods: {
		...mapActions({
			searchBrands: 'brand/searchBrands'
		}),
		scrollToGroup(group) {
   			document.getElementById(group).scrollIntoView({block: "center", behavior: "smooth"});
		}
	}
}
</script>
