<template>
    <div class="email-page">
        <img src="/icons/email-confirm.png" class="email-page-img" alt="Only.kz image">
        <h1 class="email-page-title">Поздравляем! Регистрация прошла успешно</h1>
        <p class="email-page-text">Через пару мгновений вы будете направлены на главную страницу...</p>
        <subscribe />
    </div>
</template>

<script>
import subscribe from '@/components/partials/subscribe'

export default {
    components: {
        subscribe
    }
}
</script>