<template>
    <transition name="slide-up">
        <div v-if="isVisible" class="product-cart">
            <div class="layout-container">
                <div class="product-cart-image">
                    <img :src="product.image" :alt="product.title" />
                </div>
                <div class="product-cart-name-wrp">
                    <p class="product-cart-brand">{{ product.brand ? product.brand.name : '' }}</p>
                    <p class="product-cart-name">{{ product.title }}</p>
                </div>
                <div class="product-cart-price-wrp">
                    <p class="product-cart-price">
                        {{ $format_number(product.price) }} ₸
                        <span v-if="product.discount">{{ $format_number(product.old_price) }} ₸</span>
                    </p>
                    <p class="product-cart-text" v-if="getCartCnt(product.id) > 0">{{ getCartCnt(product.id) }} шт. уже в корзине</p>
                </div>
                <div class="product-inner-add-cart">
                    <button class="button" @click="increaseProduct(product)" v-if="getCartCnt(product.id) == 0" :disabled="product.quantity <= 0">
                        <cart-icon />
                        Добавить в корзину
                    </button>
                    <div class="counter" v-else>
                        <button class="counter-decrease" @click="decreaseProduct(product)"><decreaseIcon /></button>
                        <span>{{ getCartCnt(product.id) }}</span>
                        <button class="counter-increase"
                            @click="increaseProduct(product)"
                            :disabled="getCartCnt(product.id) >= product.quantity">
                            <increaseIcon /></button>
                    </div>
                    <button class="product-inner-fav" @click="toggleProduct(product)" v-if="!isFavorite(product)">
                        <fav-icon />
                    </button>
                    <button class="product-inner-fav --added" @click="toggleFavorite(product)" v-else>
                        <fav-filled-icon />
                    </button>
                </div>
            </div>
        </div>
    </transition>
</template>

<script>
import cartIcon from '@/static/icons/cart-white.svg'
import favIcon from '@/static/icons/favorites.svg'
import favFilledIcon from '@/static/icons/favorites-filled.svg'
import decreaseIcon from '@/static/icons/minus.svg'
import increaseIcon from '@/static/icons/plus.svg'
import {mapActions, mapGetters} from 'vuex'

export default {
    components: {
        cartIcon,
        favIcon,
        decreaseIcon,
        increaseIcon,
        favFilledIcon
    },
    data() {
        return {
            isVisible: false
        }
    },
    mounted() {
        if (process.client) {
            let lastScrollTop = 0;
            window.addEventListener("scroll", () => {
               let st = window.pageYOffset || document.documentElement.scrollTop;
               if (st > window.innerHeight / 2){
                  this.isVisible = true
               } else {
                    this.isVisible = false
               }
               lastScrollTop = st <= 0 ? 0 : st
           }, { passive: true })
        }
    },
    computed: {
        ...mapGetters({
            product: 'product/GET_PRODUCT',
            getCartCnt: 'cart/GET_CART_CNT',
            isFavorite: 'favorites/IS_FAVORITE',
        })
    },
    methods: {
        ...mapActions({
            increaseProduct: 'cart/increaseProduct',
            decreaseProduct: 'cart/decreaseProduct',
            removeProduct: 'cart/removeProduct',
            toggleProduct: 'favorites/toggleProduct',
        }),
    }
}
</script>
