<template>
    <form class="product-reviews-form" @submit.prevent="createReview">
        <h4 class="product-reviews-title">{{ title }}</h4>
        <div class="product-reviews-rating-wrp" v-if="showRating">
            <p>Оцените товар</p>
            <client-only>
                <star-rating
                    :inactive-color="'#FFFFFF'"
                    :border-color="'#FEA76B'"
                    :border-width="1"
                    :active-color="'#FEA76B'"
                    :increment="1"
                    :star-size="20"
                    :show-rating="false"
                    v-model="review.rating"
                    :star-points="[23,2, 14,17, 0,19, 10,34, 7,50, 23,43, 38,50, 36,34, 46,19, 31,17]" />
            </client-only>
        </div>
        <label class="product-reviews-label">{{ label }}</label>
        <textarea class="product-reviews-input --textarea" v-model="review.message" :placeholder="placeholder" required></textarea>
        <div class="product-reviews-input-wrp">
            <input type="text" placeholder="Имя" v-model="review.name" class="product-reviews-input" required />
            <input type="text" placeholder="E-mail" v-model="review.email" class="product-reviews-input" required />
        </div>
        <button type="submit" class="button">Отправить</button>
    </form>
</template>

<script>
import { $urls } from "~/common/urls.js"

export default {
	props: {
		title: String,
		label: String,
		showRating: Boolean,
		placeholder: String,
	},
	data() {
		return {
			review: {
				message: "",
				email: "",
				name: "",
				rating: this.showRating ? 5 : null,
			},
		}
	},
	mounted() {
		this.resetReview()
	},
	methods: {
		resetReview() {
			if (this.$isSignedIn()) {
				this.review.name = this.$user().name
				this.review.email = this.$user().email
				this.review.message = ""
			}
		},
		async createReview() {
			await this.$api.post(
				$urls.url("product", [this.$route.params.product, "review"]),
				this.review
			)
			this.resetReview()
			this.$setFalse("form.review")
            if (this.showRating) { // Review
                this.$toastr.success("Спасибо за ваш отзыв!")
            } else { // Question
                this.$toastr.success("Ваш вопрос уже рассматривается. Мы постараемся ответить как можно скорее.")
            }
		},
	},
}
</script>
