<template>
    <div class="product-inner-left">
        <div class="product-inner-image-wrp">
            <div class="product-inner-thumbs-wrp">
                <button :class="['product-inner-thumb', {'--active': currentImage == index}]" v-for="(image, index) in product.images" @click="currentImage = index" :key="index"><img :src="image" :alt="product.title"></button>
            </div>
            <div class="product-inner-image">
                <img data-zoomable :src="currentImage != null ? product.images[currentImage] : product.image" :alt="product.title">
                <div class="product-tags-wrp">
                    <div class="tag --new" v-if="product.is_new && !product.is_hit">новинка</div>
                    <div class="tag --hit" v-if="product.is_hit">хит</div>
                    <div class="tag --discount" v-if="product.discount > 0">-{{ product.discount }}%</div>
                </div>
            </div>
        </div>
        <div class="product-inner-brand-wrp" v-if="product.brand">
            <p class="product-inner-brand-txt">Все товары бренда <span>{{ product.brand.name }}</span></p>
            <nuxt-link :to="`/catalog?brand=${product.brand.slug}`">
                <img :src="product.brand.image" :alt="product.brand.name" v-if="product.brand.image">
                <span v-else>{{ product.brand.name }}</span>
            </nuxt-link>
        </div>
    </div>
</template>

<script>
import mediumZoom from 'medium-zoom'

export default {
    props: ['product'],
    data() {
        return {
            currentImage: (this.product.images && this.product.images.length) ? 0 : null,
        }
    },
    mounted() {
        if (process.client) {
            mediumZoom('[data-zoomable]', {
                background: '#FFFFFF'
            })
        }
    }
}
</script>
