<template>
    <div class="product-reviews">
        <div class="product-reviews-top" v-if="$isSignedIn()">
            <h4 class="product-reviews-title">Отзывы</h4>
        </div>
        <div class="product-reviews-item" v-if="reviews && reviews.data.length" v-for="review in reviews.data" :key="review.id">
            <div class="product-reviews-name-wrp">
				<p class="product-reviews-name">{{ review.name }}</p>
				<p class="product-reviews-date">{{ $format_date(review.created_at, 'D MMMM YYYY') }} года</p>
				<client-only>
					<star-rating
						v-if="showRating"
						:inactive-color="'#ffffff'"
						:read-only="true"
						:border-color="'#FEA76B'"
						:border-width="1"
						:active-color="'#FEA76B'"
						:increment="1"
						:rating="review.rating"
						:star-size="11"
						:show-rating="false"
						:star-points="[23,2, 14,17, 0,19, 10,34, 7,50, 23,43, 38,50, 36,34, 46,19, 31,17]" />
				</client-only>
			</div>
            <p class="product-reviews-text">{{ review.message }}</p>
            <div class="product-reviews-answer" v-if="review.reply">
                <p class="product-reviews-name">Only.kz</p>
                <p class="product-reviews-text">{{ review.reply }}</p>
            </div>
        </div>
        <div class="product-reviews-btn-wrp" v-if="reviews && reviews.data.length">
            <div class="catalog-page-loader" v-if="waiting">
                <img src="/icons/load-large.png" alt="Only icon" data-not-lazy>
            </div>
            <button class="button --minor-color" @click="tryTolazyLoad" v-else-if="reviews && reviews.last_page != reviews.current_page">
                <load-icon />
                Показать еще
            </button>
        </div>
    </div>
</template>

<script>
import loadIcon from "@/static/icons/reload.svg"
import { mapActions } from "vuex"

export default {
	components: {
		loadIcon,
	},
	props: {
        reviews: Object,
		showRating: Boolean,
	},
	data() {
		return {
			createOpen: false,
			waiting: false,
		}
	},
	methods: {
		...mapActions({
			paginate: "product/paginate",
		}),
		async tryTolazyLoad() {
			if (!this.waiting) {
				await this.lazyLoad()
			}
		},
		async lazyLoad() {
			this.waiting = true
			await this.paginate(`reviews`)
			this.waiting = false
		},
	},
}
</script>
