<template>
    <div class="product-inner-right">
        <p class="product-inner-brand" v-if="!$isMobile()">{{ product.brand ? product.brand.name : '' }}</p>
        <h1 class="product-inner-name">{{ product.title }}</h1>
        <div class="product-inner-rating-wrp" v-if="$isMobile()">
			<p class="product-inner-available" v-if="product.quantity > 0">
				<check />
				Есть в наличии
			</p>
			<p class="product-inner-out" v-else>
				<out-icon />
				Нет в наличии
			</p>
		</div>
        <div class="product-inner-rating-wrp">
            <div class="product-inner-rating">
                <client-only>
                    <star-rating
                        :inactive-color="'#C3CAD9'"
                        :active-color="'#FEA76B'"
                        :read-only="true"
                        :increment="0.5"
                        :rating="product.rating"
                        :star-size="14"
                        :show-rating="false"
                        :star-points="[23,2, 14,17, 0,19, 10,34, 7,50, 23,43, 38,50, 36,34, 46,19, 31,17]" />
                </client-only>
                <p>{{ $format_number(product.reviews_count) }} отзыв{{ product.reviews_count == 1 ? '' : (product.reviews_count && product.reviews_count < 5 ? 'а' : 'ов') }}</p>
            </div>
			<template v-if="!$isMobile()">
	            <p class="product-inner-available" v-if="product.quantity > 0">
	                <check />
	                Есть в наличии
	            </p>
	            <p class="product-inner-out" v-else>
	                <out-icon />
	                Нет в наличии
	            </p>
			</template>
			<p class="product-inner-out" v-if="product.purchase_count > 0">{{ $format_number(product.purchase_count) }} заказ{{ product.purchase_count == 1 ? '' : (product.purchase_count < 5 ? 'а' : 'ов') }}</p>
        </div>
        <div class="product-inner-price-wrp">
            <p class="product-inner-price">{{ $format_number(product.price) }} ₸</p>
            <p class="product-inner-old-price" v-if="product.discount">{{ $format_number(product.old_price) }} ₸</p>
            <p class="product-inner-economy" v-if="product.discount">Вы экономите: {{ $format_number(product.old_price - product.price) }} ₸</p>
        </div>
        <div class="product-inner-bonuses" v-if="product.cashback && !$isSignedIn()">
            <div class="product-inner-bonuses-icon">
                <gift-icon />
            </div>
            <p class="product-inner-bonuses-text">Вам начислится {{ $format_number(calculateCashback(product)) }} бонусов ({{ product.cashback }}%) при покупке с регистрации <nuxt-link to="/bonuses">Подробнее о бонусах</nuxt-link></p>
        </div>
        <div class="product-inner-discount" v-if="product.discount_date && secondsLeft > 0 && discount_hours < 24">
            <p class="">До конца акции</p>
            <div class="product-inner-discount-timer">
                <div class="timer">
                    <div>{{ discount_hours }}</div>
                    <div class="timer-label">час.</div>
                </div>
                <div>:</div>
                <div class="timer">
                    <div>{{ $pad(discount_minutes, 2) }}</div>
                    <div class="timer-label">мин.</div>
                </div>
                <div>:</div>
                <div class="timer">
                    <div>{{ $pad(discount_seconds, 2) }}</div>
                    <div class="timer-label">сек.</div>
                </div>
            </div>
        </div>
        <div class="product-inner-add-cart">
            <button class="button" :style="product.quantity <= 0 ? 'background-color: #e2e2e2;' : ''" @click="increaseProduct(product)" v-if="getCartCnt(product.id) == 0" :disabled="product.quantity <= 0">
                <cart-icon />
                Добавить в корзину
            </button>
            <div class="counter" v-else>
                <button class="counter-decrease" @click="decreaseProduct(product)"><decreaseIcon /></button>
                <span>{{ getCartCnt(product.id) }}</span>
                <button class="counter-increase"
                    @click="increaseProduct(product)"
                    :disabled="getCartCnt(product.id) >= product.quantity">
                    <increaseIcon /></button>
            </div>
            <button class="product-inner-fav" @click="toggleProduct(product)" v-if="!isFavorite(product)">
                <fav-icon />
            </button>
            <button class="product-inner-fav --added" @click="toggleProduct(product)" v-else>
                <fav-filled-icon />
            </button>
        </div>
        <p class="product-inner-delivery-text">
            <delivery-icon />
            {{ product.price > 10000 ? 'Бесплатная доставка по Казахстану.' : 'Бесплатная доставка от 10 000 тг.' }}
        </p>
        <nuxt-link class="product-inner-delivery-text --link" to="/delivery">Подробнее про условия доставки</nuxt-link>
        <div class="product-inner-about">
            <div class="product-inner-title-wrp" ref="productTabs">
                <p v-for="(content, index) in product.content"
                    @click="toggleTab(index)"
                    :key="index"
                    :class="{'--active' : currentTab == index}"
                    class="product-inner-about-title">
                    {{ content.label }}
                </p>
				<p :class="['product-inner-about-title', {'--active': currentTab == deliveryInfoTabIndex}]" @click="toggleTab(deliveryInfoTabIndex)">
					Оплата и доставка
				</p>
            </div>
            <content-limit v-for="(content, index) in product.content" v-if="index == currentTab" :key="index" :content="content.content" class="product-inner-about-text" />
			<content-limit v-if="currentTab == deliveryInfoTabIndex" class="product-inner-about-text" :content="getDeliveryTabContent()" />
        </div>
    </div>
</template>

<script>
import contentLimit from "@/components/partials/content-limit"
import favFilledIcon from "@/static/icons/favorites-filled.svg"
import decreaseIcon from "@/static/icons/minus.svg"
import increaseIcon from "@/static/icons/plus.svg"
import deliveryIcon from "@/static/icons/delivery.svg"
import favIcon from "@/static/icons/favorites.svg"
import cartIcon from "@/static/icons/cart-white.svg"
import check from "@/static/icons/check.svg"
import outIcon from "@/static/icons/out.svg"
import giftIcon from "@/static/icons/gift.svg"
import moment from 'moment'
import { mapActions, mapGetters } from "vuex"

export default {
	components: {
		favFilledIcon,
		favIcon,
		cartIcon,
		decreaseIcon,
		increaseIcon,
		deliveryIcon,
		check,
		outIcon,
		giftIcon,
		contentLimit
	},
	data() {
		return {
			currentTab: 0,
            now: moment(),
            interval: null
		}
	},
    created() {
        if (process.client) {
            this.interval = setInterval(() => {
                this.now = moment()
            }, 1000)
        }
    },
    watch: {
        '$route.path': function() {
            if (process.client && this.interval) {
                window.clearInterval(this.interval)
            }
        }
    },
	computed: {
		...mapGetters({
			product: "product/GET_PRODUCT",
			getCartCnt: "cart/GET_CART_CNT",
			isFavorite: "favorites/IS_FAVORITE",
		}),
        deliveryInfoTabIndex() {
            return this.product.content ? this.product.content.length + 1 : 1
        },
        secondsLeft() {
            return Math.floor(moment.duration(moment(this.product.discount_date).diff(this.now)).asSeconds())
        },
        discount_hours() {
            return this.$get_hours(this.secondsLeft)
        },
        discount_minutes() {
            return this.$get_minutes(this.secondsLeft)
        },
        discount_seconds() {
            return this.$get_seconds(this.secondsLeft)
        }
	},
    mounted() {
        if (process.client) {

        }
    },
	methods: {
		...mapActions({
			toggleProduct: "favorites/toggleProduct",
			increaseProduct: "cart/increaseProduct",
			decreaseProduct: "cart/decreaseProduct",
			createReview: "product/createReview",
		}),
		toggleTab(i) {
			this.currentTab = i
            let item = this.$refs.productTabs.childNodes[i]
            let parentWidth = this.$refs.productTabs.offsetWidth
            let parentFullWidth = this.$refs.productTabs.scrollWidth
            let itemWidth = item.offsetWidth
            let itemOffset = item.offsetLeft

            this.$refs.productTabs.scrollTo({
                top: 0,
                left: Math.min(Math.max(0, itemOffset + itemWidth * 0.5 - parentWidth / 2), parentFullWidth),
                behavior: 'smooth'
            })
		},
        calculateCashback(product) {
            return Math.floor(product.price * product.cashback / 100)
        },
		getDeliveryTabContent() {
			return `<h2>Способ оплаты</h2>
					<p><strong>Наличными при получении:</strong></p>
					<p>Вы можете оплатить заказ наличными при получении заказа курьером или в магазине, в случае самовывоза. , кроме доставки курьерской службой по Казахстану или доставкой через Казпочту. Оплата производится только в тенге. В подтверждение оплаты мы выдаем фискальный чек.</p>
					<p><strong>Оплата онлайн:</strong></p>
					<p>Вы можете оплатить покупку онлайн сразу после оформления заказа при помощи банковской карты. При проведении оплаты платёжными картами используется система Paybox. Для оплаты требуется ввести данные карты (номер, CVC/СVV код, срок действия) в защищенном виджете платежной системы. Для дополнительной безопасности используется технология 3-D Secure. Если Ваш Банк-эмитент поддерживает данную технологию, Вы будете перенаправлены на его сервер для прохождения дополнительной идентификации.</p>
                    <p><strong>Покупка в рассрочку на 3 месяца:</strong></p>
                    <p>Вы можете сделать покупку на нашем сайте сейчас, и оплатить ее в рассрочку за 3 месяца.</p>
                    <p><strong>Как это работает?</strong></p>
                    <p>- Выберите &laquo;ZoodPay&raquo; в качестве способа оплаты при оформлении заказа;<br />
                    - Введите личные данные и зарегистрируйте свою дебетовую или кредитную карту;<br />
                    - Получите мгновенное одобрение и оплачивайте покупку в рассрочку на 3 месяца.</p>
                    <p><strong>Преимущества&nbsp;для клиента.<br />
                    Платите за товары четырьмя равными частями в рассрочку. </strong></p>
                    <ul>
                    	<li>1-ая оплата в момент покупки</li>
                    	<li>2-ая оплата через 30 дней после покупки</li>
                    	<li>3-ая оплата через 60 дней после покупки</li>
                    	<li>4-ая оплата через 90 дней после покупки</li>
                    </ul>
                    <p>Никаких комиссий и переплат.Всегда нулевая комиссия, без процентов и переплат, когда вы платите вовремя. Мгновенное одобрение&nbsp;</p>
                    <p><strong>Нет длинных форм для заполнения! Вы узнаете, одобрен ли ваш заказ мгновенно, и ваши товары будут доставлены в стандартном режиме.<br />
                    Правила и условия </strong></p>
                    <p>- Вы должны быть старше 18 лет и авторизованным владельцем активной банковской карты со сроком действия не менее 3 месяцев;<br />
                    - Вам необходимо получить одобрение по результатам нашей проверки. &#39;ZoodPay&rsquo; мгновенно проверит ваши данные у внешнего кредитного агентства для подтверждения вашего заказа;<br />
                    - Ваша сумма заказа в рассрочку должна быть от 6,000 до 220,000 тенге. Для заказов с оплатой через 14 дней после доставки от 2,000 до 50,000 тенге.</p>
					<p><em><strong>Обратите внимание:</strong></em></p>
					<p><em>*Отправка заказов в другие города Казахстана, осуществляется только по 100% оплате заказа.</em></p>
					<p>&nbsp;</p>
					<h2>Доставка по Алматы:</h2>
					<p>Доставка заказов в пределах города Алматы, которые были оформлены до 19:00 производятся день в день с 11:00 до 21:00. Заказы оформленные после 19:00 доставляются на следующий день с 11:00 до 21:00.</p>
					<h3><strong>Доставка Казпочтой:</strong></h3>
					<p>Доставка заказов по Казахстану производится в течение 5-10 рабочих дней с момента оформления. Сроки доставки зависят от удаленности региона.</p>
					<p>Доставка свыше 10000 тг Казпочтой бесплатно.</p>
					<p>При заказе на сумму менее 10000 тг стоимость доставки составит 800 тг.</p>
					<h3><strong>Доставка курьерской службой:</strong></h3>
					<p>Доставка заказов по Казахстану производится в течение 2-3 рабочих дней с момента оформления. Сроки доставки зависят от удаленности региона.</p>
					<p>Доставка свыше 10000 тг бесплатная.</p>
					<p>При заказе на сумму менее 10000 тг стоимость доставки составит 1500 тг.</p>
					<p><em><strong>Обратите внимание:</strong></em></p>
					<p><em>*Отправка заказов в другие города Казахстана, осуществляется только по 100% оплате заказа.</em></p>
					<p><em>Также вы можете офомить заказ и забрать его самостоятельно в пункте самовывоза по адресу Тимирязева 38/1 магазин Only c 9:00 до 21:00</em></p>`
		}
	},
}
</script>
