<template>
    <transition name="fade">
        <div v-if="gift" class="modal">
            <div class="modal-overlay" @click="closeModal"></div>
            <div class="modal-inner">
                <confetti />
                <div class="modal-product">
                    <img src="/images/gift-ribbon.png" alt="image" class="modal-ribbon">
                    <img :src="gift.image" :alt="gift.name" class="modal-image">
                </div>
                <h4 class="modal-title">Поздравляю! Вы получили подарок: {{ gift.name }}</h4>
                <nuxt-link to="/profile/history" class="button" @click.native="closeModal">Перейти к истории заказов</nuxt-link>
            </div>
        </div>
    </transition>
</template>

<script>
import Confetti from "./confetti";
export default {
    components: {Confetti},
    watch: {
        gift(val) {
            if (val) {
                // TODO: confetti
            }
        }
    },
    methods: {
        closeModal() {
            return this.$setData('data.gift.modalProduct', null)
        }
    },
    computed: {
        gift() {
            return this.$getData('data.gift.modalProduct')
        }
    }
}
</script>

<style lang="stylus" scoped>
.modal-inner
    max-width 417px
    width 100%
.modal-product
    margin 24px auto
    position relative
    width 128px
    height 128px
    display flex
    align-items center
    justify-content center
    background var(--bg-base)
    border-radius 10px
.modal-image
    width 100%
    height 100%
    object-fit contain
.modal-ribbon
    position absolute
    left 0
    top 0
    z-index 1
    max-width 100px
.button
    max-width 260px
    margin-top 36px
</style>
