<template>
    <transition name="fade">
        <div v-if="$check('gift.modal')" class="modal">
            <div class="modal-overlay" @click="closeModal"></div>
            <div class="modal-inner">
                <img src="/images/gift-box.png" alt="image" width="128" height="128" class="modal-image">
                <h4 class="modal-title">Вы выиграли подарок от Only!</h4>
                <p class="modal-text">Переходите по кнопке и получите свой приз!</p>
                <nuxt-link :to="{path: '/gift', query: { order_id: $route.query.order_id }}" @click.native="closeModal" class="button">Получить</nuxt-link>
            </div>
        </div>
    </transition>
</template>

<script>
export default {
    mounted() {
        // TODO: confetti
    },
    methods: {
        closeModal() {
            this.$setFalse('gift.modal')
        }
    },
}
</script>

<style lang="stylus" scoped>
.modal-inner
    max-width 417px
    width 100%
.modal-text
    margin 16px auto
.modal-image
    margin 24px auto
.button
    max-width 200px
</style>
