<template>
    <div class="extra-page">
        <div class="layout-container">
            <div class="breadcrumbs">
                <button class="back" @click="$router.back()">Назад</button>
                <span>:</span>
                <nuxt-link to="">Помощь</nuxt-link>
                <nuxt-link to="">Доставка</nuxt-link>
            </div>
            <extra-nav />
            <div class="extra-page-row">
                <div class="extra-page-content">
                    <h1 class="extra-page-title">Доставка по Алматы:</h1>
                    <p class="extra-page-text">
                        В городе Алматы доставка осуществляется в трех разных зонах доставки, с разными условиями и ценами на доставку.
                    </p>
                    <y-map-info />
                    <map-info :toggle="false" />
                    <h2 class="extra-page-subtitle">
                        Экспресс доставка за час по Алматы:
                    </h2>
                    <p class="extra-page-text">
                        Для квадрата Достык - Аль-Фараби - Саина - Райымбека действует экспресс доставка. В магазине наш консультант за несколько минут комплектует заказ и передаёт курьеру, который в течение 1 часа или быстрее будет уже у двери. Заказы на экспресс доставку принимается с 10:00 утра до 19:00 вечера.
                        Экспресс доставка доступна только при онлайн оплате.
                    </p>
                </div>
            </div>
            <div class="extra-page-row">
                <div class="extra-page-content">
                    <h3 class="extra-page-title">В другие города Казахстана:</h3>
                    <p class="extra-page-subtitle">Курьерская доставка:</p>
                    <p class="extra-page-text">
                        Стоимость доставки в другие города Казахстана составляет 1 500 тг, сроки курьерской доставки от 1 до 4 рабочих дней
                    </p>
                    <p class="extra-page-subtitle">Доставка Казпочтой:</p>
                    <p class="extra-page-text">
                        Стоимость доставки Казпочтой в другие города и населенные пункты Казахстана составляет 800 тг
                    </p>
                    <p class="extra-page-text">
                        При заказе на сумму свыше 10 000 тг - <span class="-green">доставка бесплатная по Казахстану</span>
                    </p>
                    <p class="extra-page-text">
                        Сроки доставки через Казпочту составляют от 3 до 8 рабочих дней, однако в некоторых случаях, почта может доставлять заказ дольше
                    </p>
                    <div class="extra-page-note">
                        <h4 class="extra-page-note-title">Обратите внимание:</h4> 
                        <p class="extra-page-text">
                            <b>Будьте внимательны!</b> При указании Вашего почтового индекса и адреса. По нему будет рассчитываться стоимость почтовой пересылки заказа.
                        </p> 
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import extraNav from '@/components/extra-page/nav'
import MapInfo from "@/components/partials/map-info";
import YMapInfo from "@/components/partials/YMapInfo";

export default {
    components: {
        YMapInfo,
        MapInfo,
        extraNav,
    }
}
</script>
