.profile-address
    .profile-page-title
        margin-bottom 24px
    .button.--save
        margin-top 24px
        min-width 125px
    .profile-page-input
        border-bottom 1px solid var(--line-color)
        width 360px
    &-row
        display -webkit-flex
        display -moz-flex
        display -ms-flex
        display -o-flex
        display flex
        width 360px
        margin-top 16px
        justify-content space-between
        div
            width 30%
            .profile-page-input 
                width 100%
    &-item-top
        display -webkit-flex
        display -moz-flex
        display -ms-flex
        display -o-flex
        display flex
        align-items flex-start
    &-btn
        background-color #fff
        padding 0
        width 16px
        height 16px
        margin-left 16px
        svg 
            width 100%
            height 100%
        path
            fill #8A8F99
    &-item
        padding 20px 0
        border-bottom 1px solid var(--line-color)
        .profile-page-text
            font-size em(12)
            flex-grow 1
    &-item-bot
        margin-top 20px
@media screen and (max-width 430px)
    .profile-address
        .profile-page-input
        &-row
            width 100%
@media screen and (max-width 321px)
    .profile-address
        &-row 
            flex-wrap wrap 
            div 
                width 100%
                margin-bottom 16px
            div:last-child
                margin-bottom 0
