.profile-bonus
    .profile-page-label
        text-transform uppercase
        font-weight 700
    .profile-page-text
        span 
            color var(--major-color)
            font-weight 700
    &-table
        .profile-page-text
            font-size em(12)
    &-row
        align-items center
        display -webkit-flex
        display -moz-flex
        display -ms-flex
        display -o-flex
        display flex
        padding 18px 0
        border-bottom 1px solid var(--line-color)
    &-col
        &:first-child
            width 30%
        &:nth-child(2)
            flex-grow 1