.profile-history
    .profile-page-text
        font-size em(14)
        &.-gift
            color var(--minor-color)
            font-size 12px
            font-weight 700
    &-quantity
        white-space nowrap
    &-gift-btn
        text-transform uppercase
        font-size 12px
        font-weight 700
        color var(--major-color)
        margin-right 8px
    &-row
        display -webkit-flex
        display -moz-flex
        display -ms-flex
        display -o-flex
        display flex
        padding 20px 0
    &-order
        border-bottom 1px solid var(--line-color)
        padding-bottom 24px
    &-btn
        background-color #fff
        padding 0
        width 16px
        height 16px
        margin-left 16px
        &.--arrow 
            width 20px
            height 20px
            svg 
                transform rotate(-90deg)
        svg
            width 100%
            height 100%
        path
            fill #8A8F99
    &-col 
        &:last-child
            display -webkit-flex
            display -moz-flex
            display -ms-flex
            display -o-flex
            display flex
            align-items center
        &:first-child
        &:nth-child(2)
            width 25%
        &:nth-child(3)
            flex-grow 1
    &-subtitle
        font-size em(16)
        font-weight 700
        color var(--text-color)
        margin 24px 0
    &-product
        background-color var(--bg-base)
        border-radius 8px
        display -webkit-flex
        display -moz-flex
        display -ms-flex
        display -o-flex
        display flex
        align-items center
        padding 8px
        margin-bottom 8px
    &-image
        width 48px
        height 48px
        background-color #fff
        border-radius 8px
        flex-shrink 0
        margin-right 16px
        overflow hidden
        position relative
        &-gift
            position absolute
            left 0
            top: 0
        img 
            width 100%
            height 100%
            object-fit contain
    &-name-wrp
        flex-grow 1
        flex: 0 0 70%
        padding-right 10px
        .profile-page-label
            text-transform uppercase
    &-price
        width 95px
        padding-right 8px
        text-align right
        &.-green
            color #55D5B6
            font-size 12px
            font-weight 700
    &-list 
        margin-bottom 16px
    &-list-item
        display -webkit-flex
        display -moz-flex
        display -ms-flex
        display -o-flex
        display flex
        padding 12px 0
        border-bottom 1px solid var(--line-color)
        .profile-page-text
            width 50%
            font-size em(12)
@media screen and (max-width 430px)
    .profile-history
        &-product
            flex-wrap wrap
        &-name-wrp
            flex-grow initial 
            width 75%
        &-quantity 
            margin-left 64px
        &-row 
            flex-wrap wrap
            position relative
        &-col:first-child 
        &-col:nth-child(2) 
            width 40%
        &-col:nth-child(3)
            width 100%
        &-col:last-child
            position absolute
            right 0
            top 20px
            z-index 1
            width auto
@media screen and (max-width 321px)
    .profile-history
        &-name-wrp
            width 70%
