.profile-page
    margin-top 40px
    padding-bottom 80px
    &-row
        display -webkit-flex
        display -moz-flex
        display -ms-flex
        display -o-flex
        display flex
        justify-content center
        align-items flex-start
    &-content 
        border-radius 8px
        background-color #fff
        width 100%
        padding 40px 24px
        align-self stretch
    &-title 
        font-size em(20)
        font-weight 700
        color var(--text-color)
    &-text 
        font-size em(16)
        font-weight 400
        color var(--text-color)
    &-link 
        font-size em(12)
        font-weight 700
        color var(--major-color)
    &-label
        font-size em(12)
        font-weight 400
        color #8A8F99
        display block
        span
            color #F56A5B
    &-divider
        width 100%
        height 1px
        background-color var(--line-color)
        margin 26px 0
    &-input-wrp
        position relative
        max-width 325px
        margin-bottom 24px
        &:last-child
            margin-bottom 0
    &-edit
        background-color #fff
        padding 0
        font-size em(14)
        font-weight 700
        color var(--major-color)
        position absolute
        right 0
        top 0
    &-input
        background-color #fff
        border none 
        font-size em(14)
        font-weight 400
        color var(--text-color)
        width 260px
        &:disabled
            color var(--text-color)
            background-color #fff
    &-title-wrp
        display none
    &-wrapper
        width 100%
        max-width 650px
@media screen and (max-width 769px)
    .profile-page
        margin-top 16px
        &-title-wrp 
            display block
            position relative
            text-align center
            margin-bottom 16px
        &-heading 
            font-size em(16)
            font-weight 700
            color var(--text-color)
        &-back 
            padding 0
            position absolute
            left 0
            top 50%
            transform translateY(-50%)
            background-color transparent
            font-size em(12)
            font-weight 400
            color var(--text-color)
            display flex
            align-items center
            svg 
                width 16px
                height 16px
        &-row 
            display block
        &-title 
            font-size em(18)
        &-content 
            padding 40px 16px
            max-width 100%
@media screen and (max-width 430px)
    .profile-page
        &-edit 
            position static
        .button
            width 100%
