.profile-info
    .profile-page-input-wrp
    .profile-page-label 
        margin-left 50px
    &-title-wrp
        display -webkit-flex
        display -moz-flex
        display -ms-flex
        display -o-flex
        display flex
        align-items center
        margin-bottom 26px
        svg
            margin-right 16px
            width 32px
            height 32px
@media screen and (max-width 430px)
    .profile-info
        .profile-page-input-wrp
        .profile-page-label
            margin-left 40px
        &-title-wrp
            margin-bottom 16px
            svg 
                width 24px
                height 24px
