.profile-nav
    width 264px
    margin-right 24px
    &-name-wrp
        border-radius 8px
        background-color #fff
        padding 24px 16px
        display -webkit-flex
        display -moz-flex
        display -ms-flex
        display -o-flex
        display flex
        align-items center
    &-userpic-icon
        width 56px
        height 56px
        border-radius 100%
        background-color #C3CAD9
        display -webkit-flex
        display -moz-flex
        display -ms-flex
        display -o-flex
        display flex
        justify-content center
        align-items center    
    &-userpic 
        margin-right 16px
        flex-shrink 0
    &-name 
        font-size em(12)
        font-weight 400
        color var(--text-color)
        b 
            font-size 14px
            font-weight 700
            display block
    &-list
        border-radius 8px
        background-color #fff
    &-link
    &-link.--info
        &.nuxt-link-exact-active
            background-color var(--major-color)
            color #fff
            border-radius 8px
            path
                fill #fff
    &-link
    &-logout
        display -webkit-flex
        display -moz-flex
        display -ms-flex
        display -o-flex
        display flex
        align-items center
        font-size em(12)
        font-weight 700
        color var(--text-color)
        padding 16px
        svg
            width 20px
            height 20px
            flex-shrink 0
            margin-right 16px
        &.--info
            border-radius 8px
            margin 8px 0
            background-color #fff
    &-logout
        background-color #fff
        width 100%
        border-radius 8px
        margin-top 8px
        color #F56A5B
@media screen and (max-width 769px)
    .profile-nav
        width 100%
        margin-right 0