<template>
    <div class="profile-address-item">
        <div class="profile-address-item-top">
            <p class="profile-page-text">{{ Object.values(address).slice(1).filter(val => val).join(', ') }}</p>
            <button class="profile-address-btn" @click="edit = !edit">
                <edit-icon />
            </button>
            <button class="profile-address-btn" @click="removeAddress">
                <remove-icon />
            </button>
        </div>
        <form @submit.prevent="updateAddress" class="profile-address-item-bot" v-if="edit">
            <div class="profile-address-input-wrp">
                <label class="profile-page-label">Улица <span>*</span></label>
                <input type="text" class="profile-page-input" v-model="address.street" required />
            </div>
            <div class="profile-address-row">
                <div>
                    <label class="profile-page-label">Дом</label>
                    <input type="text" class="profile-page-input" v-model="address.house" />
                </div>
                <div>
                    <label class="profile-page-label">Квартира / офис</label>
                    <input type="text" class="profile-page-input" v-model="address.apartment" />
                </div>
                <div>
                    <label class="profile-page-label">Индекс</label>
                    <input type="text" class="profile-page-input" v-model="address.index" />
                </div>
            </div>
            <button type="submit" v-ripple="'rgba(255, 255, 255, 0.2)'" class="button --save">Сохранить</button>
        </form>
    </div>
</template>

<script>
import editIcon from '@/static/icons/edit.svg'
import removeIcon from '@/static/icons/close.svg'

export default {
    components: {
        editIcon,
        removeIcon
    },
    props: ['value'],
    data() {
        return {
            address: {...this.value},
            edit: false,
        }
    },
    methods: {
        async removeAddress() {

        },
        async updateAddress() {

        }
    }
}

</script>
