<template>
    <div class="profile-address">
        <h4 class="profile-page-title" v-if="!addresses || addresses.length == 0">Вы пока не добавили ни одного адреса.</h4>
        <button v-ripple="'rgba(255, 255, 255, 0.2)'" class="button" @click="createOpen = true">Добавить адрес</button>
        <div class="profile-page-divider"></div>

        <form @submit.prevent="createAddress" v-if="createOpen">
            <h4 class="profile-page-title">Новый адрес</h4>
            <div class="profile-address-input-wrp">
                <label class="profile-page-label">Улица <span>*</span></label>
                <input type="text" class="profile-page-input" required />
            </div>
            <div class="profile-address-row">
                <div>
                    <label class="profile-page-label">Дом</label>
                    <input type="text" class="profile-page-input" />
                </div>
                <div>
                    <label class="profile-page-label">Квартира / офис</label>
                    <input type="text" class="profile-page-input" />
                </div>
                <div>
                    <label class="profile-page-label">Индекс</label>
                    <input type="text" class="profile-page-input" />
                </div>
            </div>
            <button type="submit" v-ripple="'rgba(255, 255, 255, 0.2)'" class="button --save">Сохранить</button>
            <button type="button" v-ripple="'rgba(255, 255, 255, 0.2)'" class="button --cancel" @click="createOpen = false">Отменить</button>
        </form>
        <address-item v-for="(address, index) in addresses" :key="index" :value="address" />
    </div>
</template>

<script>
import AddressItem from '@/components/profile/address'
import { mapGetters } from 'vuex'

export default {
    components: {
        AddressItem
    },
    data() {
        return {
            createOpen: false
        }
    },
    computed: {
        ...mapGetters({
            addresses: 'user/GET_ADDRESSES'
        })
    },
    methods: {
        async createAddress() {

        },
    }
}
</script>
