<template>
    <div class="profile-bonus">
        <h4 class="profile-page-title">Мой баланс</h4>
        <p class="profile-page-text" v-if="$user().bonus">У вас <span>{{ $format_number($user().bonus) }} бонусов</span> с покупок</p>
        <p class="profile-page-text" v-else>У вас нет бонусов с покупок</p>
        <nuxt-link class="profile-page-link" to="/bonuses">Подробнее о бонусах</nuxt-link>
        <div class="profile-page-divider"></div>
        <h4 class="profile-page-title">История операций</h4>
        <div class="profile-bonus-table" v-if="bonuses">
            <div class="profile-bonus-row">
                <div class="profile-bonus-col">
                    <span class="profile-page-label">Время</span>
                </div>
                <div class="profile-bonus-col">
                    <span class="profile-page-label">Описание</span>
                </div>
                <div class="profile-bonus-col">
                    <span class="profile-page-label">Сумма</span>
                </div>
            </div>
            <div class="profile-bonus-row" v-for="(bonus, index) in bonuses" :key="index">
                <div class="profile-bonus-col">
                    <p class="profile-page-text">{{ $format_date(bonus.created_at, 'DD.MM.YYYY / HH:mm') }}</p>
                </div>
                <div class="profile-bonus-col">
                    <p class="profile-page-text">{{ bonus.description }}</p>
                </div>
                <div class="profile-bonus-col">
                    <p class="profile-page-text">
                        <b v-if="bonus.used">-{{ $format_number(bonus.used) }} ₸</b>
                        <b v-if="bonus.added">+{{ $format_number(bonus.added) }} ₸</b>
                    </p>
                </div>
            </div>
        </div>
        <p class="profile-page-text" v-else>У вас нет операций с бонусами Only</p>
    </div>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
    computed: {
        ...mapGetters({
            bonuses: 'user/GET_BONUSES'
        })
    },
}
</script>
