<template>
    <transition name="fade">
        <div v-if="$check('profile.email')" class="modal">
            <div class="modal-overlay" @click="closeModal"></div>
            <transition name="fade">
                <form class="modal-inner" v-if="currentWindow == 0" @submit.prevent="saveEmail">
                    <button type="button" class="modal-close" @click="closeModal">
                        <close-icon />
                    </button>
                    <h4 class="modal-title">Укажите новый e-mail</h4>
                    <p class="modal-text">На него мы отправим код подтверждения</p>
                    <div class="modal-input-wrp">
                        <input type="email" v-model="user.email" class="modal-input" placeholder="example@gmail.com">
                        <p class="modal-error" v-if="$api.getError('profile.email')">{{ $api.getError('profile.email') }}</p>
                    </div>
                    <button type="submit" v-ripple="'rgba(255, 255, 255, 0.2)'"  class="button">Отправить</button>
                </form>
            </transition>
            <transition name="fade">
                <div class="modal-inner" v-if="currentWindow == 1">
                    <button class="modal-close" @click="closeModal">
                        <close-icon />
                    </button>
                    <img class="modal-image" src="/icons/email-modal.png" alt="Only.kz image">
                    <h4 class="modal-title">Подтвердите e-mail</h4>
                    <p class="modal-text">На ваш почтовый адрес отправлено письмо с подтверждением</p>
                    <button class="button" v-ripple="'rgba(255, 255, 255, 0.2)'" @click="closeModal">Продолжить</button>
                </div>
            </transition>
        </div>
    </transition>
</template>

<script>
import closeIcon from '@/static/icons/close.svg'
import { mapActions } from 'vuex'

export default {
    components: {
        closeIcon
    },
    data: () => ({
        currentWindow: 0,
        user: {},
    }),
    mounted() {
        this.user = Object.assign({}, this.$user())
    },
    methods: {
        ...mapActions({
            save: 'user/updateLogin',
        }),
        closeModal() {
            this.currentWindow = 0
            this.$setFalse('profile.email')
        },
        async saveEmail() {
            if (this.user.email != this.$user().email) {
                await this.save({ login: this.user.email, error: 'profile.email'})
            }

            if (!this.$api.getError('profile.email')) {
                this.currentWindow = 1
            }
        },
    }
}
</script>
