<template>
    <footer class="profile-footer">
        <div class="footer-bot">
            <div class="layout-container">
                <div class="footer-row">
                    <p class="footer-copyright">{{ year }} © Only.kz интернет-магазин</p>
                    <a href="https://brandstudio.kz" target="_blank" class="footer-developer">
                        <bs-letter class="footer-bs-letter" />
                        <bs-text class="footer-bs-text" />
                    </a>
                </div>
            </div>
        </div>
    </footer>
</template>

<script>
import instaIcon from '@/static/icons/insta.svg'
import bsText from '@/static/icons/bs-logo-text.svg'
import bsLetter from '@/static/icons/bs-logo-b.svg'
export default {
    components: {
        instaIcon,
        bsText,
        bsLetter
    },
    computed: {
        year() {
            return new Date().getFullYear()
        }
    }
}
</script>
