<template>
    <div class="profile-history">
        <h4 class="profile-page-title">История заказов</h4>
        <div v-if="!orders || orders.length == 0">
            <p class="profile-history-subtitle">Список заказов пуст</p>
            <nuxt-link class="button" v-ripple="'rgba(255, 255, 255, 0.2)'" to="/catalog">Перейти к каталогу</nuxt-link>
        </div>
        <order v-for="(order, index) in orders" :key="index" :value="order" />
    </div>
</template>

<script>
import Order from '@/components/profile/order'
import { mapGetters } from 'vuex'

export default {
    components: {
        Order
    },
    computed: {
        ...mapGetters({
            orders: 'user/GET_ORDERS',
        })
    }
}
</script>
