<template>
    <div class="profile-info">
        <div class="profile-info-title-wrp">
            <contacts-icon />
            <h4 class="profile-page-title">Учетная запись</h4>
        </div>
        <label class="profile-page-label">Телефон</label>
        <div class="profile-page-input-wrp">
            <input type="text" :value="$mask(user.phone, '+# (###) ###-##-##')" :disabled="!$check('profile.phone')" class="profile-page-input" disabled />
            <!-- <button class="profile-page-edit" @click="$setTrue('profile.phone')">Изменить</button> -->
        </div>
        <label class="profile-page-label">Почта</label>
        <form class="profile-page-input-wrp" @submit.prevent="saveUser('email')">
            <input type="text" v-model="user.email" :disabled="!$check('profile.email')" class="profile-page-input" required />
            <button type="submit" class="profile-page-edit" v-if="$check('profile.email')">Сохранить</button>
            <button type="button" class="profile-page-edit" @click="enable($event, 'profile.email')" v-else>Изменить</button>
        </form>
        <div class="profile-page-divider"></div>
        <div class="profile-info-title-wrp">
            <user-icon />
            <h4 class="profile-page-title">Личные данные</h4>
        </div>
        <label class="profile-page-label">Фамилия Имя</label>
        <form class="profile-page-input-wrp" @submit.prevent="saveUser('name')">
            <input type="text" v-model="user.name" :disabled="!$check('profile.name')" class="profile-page-input" required>
            <button type="submit" class="profile-page-edit" v-if="$check('profile.name')">Сохранить</button>
            <button type="button" class="profile-page-edit" @click="enable($event, 'profile.name')" v-else>Изменить</button>
        </form>
        <label class="profile-page-label">Дата рождения</label>
        <form class="profile-page-input-wrp" @submit.prevent="saveUser('birth_date')">
            <v-date placeholder="дд.мм.гггг" v-model="user.birth_date" :disabled="!$check('profile.birth_date')" class="profile-page-input" required />
            <button type="submit" class="profile-page-edit" v-if="$check('profile.birth_date')">Сохранить</button>
            <button type="button" class="profile-page-edit" @click="enable($event, 'profile.birth_date')" v-else>Изменить</button>
        </form>
    </div>
</template>

<script>
import contactsIcon from '@/static/icons/shield.svg'
import userIcon from '@/static/icons/user-circle.svg'
import passIcon from '@/static/icons/password.svg'
import vDate from '@/components/partials/v-date'
import { mapActions } from 'vuex'
import moment from 'moment'

export default {
    components: {
        contactsIcon,
        userIcon,
        passIcon,
        vDate
    },
    data() {
        return {
            user: {},
            old_password: null,
            new_password: null,
            cnew_password: null
        }
    },
    created() {
        this.user = Object.assign({}, this.$user())
    },
    methods: {
        ...mapActions({
            updateUser: 'user/updateUser',
        }),
        enable(e, key) {
            e.preventDefault()
            this.$setTrue(key)
            let input = e.target.parentNode.querySelector('input')
            this.$nextTick(() => {
                input.placeholder=input.value
                input.value = ''
                input.focus()
            }, 100)
        },
        async saveUser(field) {
            let value = this.user[field]

            if (this.$user()[field] != this.user[field]) {
                await this.updateUser({ [field]: value })
            }
        },
    },
}
</script>
