<template>
    <nav class="profile-nav">
        <div class="profile-nav-name-wrp">
            <div class="profile-nav-userpic">
                <div class="profile-nav-userpic-icon">
                    <userpic-icon />
                </div>
            </div>
            <p class="profile-nav-name">Здравствуйте, <b>{{ user.name }}</b></p>
        </div>
        <nuxt-link class="profile-nav-link --info" to="/profile/info">
            <info-icon />
            Личные данные
        </nuxt-link>
        <div class="profile-nav-list">
            <nuxt-link class="profile-nav-link" to="/profile/bonuses">
                <bonus-icon />
                Бонусы
            </nuxt-link>
            <!-- <nuxt-link class="profile-nav-link" to="/profile/addresses">
                <address-icon />
                Адреса доставки
            </nuxt-link> -->
            <nuxt-link class="profile-nav-link" to="/profile/history">
                <history-icon />
                История заказов
            </nuxt-link>
        </div>
        <button class="profile-nav-logout" @click="logout">
            <logout-icon />
            Выйти
        </button>
    </nav>
</template>

<script>
import userpicIcon from '@/static/icons/userpic-icon.svg'
import infoIcon from '@/static/icons/user.svg'
import bonusIcon from '@/static/icons/gift-outline.svg'
import addressIcon from '@/static/icons/address.svg'
import historyIcon from '@/static/icons/history.svg'
import logoutIcon from '@/static/icons/logout.svg'
import {mapGetters, mapActions} from 'vuex'

export default {
    computed: {
        ...mapGetters({
            user: 'user/GET_USER'
        })
    },
    methods: {
        ...mapActions({
            logout: 'auth/logout'
        }),
    },
    components: {
        userpicIcon,
        infoIcon,
        bonusIcon,
        addressIcon,
        historyIcon,
        logoutIcon
    }
}
</script>
