<template>
    <div class="profile-history-order">
        <transition name="fade">
            <remove-modal :order="order" v-model="remove" v-if="remove" @cancel="cancelOrder" @canceled="updateList" />
        </transition>

        <div class="profile-history-row">
            <div class="profile-history-col">
                <p class="profile-page-text">№{{ order.id }}</p>
            </div>
            <div class="profile-history-col">
                <p class="profile-page-text">{{ $format_date(order.created_at, 'DD.MM.YYYY') }}</p>
            </div>
            <div class="profile-history-col">
                <p class="profile-page-text"><b>{{ order.status.label }}</b></p>
            </div>
            <div class="profile-history-col">
                <button class="profile-history-btn --arrow" @click="edit = !edit">
                    <edit-icon />
                </button>
                <button class="profile-history-btn" @click="remove = true" v-if="">
                    <remove-icon />
                </button>
            </div>
        </div>
        <transition name="fade">
            <div v-if="edit">
                <div class="profile-history-product" v-for="(item, index) in order.items" :key="index">
                    <div class="profile-history-image">
                        <img :src="item.image" :alt="item.name" />
                    </div>
                    <div v-if="item.product" class="profile-history-name-wrp">
                        <nuxt-link :to="`/catalog?brand=${item.product.brand.slug}`" v-if="item.product.brand" class="profile-page-label">
                            {{ item.product.brand.name }}
                        </nuxt-link>
                        <nuxt-link :to="`/catalog/${item.product.category.slug}/${item.product.subcategory.slug}/${item.product.slug}`" class="profile-page-text">
                            {{ item.name }}
                        </nuxt-link>
                    </div>
                    <div v-else class="profile-history-name-wrp">
                        <p class="profile-page-label"></p>
                        <p class="profile-page-text">{{ item.name }}</p>
                    </div>
                    <div class="profile-history-quantity">
                        <p class="profile-page-text"><b>{{ $format_number(item.quantity) }} шт.</b></p>
                    </div>
                    <div class="profile-history-price">
                        <p class="profile-page-text"><b>{{ $format_number(item.price) }} ₸</b></p>
                    </div>
                </div>
                <div class="profile-history-product" v-if="order.gift && order.gift.id">
                    <div class="profile-history-image">
                        <img src="/images/gift-ribbon.png" alt="image" class="profile-history-image-gift">
                        <img :src="order.gift.image" :alt="order.gift.name" />
                    </div>
                    <div class="profile-history-name-wrp">
                        <p class="profile-page-text"> {{ order.gift.name }}</p>
                    </div>
                    <div class="profile-history-quantity">
                        <p class="profile-page-text"><b>1 шт.</b></p>
                    </div>
                    <div class="profile-history-price -green">
                        Подарок
                    </div>
                </div>
                <div class="profile-history-product" v-else-if="order.can_roll">
                    <div class="profile-history-image">
                        <img src="/images/gift-box.png" alt="image" />
                    </div>
                    <div class="profile-history-name-wrp">
                        <p class="profile-page-text">Подарок от Only</p>
                    </div>
                    <nuxt-link :to="`/gift?order_id=${order.id}`" class="profile-history-gift-btn">Получить</nuxt-link>
                </div>
                <ul class="profile-history-list">
                    <li class="profile-history-list-item">
                        <p class="profile-page-text">Доставка</p>
                        <p class="profile-page-text">{{ order.delivery_type.label }}</p>
                    </li>
                    <li class="profile-history-list-item">
                        <p class="profile-page-text">{{ isCourier ? 'Адрес доставки' : 'Пункт самовывоза' }}</p>
                        <p class="profile-page-text">{{ isCourier ? order.address : (order.shop ? order.shop.name : '') }}</p>
                        <!-- <p class="profile-page-text">Алматы, Аль-Фараби 12, дом 1, кв. 22, 434500</p> -->
                    </li>
                    <li class="profile-history-list-item">
                        <p class="profile-page-text">Способ оплаты</p>
                        <p class="profile-page-text">{{ order.payment_type.label }}</p>
                    </li>
                    <li class="profile-history-list-item" v-if="isOnline">
                        <p class="profile-page-text">Статус оплаты</p>
                        <p class="profile-page-text">{{ order.payment_status.label }}</p>
                    </li>
                    <li class="profile-history-list-item">
                        <p class="profile-page-text">Кэшбек</p>
                        <p class="profile-page-text">{{ $format_number(order.cashback) }} %</p>
                    </li>
                    <li class="profile-history-list-item">
                        <p class="profile-page-text">Использовано</p>
                        <p class="profile-page-text">{{ $format_number(order.bonuses_used) }} ₸</p>
                    </li>
                    <li class="profile-history-list-item">
                        <p class="profile-page-text">Начислено</p>
                        <p class="profile-page-text">{{ $format_number(order.bonuses_added) }} ₸</p>
                    </li>
                    <li class="profile-history-list-item">
                        <p class="profile-page-text">Общая стоимость</p>
                        <p class="profile-page-text">{{ $format_number(order.absolute_total) }} ₸</p>
                    </li>
                    <li class="profile-history-list-item">
                        <p class="profile-page-text">Стоимость доставки</p>
                        <p class="profile-page-text">{{ $format_number(order.delivery_cost) }} ₸</p>
                    </li>
                    <li class="profile-history-list-item">
                        <p class="profile-page-text"><b>Итого</b></p>
                        <p class="profile-page-text"><b>{{ $format_number(order.total) }} ₸</b></p>
                    </li>
                </ul>
                <div>
                    <button v-ripple="'rgba(0, 0, 0, 0.1)'" class="button --red" @click="remove = true" v-if="order.can_cancel">Отменить заказ</button>
                    <button v-ripple="'rgba(255, 255, 255, 0.2)'" class="button" @click="startPayment" v-if="order.can_pay">Оплатить заказ</button>
                </div>
            </div>
        </transition>
    </div>
</template>

<script>
import { $urls } from '~/common/urls.js'
import editIcon from '@/static/icons/arrow-icon.svg'
import removeIcon from '@/static/icons/close.svg'
import removeModal from '@/components/profile/remove-modal'

const ONLINE = 1;
const COURIER = 0;

export default {
    components: {
        editIcon,
        removeModal,
        removeIcon
    },
    props: ['value'],
    data() {
        return {
            remove: false,
            edit: false,
            order: { ...this.value }
        }
    },
    computed: {
        isCourier: function() {
            return this.order.delivery_type.value == COURIER
        },
        isOnline: function() {
            return this.order.payment_type.value == ONLINE
        }
    },
    methods: {
        async cancelOrder() {
            try {
                await this.$store.dispatch('user/cancelOrder', this.order.id)
            } catch (e) {
                //
            }
        },
        async updateList() {
            this.order = {...this.value}
        },
        async startPayment() {
            let url = await this.$api.post($urls.url('user.order', [this.order.id]), {
                success_url: window.location+"?success=1",
                failure_url: window.location+"?success=0"
            })
            if (url) {
                window.location.href = url
            }
        }
    }
}
</script>
