<template>
    <transition name="fade">
        <div v-if="$check('profile.password')" class="modal">
            <div class="modal-overlay" @click="closeModal"></div>
            <transition name="fade">
                <form class="modal-inner" v-if="currentWindow == 0" @submit.prevent="savePassword">
                    <button type="button" class="modal-close" @click="closeModal">
                        <close-icon />
                    </button>
                    <h4 class="modal-title">Пароль</h4>
                    <div class="modal-input-wrp">
                        <input type="password" class="modal-input" placeholder="Старый пароль" v-model="old_password" required>
                        <p class="modal-error" v-if="$api.getError('profile.password.old')">{{ $api.getError('profile.password.old') }}</p>
                    </div>
                    <div class="modal-input-wrp">
                        <input type="password" class="modal-input" placeholder="Новый пароль" v-model="new_password" required>
                        <p class="modal-error" v-if="$api.getError('profile.password.new')">{{ $api.getError('profile.password.new') }}</p>
                    </div>
                    <div class="modal-input-wrp">
                        <input type="password" class="modal-input" placeholder="Повторите пароль" v-model="new_passwordc" required>
                        <p class="modal-error" v-if="$api.getError('profile.password.new_c')">{{ $api.getError('profile.password.new_c') }}</p>
                    </div>
                    <button type="submit" v-ripple="'rgba(0, 0, 0, 0.1)'" class="modal-btn">Сохранить</button>
                </form>
            </transition>
            <transition name="fade">
                <div class="modal-inner" v-if="currentWindow == 1">
                    <button class="modal-close" @click="closeModal">
                        <close-icon />
                    </button>
                    <success-icon />
                    <h4 class="modal-title">Пароль успешно изменен</h4>
                    <button class="modal-btn --margin" v-ripple="'rgba(0, 0, 0, 0.1)'" @click="closeModal">Вернуться</button>
                </div>
            </transition>
        </div>
    </transition>
</template>

<script>
import closeIcon from '@/static/icons/close.svg'
import successIcon from '@/static/icons/success.svg'
import { mapActions } from 'vuex'

export default {
    components: {
        closeIcon,
        successIcon
    },
    data: () => ({
        currentWindow: 0,
        old_password: null,
        new_password: null,
        new_passwordc: null,
    }),
    methods: {
        ...mapActions({
            updatePassword: 'user/updatePassword',
        }),
        closeModal() {
            this.currentWindow = 0
            this.$setFalse('profile.password')
        },
        async savePassword() {
            if (this.new_password != this.new_passwordc) {
                this.$api.setError('profile.password.new', 'Пароли не совпадают!')
                return
            }

            await this.updatePassword({
                new_password: this.new_password,
                password: this.old_password
            })

            if (!this.$api.getError('profile.password.old')) {
                this.currentWindow = 1
            }
        }
    },
}
</script>
