<template>
    <transition name="fade">
        <div v-if="$check('profile.phone')" class="modal">
            <div class="modal-overlay" @click="closeModal"></div>
            <transition name="fade">
                <form class="modal-inner" v-if="currentWindow == 0" @submit.prevent="savePhone">
                    <button type="button" class="modal-close" @click="closeModal">
                        <close-icon />
                    </button>
                    <h4 class="modal-title">Укажите новый номер</h4>
                    <div class="modal-input-wrp">
                        <client-only>
                            <the-mask class="modal-input"
                                :mask="['+# (###) ###-##-##']"
                                type="tel"
                                v-model="phone"
                                placeholder="+7 700 123 4567"
                                required />
                        </client-only>
                        <p class="modal-error" v-if="$api.getError('profile.phone')">{{ $api.getError('profile.phone') }}</p>
                    </div>
                    <button type="submit" v-ripple="'rgba(255, 255, 255, 0.2)'" class="button">Получить код</button>
                </form>
            </transition>
            <transition name="fade">
                <form class="modal-inner --phone-confirm" v-if="currentWindow == 1" @submit.prevent="verifyPhone">
                    <button type="button" class="modal-close" @click="closeModal">
                        <close-icon />
                    </button>
                    <sms-icon />
                    <h4 class="modal-title">Подтверждение</h4>
                    <p class="modal-text">Код с подтверждением был отправлен на номер <b>+{{ phone }}</b></p>
                    <div class="modal-input-wrp --no-margin">
                        <input type="tel" class="modal-input" v-model="code" ref="code" required>
                        <p class="modal-error" v-if="$api.getError('profile.phone.verify')">{{ $api.getError('profile.phone.verify') }}</p>
                    </div>
                    <button type="submit" v-ripple="'rgba(255, 255, 255, 0.2)'" class="button --margin">Подтвердить</button>
                    <button type="button" v-ripple="'rgba(0, 0, 0, 0.1)'" class="modal-btn" @click="restart">Использовать другой номер</button>
                </form>
            </transition>
            <transition name="fade">
                <div class="modal-inner" v-if="currentWindow == 2">
                    <button class="modal-close" @click="closeModal">
                        <close-icon />
                    </button>
                    <success-icon />
                    <h4 class="modal-title ">Телефон успешно изменен</h4>
                    <button class="button --margin" v-ripple="'rgba(255, 255, 255, 0.1)'" @click="closeModal">Вернуться</button>
                </div>
            </transition>
        </div>
    </transition>
</template>

<script>
import closeIcon from '@/static/icons/close.svg'
import successIcon from '@/static/icons/success.svg'
import smsIcon from '@/static/icons/sms.svg'
import { mapActions } from 'vuex'

export default {
    components: {
        closeIcon,
        successIcon,
        smsIcon
    },
    data: () => ({
        currentWindow: 0,
        phone: null,
        code: null,
    }),
    watch: {
        'phone': async function(val) {
            if (val && val.length > 0 && val[0] != '7') {
                val = '7' + val.substr(1)
            }
            this.phone = val
        }
    },
    methods: {
        ...mapActions({
            save: 'user/updateLogin',
            verify: 'user/verifyLogin',
        }),
        closeModal() {
            this.currentWindow = 0
            this.$setFalse('profile.phone')
        },
        async savePhone() {
            if (this.phone.length < 11) {
                this.$api.setError('profile.phone', 'Неверный формат номера!')
                return
            }
            if (this.phone == this.$user().phone) {
                this.$api.setError('profile.phone', 'Вы ввели старый номер!')
                return
            }

            await this.save({ login: this.phone, error: 'profile.phone' })

            if (!this.$api.getError('profile.phone')) {
                this.currentWindow = 1
                this.$nextTick(() => {
                    this.$refs.code.focus()
                })
            }
        },
        async verifyPhone() {
            await this.verify({
                login: this.phone,
                token: this.code
            })
            if (!this.$api.getError('profile.phone.verify')) {
                this.currentWindow = 2
            }
        },
        restart() {
            this.$api.setError('profile.phone', null)
            this.$api.setError('profile.phone.verify', null)
            this.phone = null
            this.code = null
            this.currentWindow = 0
        },
    },
}
</script>
