<template>
    <div class="modal">
        <div class="modal-overlay" @click="closeModal"></div>
        <transition name="fade">
            <div class="modal-inner --large" v-if="!canceled">
                <button class="modal-close" @click="closeModal">
                    <close-icon />
                </button>
                <h4 class="modal-title">Вы уверены что хотите отменить заказ?</h4>
                <p class="modal-text">Отмена заказа необратима</p>
                <div class="modal-btn-wrp">
                    <button v-ripple="'rgba(0, 0, 0, 0.1)'" class="modal-btn --red" @click="removeItem">Отменить заказ</button>
                    <button v-ripple="'rgba(0, 0, 0, 0.1)'" class="modal-btn" @click="closeModal">Вернуться к списку</button>
                </div>
            </div>
        </transition>
        <transition name="fade">
            <div class="modal-inner" v-if="canceled">
                <button class="modal-close" @click="closeModal">
                    <close-icon />
                </button>
                <errorIcon />
                <h4 class="modal-title">Заказ отменен</h4>
                <p class="modal-text">Сожалеем об отмене заказа</p>
                <button class="modal-btn" v-ripple="'rgba(255, 255, 255, 0.2)'" @click="closeModal">Вернуться к списку</button>
            </div>
        </transition>
    </div>
</template>

<script>
import closeIcon from '@/static/icons/close.svg'
import errorIcon from '@/static/icons/error.svg'

export default {
    components: {
        closeIcon,
        errorIcon
    },
    props: ['value'],
    data: function() {
        return {
            canceled: false,
            show: this.value,
        }
    },
    methods: {
        closeModal() {
            if (this.canceled) {
                this.$emit('canceled')
            }
            this.show = false
        },
        removeItem() {
            this.canceled = true
            this.$emit('cancel')
        }
    },
    watch: {
        value: function(val) {
            this.show = val
        },
        show: function(val) {
            this.$emit('input', val)
        }
    }
}
</script>
