<template>
	<div class="home-banner">
		<div class="layout-container">
			<div class="home-banner-slider-wrp">
				<div v-swiper:homeBanner="options">
					<div class="swiper-wrapper">
						<div class="swiper-slide"
							v-for="(banner, index) in banners"
							:key="index">
							<a :href="banner.link" v-if="banner.link" target="_blank">
								<img :src="image(banner)" :alt="banner.name" data-not-lazy>
							</a>
							<component v-else :is="banner.post ? 'nuxt-link' : 'div'" :to="banner.post ? `/news/${banner.post.slug}` : ''">
								<img :src="image(banner)" alt="" data-not-lazy>
							</component>
						</div>
					</div>
					<div class="home-banner-pagination" v-if="banners.length > 1"></div>
				</div>
			</div>
			<div class="home-banner-prev-wrp">
				<button class="slider-prev home-banner-prev" v-if="banners.length > 1" v-ripple="'rgba(0, 0, 0, 0.1)'">
					<arrow-icon />
				</button>
			</div>
			<div class="home-banner-next-wrp">
				<button class="slider-next home-banner-next" v-if="banners.length > 1" v-ripple="'rgba(0, 0, 0, 0.1)'">
					<arrow-icon />
				</button>
			</div>
		</div>
	</div>
</template>

<script>
import arrowIcon from "@/static/icons/arrow-icon.svg";
import { directive } from "vue-awesome-swiper";
import { mapGetters } from "vuex";

export default {
	components: {
		arrowIcon,
	},
	directives: {
		swiper: directive,
	},
	data() {
		return {
			options: {
				loop: true,
				slidesPerView: 1,
				spaceBetween: 15,
				simulateTouch: false,
				speed: 1000,
				autoplay: {
					delay: 3000,
				},
				navigation: {
					nextEl: ".home-banner-next",
					prevEl: ".home-banner-prev",
				},
				pagination: {
					el: ".home-banner-pagination",
					type: "bullets",
					clickable: true,
				},
			},
		};
	},
	computed: {
		...mapGetters({
			banners: "content/GET_BANNERS",
		}),
	},
	methods: {
		image(banner) {
			if (this.$isMobile() && banner.mob_image) {
				return banner.mob_image;
			}
			return banner.image ? banner.image : banner.mob_image;
		},
	},
};
</script>
