.auth-modal
	position fixed
	z-index 20
	top 0
	left 0
	width 100%
	height 100%
	&-phone-wrp
		display: flex
		align-items: center
		button
			font-size: em(14)
			font-weight: bold
			color: var(--major-color)
			padding: 0
			background: transparent
		.auth-modal-text
			margin-bottom: 0
			margin-right: 6px
	&-overlay
		position absolute
		width 100%
		height 100%
		background-color rgba(#000, 0.5)
		top 0
		left 0
	&-error
		margin-bottom 16px
		p
			font-size em(14)
			font-weight 400
			color #F56A5B
	&-inner
		background-color #fff
		position relative
		z-index 1
		max-width 680px
		width 40vw
		height 100%
		margin-left auto
	&-content
		position absolute
		top 160px
		left 50%
		transform translateX(-50%)
		width: 70%
		@media screen and (max-height 725px)
			top 50%
			transform translate(-50%, -50%)
	&-warn
		background: var(--bg-base)
		padding: 16px
		border-radius: 8px
		margin-top: 44px
		@media (min-width: 1024px)
			max-width: 360px
			max-height: 200px
		h5
			color: #F56A5B
			margin-bottom: 5px
			font-size: 14px
		p
			line-height: 24px
	&-icon
		display block
		margin auto
		margin-top 32px
	&-close
		position absolute
		top 40px
		right 40px
		background-color transparent
		padding 0
		width 24px
		height 24px
		display flex
		align-items center
		justify-content center
		svg
			width 100%
			height 100%
	&-title
		font-size em(28)
		font-weight 700
		color var(--text-color)
		margin-bottom 32px
	&-social
		width: 100%
		background: #F7F9FA
		border-radius: 8px
		display flex
		align-items center
		justify-content center
		line-height 40px
		margin-bottom 16px
		span
			margin-left 8px
			text-transform uppercase
			font-size 12px
			font-weight 700
			color: var(--text-color)
	&-or
		display flex
		align-items center
		margin-bottom 52px
		margin-top 32px
		span
			line-height 24px
			font-size 14px
			font-weight 400
			color var(--text-color)
			margin: 0 14px
			flex-shrink 0
		i
			flex-grow 1
			height 1px
			background: #EBEDF0
	&-text
		font-size em(14)
		font-weight 400
		margin-bottom 32px
		color var(--text-color)
		&.--margin-0
			margin-bottom 0
		&.--gray
			font-weight 400
			font-size 14px
			text-align center
			color #8A8F99
		.--edit
			font-weight 700
			line-height 24px
			color var(--major-color)
	&-input
		border none
		border-bottom 1px solid var(--line-color)
		font-size em(14)
		font-weight 400
		color var(--text-color)
		padding-bottom 10px
		width 360px
	&-input-wrp
		width 360px
		position relative
		&:first-of-type
			margin-top 15px
		&:not(:first-of-type)
			margin-top 36px
		&:last-of-type
			margin-bottom 16px
		&.--forgot
			text-align right
			margin-top 10px
	&-forgot
		right 0
		top 0
		z-index 1
		background-color transparent
		padding 0
		font-size em(14)
		font-weight 700
		color var(--major-color)
	.button
		width 360px
		&.--margin
			margin-top: 18px
			margin-bottom: 34px
	&-btn
		width 360px
		display block
		border-radius 8px
		padding 12px 0
		background-color var(--bg-base)
		color var(--text-color)
		text-transform uppercase
		font-size em(12)
		font-weight 700
		margin-top 32px
	.--center
		text-align center
@media screen and (max-width 769px)
	.auth-modal
		&-inner
			max-width 100%
			width 100%
@media screen and (max-width 430px)
	.auth-modal
		&-close
			right 16px
			top 16px
			position static
			margin-left auto
		&-title
			font-size em(20)
		&-input,
		&-input-wrp,
		&-btn,
		&-content
		.button
			width 100%
		&-inner
			width 100%
			height 100%
			overflow-y auto
			padding 16px
		&-content
			height auto
			position static
			transform none
			padding-bottom 80px
