.cart-popup
    position absolute
    z-index 1
    right -5px
    top 45px
    background-color #fff
    border-radius 8px
    box-shadow 0px 0px 15px rgba(31, 71, 153, 0.2)
    text-align left
    width 460px
    transition all .3s ease
    opacity 0
    visibility hidden
    &-empty
        height 400px
        display -webkit-flex
        display -moz-flex
        display -ms-flex
        display -o-flex
        display flex
        align-items center
        text-align center
        padding 0 24px
    &-title
        font-size em(18)
        font-weight 700
        color var(--text-color)
        margin-bottom 16px
    &-text 
        font-size em(14)
        font-weight 400
        color var(--text-color)
        button
            padding 0
            background-color transparent
            color var(--major-color)
    &:after
        content ''
        width 24px
        height 24px
        background-image url('/icons/triangle.png')
        background-position center
        background-repeat no-repeat
        background-size cover
        position absolute
        right 10px
        top -24px
    &-row
        display -webkit-flex
        display -moz-flex
        display -ms-flex
        display -o-flex
        display flex
        align-items center
        justify-content space-between
    &-items 
        padding 20px 16px
        padding-top 24px
        overflow-y auto
        height 455px
    .cart-popup-items::-webkit-scrollbar-track
    {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
        background-color: #F5F5F5;
    }
    .cart-popup-items::-webkit-scrollbar
    {
        width: 6px;
        background-color: #F5F5F5;
    }
    .cart-popup-items::-webkit-scrollbar-thumb
    {
        background-color: var(--major-color);
    }
    &-total-wrp
        padding 20px 16px
        box-shadow 0px 0px 15px rgba(31, 71, 153, 0.15)
    &-text 
        font-size em(16)
        font-weight 400
        color var(--text-color)
    &-price
        font-size em(16)
        font-weight 700
        color var(--text-color)
    .order-list-add-fav
        svg
            width 24px
            height 24px
    .button
        width 100%
        margin-top 16px
        svg
            width 16px
            height 16px
