.contacts-page
    .page-title
        margin-bottom 0
    &-container 
        display flex
    &-info 
        padding-top 40px
        min-width 380px
        padding-right 40px
    &-map
        flex-grow: 1
        min-height 500px
    &-address-wrp
    &-phone-wrp
        margin auto
        width 100%
        max-width 600px
        display -webkit-flex
        display -moz-flex
        display -ms-flex
        display -o-flex
        display flex
        align-items flex-start
        div
            flex-grow 1
        svg 
            width 24px
            height 24px
            flex-shrink 0
            margin-right 16px
    &-address-wrp
        margin-top 40px
        margin-bottom 66px
    &-title
        font-size em(16)
        font-weight 700
        color var(--text-color)
        margin-bottom 15px
    &-text
        font-size em(14)
        font-weight 400
        color var(--text-color)
        &.--margin-top 
            margin-top 20px
    &-row
        display -webkit-flex
        display -moz-flex
        display -ms-flex
        display -o-flex
        display flex
        width 100%
        justify-content space-between
@media screen and (max-width: 1025px)
    .contacts-page
        &-info
            padding-left 16px
@media screen and (max-width: 769px)
    .contacts-page
        &-container 
            flex-wrap wrap
        &-info
            width 100%
            padding-top 24px
            min-width initial
        &-map
            min-height 50vh
        &-address-wrp
            margin-top 24px
            margin-bottom 24px