.cookie-notif
	position: fixed
	z-index: 1000
	left: 50%
	bottom: 45px
	background: #fff
	box-shadow: 0px 0px 32px rgba(31, 71, 153, 0.15)
	border-radius: 12px
	display: flex
	padding: 16px 37px
	transform: translateX(-50%)
	align-items center
	max-width 984px
	width 100%
	&-txt-wrp
		display flex
	&-text
		font-size 14px
		font-weight 400
		color var(--text-color)
		margin 0 32px 
		a
			color var(--text-color)
			text-decoration underline
			text-decoration-skip-ink none
	&-icon
		width 36px
		height 36px
		border-radius 999px
		background #F7F9FA
		display flex
		align-items center
		justify-content center
		flex-shrink 0
@media (min-width 320px)
	.cookie-notif
		bottom 0
		flex-wrap wrap
		padding 16px
		border-radius 12px 12px 0 0
		&-txt-wrp
			flex-direction: column
			align-items center
		&-text
			margin-left 0
			margin-right 0
			margin-top 10px
			font-size 12px 
		.button
			width 100%
			margin-top 10px
@media (min-width: 768px)
	.cookie-notif
		flex-wrap nowrap
		.button
			width auto
			margin-top 0
		&-text
			font-size 14px
			margin-top 0
			margin-right 20px
			margin-left 20px
		&-txt-wrp
			flex-direction row
@media (min-width 1024px)
	.cookie-notif
		border-radius 12px
		bottom 20px
		&-text
			margin 0 32px
@media (min-width 1280px)
	.cookie-notif
		padding 16px 37px
