.custom-select {
  position: relative;
  width: 100%;
  text-align: left;
  outline: none;
  height: 47px;
  line-height: 47px;
}

.custom-select-selected {
  color: var(--text-color);
  font-size 14px
  padding: 0 16px;
  padding-right 40px
  cursor: pointer;
  user-select: none;
  position: relative;
  svg {
    width 16px
    height 16px
    position absolute
    right 16px
    top 50%
    transform: translateY(-50%) rotate(-90deg)
  }
}

.custom-select-items {
  color: var(--text-color);
  overflow: hidden;
  position: absolute;
  left: 0;
  border-radius: 0 0 8px 8px;
  min-width 100%
}

.custom-select-item {
  color: var(--text-color)
  font-size 14px
  padding: 0 16px;
  cursor: pointer;
  user-select: none;
  white-space: nowrap;
}

.custom-select-select-hide {
  display: none;
}