.email-page
    text-align center
    padding-top 60px
    &-img
        max-width 300px
        margin auto
    &-title
        font-size em(28)
        font-weight 700
        color var(--text-color)
        margin-bottom 8px
    &-text 
        font-size em(14)
        font-weight 400
        color var(--text-color)
        margin-bottom 60px
@media screen and (max-width 430px)
    .email-page
        &-img
            max-width 215px
        &-title
            font-size em(20)
            padding 0 10px
        &-text
            padding 0 10px
