.error-page
    text-align center
    &-block
        margin 60px 0
    &-image
        margin auto
        height 300px
        margin-bottom 40px
    &-title
        font-size em(28)
        font-weight 700
        color var(--text-color)
        margin-bottom 8px
    &-text 
        font-size em(14)
        font-weight 400
        color var(--text-color)
    .button
        margin-top 25px
@media screen and (max-width 430px)
    .error-page
        &-image
            height 200px
        &-title
            font-size em(20)
