.favorites-page
    padding-bottom 50px
    &-empty
        display -webkit-flex
        display -moz-flex
        display -ms-flex
        display -o-flex
        display flex
        align-items center
        justify-content center
        padding 160px 0
    &-title
        font-size em(28)
        font-weight 700
        color var(--text-color)
        margin-bottom 16px
    &-text 
        display -webkit-flex
        display -moz-flex
        display -ms-flex
        display -o-flex
        display flex
        align-items center
        justify-content center
        font-size em(14)
        font-weight 400
        color var(--text-color)
    &-icon
        width 36px
        height 36px
        background-color var(--bg-base)
        border-radius 8px
        display -webkit-flex
        display -moz-flex
        display -ms-flex
        display -o-flex
        display flex
        align-items center
        justify-content center
        margin-left 16px
        path 
            fill #F56A5B
    &-row 
        display -webkit-flex
        display -moz-flex
        display -ms-flex
        display -o-flex
        display flex
        flex-wrap wrap
        .product
            margin-right 20px
            margin-bottom 10px
        .product:nth-child(4n)
            margin-right 0
@media screen and (max-width 769px)
    .favorites-page
        &-row 
            .product 
                max-width 232px
            .product:nth-child(3n)
                margin-right 0
            .product:nth-child(4n)
                margin-right 20px
@media screen and (max-width 430px)
    .favorites-page
        &-empty
            text-align center
        &-title
            font-size em(20)
        &-row 
            .product 
                max-width 47%
            .product:nth-child(even)
                margin-right 0
            .product:nth-child(3n)
                margin-right 20px
            .product:nth-child(4n)
                margin-right initial
@media screen and (max-width 321px)
    .favorites-page
        .product 
            max-width 100%
            margin-right 0 !important
