.footer
    border-top 1px solid var(--line-color)
    &-top
        padding: 40px 0
        display -webkit-flex
        display -moz-flex
        display -ms-flex
        display -o-flex
        display flex
        justify-content space-between
        align-items stretch
    &-nav
        display -webkit-flex
        display -moz-flex
        display -ms-flex
        display -o-flex
        display flex
        flex-direction column
        a 
            display block
            font-size em(14)
            font-weight 400
            color #8A8F99
            margin-bottom 8px
        a:last-child
            margin-bottom 0
    &-list
        display -webkit-flex
        display -moz-flex
        display -ms-flex
        display -o-flex
        display flex
        li 
            max-width 160px
        li:first-child
            margin-right 40px
    &-logo
        display block
        margin-bottom 30px
    &-subtitle
        font-size em(14)
        font-weight 400
        color #8A8F99
    &-phone
        font-size em(18)
        font-weight 400
        color var(--text-color)
    &-bot 
        // background-color var(--bg-base)
        padding 20px 0
    &-row 
        display -webkit-flex
        display -moz-flex
        display -ms-flex
        display -o-flex
        display flex
        justify-content space-between
        align-items center
    &-social
        display -webkit-flex
        display -moz-flex
        display -ms-flex
        display -o-flex
        display flex
        align-items center
        font-size em(14)
        font-weight 400
        color var(--text-color)
        margin-bottom 12px
        margin-top 5px
        svg 
            margin-right 8px
        &.--mb
            margin-bottom 32px
    &-copyright
        font-size em(12)
        font-weight 400
        color var(--text-color)
    &-developer
        position relative
        width 40px
        height 40px
    &-bs-letter
        width 20px
        height 20px
        position absolute
        top 50%
        left 35%
        transform translate(-50%, -50%)
    &-bs-text
        width 100%
        height 100%
        display block
    &-mobile-nav
        display none
    &-title
        margin-bottom 10px
@media screen and (max-width 769px)
    .footer
        &-top 
            flex-wrap wrap
        &-list
            display block
            li 
                max-width initial
            li:first-child
                margin-right 0
@media screen and (max-width 430px)
    .footer
        &-col
            width 100%
        &-nav
            display none
        &-bot 
            padding-top 0
        &-phone-wrp,
        &-social.--mb
            margin-bottom 24px
        &-mobile-nav
            display block
        &-title
            padding 16px
            border-top 1px solid var(--line-color)
            display flex
            align-items center
            justify-content space-between
        &-arrow
            width 24px
            height 24px
            transform rotate(-90deg)
            transition transform 0.3s ease
            &.--open
                transform rotate(-270deg)
        &-link
            display block
            padding 5px 16px
            font-size em(14)
            color #8A8F99
            &:last-of-type
                margin-bottom 16px
        &-bot 
            border-top 1px solid var(--line-color)
            padding-top 24px
