.header
    width 100%
    position absolute
    top 0
    left 0
    z-index 10
    &-row
        display -webkit-flex
        display -moz-flex
        display -ms-flex
        display -o-flex
        display flex
        align-items center
        &.--center
            justify-content center
            margin-top 16px
    &-search-wrp
        max-width 745px
        width 100%
        height 36px
        margin-left auto
        position relative
        z-index 1
        background-color var(--bg-base)
        border-radius 8px
        padding 8px 12px
        margin-right 30px
    &-search-icon
        width 20px
        height 20px
        position absolute
        left 12px
        top 50%
        transform translateY(-50%)
        z-index 1
    &-search-input
        border none
        background-color transparent
        padding 0 45px
        font-size em(14)
        font-weight 400
        color var(--text-color)
        width 100%
    &-search-close
        width 20px
        height 20px
        padding 0
        position absolute
        right 12px
        top 50%
        transform translateY(-50%)
        z-index 1
        background-color transparent
        svg
            width 100%
            height 100%
        path
            fill #C3CAD9
    &-top
        background var(--bg-base)
        padding 10px 0
    &-top-nav
        flex-grow 1
        text-align right
    &-phone
        font-size em(12)
        font-weight 400
        color var(--text-color)
        display -webkit-flex
        display -moz-flex
        display -ms-flex
        display -o-flex
        display flex
        align-items center
        margin-right 24px
        svg
            width 16px
            height 16px
            margin-right 8px
    &-top-nav
        a
            font-size em(12)
            font-weight 400
            color var(--text-color)
            display inline-block
            margin-left 24px
    &-phone
    &-top-nav a
        position relative
        &:hover
            &:after
                transform-origin left center
                transform: scale(1)
        &:after
            content: ''
            width 100%
            height 1px
            background #818690
            transition transform .4s cubic-bezier(.4,0,.2,1)
            transform-origin right center
            position absolute
            left 0
            bottom 0
            transform: scaleX(0)
    &-phone
        &:after
            width 81%
            left initial
            right 0
    &-mid
        background-color #fff
        padding 23px 0
        padding-bottom 10px
    &-bot
        border-radius 0px 0px 12px 12px
        box-shadow 0px 5px 5px rgba(31, 71, 153, 0.05)
        height 12px
        transition height 0.5s ease
        background-color #fff
        overflow hidden
        &.--open
            height 450px
    &-subcategory-link
        display block
        margin-bottom 16px
        max-width 80%
        span
            font-size em(14)
            font-weight 400
            color var(--text-color)
            position relative
            &:hover
                &:after
                    transform-origin left center
                    transform: scale(1)
            &:after
                content: ''
                width 100%
                height 1px
                background #818690
                transition transform .4s cubic-bezier(.4,0,.2,1)
                transform-origin right center
                position absolute
                left 0
                bottom 0
                transform: scaleX(0)
    &-subcategory-item
        width 25%
    &-subcategory-row
        display -webkit-flex
        display -moz-flex
        display -ms-flex
        display -o-flex
        display flex
    &-subcategory-title
        font-size em(14)
        font-weight 700
        color var(--text-color)
        padding-top 24px
        margin-bottom 40px
    &-cart-wrp
        position relative
        margin-left 16px
        &:hover
            .cart-popup
                opacity 1
                visibility visible
    &-btn
        width 36px
        height 36px
        background-color var(--bg-base)
        border-radius 12px
        display -webkit-flex
        display -moz-flex
        display -ms-flex
        display -o-flex
        display flex
        align-items center
        justify-content center
        margin-left 16px
        position relative
        z-index 1
        &.--profile
            width auto
            padding 0 8px
            font-size em(12)
            font-weight 700
            color var(--text-color)
            svg
                margin-left 4px
        svg
            width 20px
            height 20px
        &:first-of-type
            margin-left 0
    &-badge
        position absolute
        border-radius 30px
        background-color var(--major-color)
        color #fff
        font-size em(12)
        font-weight 700
        bottom 70%
        left 70%
        min-width 18px
        height 18px
        line-height 18px
        text-align center
        padding 0 4px
    &-logo
        display flex
        flex-grow 1
    &-bot-nav
        a
            font-size em(14)
            font-weight 400
            color var(--text-color)
            margin 0 15px
            position relative
            &:hover
                &:after
                    width 24px
            &:after
                content ''
                width 0px
                height 3px
                border-radius 1.5px
                position absolute
                bottom -5px
                left 0
                right 0
                margin auto
                background-color var(--major-color)
                transition width 0.3s ease
        a:last-child
            margin-right 15px
        a.--accent
            color var(--major-color)
    &-search
        padding 0
@media screen and (max-width: 1025px)
    .header
        &-search-wrp
            max-width 610px
        &-bot-nav a
            margin-right 20px
@media screen and (max-width: 769px)
    .header
        display none
