.ig-feed
    background-color var(--bg-base)
    padding 40px 0
    &-title
        font-size em(20)
        font-weight 700
        color var(--text-color)
        text-align center
        margin-bottom 24px
    &-row 
        display flex
        justify-content space-between
        &.--center
            justify-content center
            align-items center
            margin-top 24px
    &-link 
        padding 12px 0
        background-color var(--major-color)
        color #fff 
        font-size em(12)
        text-transform uppercase
        font-weight 400
        border-radius 30px
        width 200px
        text-align center
    &-counter 
        display flex
        align-items center
        margin-right 40px
        font-size em(16)
        font-weight 400
        color var(--text-color)
        svg 
            margin-right 8px
    &-item 
        width 168px
        height 168px
        border-radius 8px
        overflow hidden
        position relative
        &:hover 
            .ig-feed-overlay
                opacity 1
    &-img
        width 100%
        height 100%
        object-fit: cover
    &-overlay
        display flex
        align-items center
        justify-content center
        background-color rgba(#0D1F42, 0.5)
        position absolute
        top 0
        left 0
        width 100%
        height 100%
        z-index 1
        transition opacity 0.4s ease 
        opacity 0
@media screen and (max-width: 1025px)
    .ig-feed
        &-item
            width 150px
            height 150px
@media screen and (max-width: 769px)
    .ig-feed
        &-row 
            flex-wrap wrap 
        &-item 
            width 30%
            margin-bottom 20px
@media screen and (max-width: 430px)
    .ig-feed
        &-item
            width 47%
        &-counter
            width 100%
            margin-right 0
            justify-content center
            margin-bottom 10px
