.last-news
    padding-top 50px
    padding-bottom 70px
    &-row
        display -webkit-flex
        display -moz-flex
        display -ms-flex
        display -o-flex
        display flex
        .news-item
            margin-right 20px
        .news-item:last-child
            margin-right 0
        @media screen and (max-width: 769px)
            display none
    &-title-wrp
        display -webkit-flex
        display -moz-flex
        display -ms-flex
        display -o-flex
        display flex
        justify-content space-between
        align-items center
        margin-bottom 24px
        a 
            font-size em(12)
            font-weight 700
            color #8A8F99
            text-transform uppercase
    .swiper-container
        display none
        @media screen and (max-width:  769px)
            display block
    &-link-wrp
        display none
@media screen and (max-width 769px)
    .last-news
        &-link-wrp
            display block
            text-align center
            margin-top 16px
            a 
                font-size em(12)
                font-weight 700
                color #8A8F99
                display inline-flex
                align-items center
                text-transform uppercase
                margin-left 10px
                svg 
                    width 16px
                    height 16px
                    transform rotate(-180deg)
                path 
                    fill #8A8F99
@media screen and (max-width 430px)
    .last-news
        padding 24px 0
        &-title-wrp
            justify-content center
            a
                display none
