.modal
    position fixed
    top 0
    left 0
    z-index 20
    width 100%
    height 100%
    &-overlay
        position absolute
        width 100%
        height 100%
        background-color rgba(#000, 0.5)
        top 0
        left 0
    &-input
        font-size em(14)
        color var(--text-color)
        font-weight 400
        padding-bottom 10px
        border none
        width 100%
        border-bottom 1px solid var(--line-color)
    &-input-wrp
        margin-top 36px
        &:last-of-type
            margin-bottom 16px
    &-error
        text-align left
        color #F56A5B
        font-size em(14)
        font-weight 400
    &-inner
        position absolute
        top 50%
        left 50%
        transform translate(-50%, -50%)
        z-index 1
        background-color #fff
        border-radius 8px
        padding 32px
        text-align center
        min-width 340px
        max-width 350px
        &.--phone-confirm
            .modal-input-wrp
                margin-top 0
            .modal-text
                margin-bottom 16px
        &.--large
            max-width 500px
            width 100%
    &-title
        font-size em(20)
        font-weight 700
        color var(--text-color)
    &-text 
        font-size em(14)
        font-weight 400
        color var(--text-color)
        margin-bottom 24px
        margin-top 8px
        max-width 270px
    &-btn-wrp
        display -webkit-flex
        display -moz-flex
        display -ms-flex
        display -o-flex
        display flex
        justify-content space-between
        button
            width 48%
    &-btn 
        border-radius 8px
        background-color var(--bg-base)
        color var(--text-color)
        padding 12px 0
        font-weight 700
        font-size em(12)
        text-transform uppercase
        width 100%
        &.--red
            background-color #F56A5B
            color #fff
        &.--margin 
            margin-top 24px
    &-image
        margin auto
        max-width 200px
    &-close 
        padding 0
        position absolute
        right 16px
        top 16px
        background-color transparent
        width 24px
        height 24px
        svg
            width 100%
            height 100%
    .button
        width 100%
        margin-bottom 8px
        &.--margin 
            margin-top 16px
@media screen and (max-width 430px)
    .modal 
        &-inner
            padding 32px 16px
            max-width 90%
            width 100%
            min-width initial
        &-text
            margin auto
            margin-bottom 24px
