.notification 
    background-color #FFF4DF
    padding 20px 38px
    border-radius 0px 0px 12px 12px
    display -webkit-flex
    display -moz-flex
    display -ms-flex
    display -o-flex
    display flex
    font-size em(14)
    font-weight 400
    color var(--text-color)
    &-icon
        width 24px
        height 24px
        flex-shrink 0
        margin-right 16px
@media screen and (max-width: 769px)
    .notification 
        border-radius 12px
@media screen and (max-width: 430px)
    .notification
        padding 8px
        text-align center
        &-icon
            display none
