.preloader
	background-color: #fff
	position: fixed
	width: 100%
	height: 100vh
	top: 0
	left: 0
	z-index: 100
	display: flex
	align-items: center
	justify-content: center
	svg 
		width 120px
		height 40px
		path 
			fill var(--text-color)
			animation color 2s ease-in-out infinite
@keyframes color 
	0%, 100%
		fill: var(--text-color)
	30%
		fill: var(--major-color)
	60%
		fill: var(--minor-color)