.product-slider
	margin-bottom 20px
	.swiper-container
			margin-left -30px
			margin-right -30px
	&-title-wrp
			display -webkit-flex
			display -moz-flex
			display -ms-flex
			display -o-flex
			display flex
			align-items center
			justify-content space-between
			margin-bottom 25px
	&-arrow-wrp
			display -webkit-flex
			display -moz-flex
			display -ms-flex
			display -o-flex
			display flex
			align-items center
			.slider-next
					margin-left 8px
			a 
					font-size em(12)
					font-weight 700
					color #8A8F99
					text-transform uppercase
					margin-right 24px
	.swiper-slide
			padding 15px
	&-pagination
			display none
	&-link-wrp
			display none
@media screen and (max-width 769px)
	.product-slider
			&-link-wrp
					display block
					text-align center
					margin-top 16px
					a 
							font-size em(12)
							font-weight 700
							color #8A8F99
							display inline-flex
							align-items center
							text-transform uppercase
							margin-left 10px
							svg 
									width 16px
									height 16px
									transform rotate(-180deg)
							path 
									fill #8A8F99
			&-pagination
					display block
@media screen and (max-width 430px)
	.product-slider
			&-arrow-wrp
					display none
			&-title-wrp
					justify-content center
					margin-bottom 10px
			.swiper-container 
					margin 0
			.swiper-slide
					padding 0
			&-pagination
					margin-top 0
					text-align center
					.swiper-pagination-bullet
						margin: 0 4px
