.product
    border-radius 16px
    padding 10px
    box-shadow 0px 5px 15px transparent
    text-align center
    padding-bottom 30px
    transition box-shadow 0.4s ease
    max-width 267px
    width 100%
    .button
        transition opacity .3s ease
        opacity 0
    &:hover
        box-shadow 0 5px 15px rgba(31, 71, 153, 0.15)
        .product-add-fav,
        .button
            opacity 1
    &-image
        position relative
        img
            width 220px
            height 220px
            object-fit contain
            margin auto
    &-add-fav,
    &-tags-wrp,
    &-discount-wrp
        position absolute
        z-index 1
    &-add-fav
        background none
        right 10px
        top 10px
        padding 0
        width 24px
        height 24px
        transition opacity 0.4s ease
        opacity 0
        &.--added
            opacity 1
            path
                fill #F56A5B
        svg
            width 100%
            height 100%
    &-rating
        display flex
        align-items center
        justify-content center
        span
            font-size em(10)
            font-weight 400
            color #8A8F99
            margin-left 5px
        .vue-star-rating
            justify-content center
    &-fav-outlined
    &-add-cart
        display none
    &-tags-wrp
        top 10px
        left 10px
    &-discount-wrp
        bottom 10px
        left 10px
    &-brand
        font-size em(12)
        font-weight 400
        color #8A8F99
        text-transform uppercase
        margin-bottom 4px
    &-name-wrp
        margin-top 10px
        min-height 70px
    &-name
        font-size em(16)
        font-weight 400
        color var(--text-color)
        min-height 50px
    &-old-price,
    &-price
        font-size em(16)
        font-weight 700
    &-old-price
        color #8A8F99
        text-decoration line-through
    &-price
        color var(--text-color)
        margin-left 16px
        &.--discount
            color #F56A5B
    &-price-wrp
        margin-top 16px
        display flex
        justify-content center
    &-out-of-stock
        margin-top 16px
        font-size em(14)
        font-weight 700
        color #F56A5B
        text-transform uppercase
    &-discount
        display inline-flex
        align-items center
        margin 30px 0 16px
        background #feb989
        border-radius 8px
        padding 2px
        position relative
        &:hover
            .product-discount-text
                visibility visible
                opacity 1
        &-text
            position absolute
            background rgba(0, 0, 0, 0.68)
            padding 5px 10px
            color #fff
            font-size 12px
            font-weight 600
            bottom 35px
            left 50%
            transform translateX(-50%)
            min-width 176px
            border-radius 8px
            transition opacity .3s ease
            opacity 0
            visibility hidden
            &:after
                content ''
                width: 0
                height: 0
                border-style: solid
                border-width: 10px 7.5px 0 7.5px
                border-color: rgba(#000, 0.68) transparent transparent transparent
                position absolute
                bottom -10px
                left 50%
                transform translateX(-50%)
        &-percent
            background #fff
            border-radius 6px
            padding 0 2px
            font-size 14px
            font-weight 400
            color var(--text-color)
            line-height 19px
        &-price
            font-size 14px
            font-weight 700
            color #fff
            margin-left 12px
            margin-right 12px
            line-height 19px
        &-icon
            width 16px
            height 16px
            path
                opacity 1
                fill: #fff
    .button
    .counter
        margin-top 16px
    .counter
        width 100%
        justify-content center
        button
            width 40px
            height 40px
@media screen and (max-width: 1367px)
    .product
        &-name
            min-height 72px
@media screen and (max-width: 1025px)
    .product
        max-width 232px
@media screen and (max-width: 769px)
    .product
        &:hover
            box-shadow none
        &-add-fav
            opacity 1
        &-fav-outlined
            display block
            path
                fill #C3CAD9
        .counter
            button
                height 30px
        &-add-cart
            display flex
            align-items center
            justify-content center
            margin auto
            margin-top 16px
            width 40px
            height 30px
            border 1px solid var(--major-color)
            border-radius 8px
            background-color #fff
            padding 0
            path
                fill var(--major-color)
        &-fav-filled
        .button
            display none
        &-tags-wrp
            top 0
            left 0
        &-add-fav
            top 0
            right 0
@media screen and (max-width 430px)
    .product
        &-brand
            font-size em(10)
        &-name
            font-size em(12)
            min-height 35px
        &-price
        &-old-price
            font-size em(14)
        &-image img
            width 100%
            height 130px
@media screen and (max-width 321px)
    .product
        max-width 100%
