.search-dropdown
    // position absolute
    margin-top 10px
    width 100%
    left 0
    top 40px
    z-index 15
    background-color #fff
    box-shadow 0px 0px 10px rgba(31, 71, 153, 0.15)
    border-radius 12px
    &-image
        flex-shrink 0
        width 40px
        height 40px
        margin-right 12px
        img 
            width 100%
            height 100%
            object-fit contain
    &-all 
    &-product
    &-category
    &-brand 
        display -webkit-flex
        display -moz-flex
        display -ms-flex
        display -o-flex
        display flex
        align-items center
        padding 12px
        border-bottom 1px solid var(--line-color)
        svg
            width 24px
            height 24px
            transform rotate(-180deg)
        path 
            transition fill 0.4s ease
            fill #C3CAD9
        &:hover 
            path 
                fill var(--text-color)
    &-all 
        justify-content space-between
        a 
            display -webkit-flex
            display -moz-flex
            display -ms-flex
            display -o-flex
            display flex
            align-items center
            font-size em(12)
            font-weight 700
            color var(--text-color)
        p 
            font-size em(12)
            font-weight 400
            color #8A8F99
        svg 
            width 16px
            height 16px
            transform rotate(-180deg)
        path 
            fill var(--text-color)
    &-product
        position relative
        .button
            min-width initial
            height 30px
            padding 0 16px
            font-size 10px
    &-add-wrp
        margin-right 16px
    &-link 
        display flex
        align-items center
        flex-grow 1
    &-subtitle
        font-size em(12)
        font-weight 400
        color #8A8F99
    &-title
        font-size em(12)
        font-weight 400
        color var(--text-color)
@media screen and (max-width 769px)
    .search-dropdown
        position static
        box-shadow: none 
        border-radius none
        &-all,
        &-product,
        &-category,
        &-brand 
            padding 12px 16px
        &-add-wrp
            display none