.search-page
    padding-top 20px
    padding-bottom 60px
    &-title
        text-align center
        font-size em(20)
        font-weight 700
        color var(--text-color)
        border-bottom 1px solid var(--line-color)
        padding-bottom 24px
        margin-bottom 24px
        margin-top 32px