.toastr-box
    position fixed
    right 40px
    top 40px
    z-index 10
    .toastr
        z-index 9
        display flex
        background-color #55D5B6
        border-radius 8px
        box-shadow: 0px 5px 15px rgba(31, 71, 153, 0.15)
        padding 16px
        align-items flex-start
        width 290px
        margin-bottom 8px
        &.--error
            background-color #F56A5B
        &-icon
            width 24px
            height 24px
            margin-right 16px
            flex-shrink: 0
        p
            color #fff
            font-size em(14)
            font-weight 400
@media screen and (max-width 769px)
    .toastr-box
        right auto
        left 50%
        top 115px
        transform translateX(-50%)
