.pl {
    position: relative;

    input {
        &::placeholder {
            color: transparent;
        }
        &:focus {
            border-bottom-color: var(--major-color)
            caret-color: var(--major-color)
        }
        &:focus + label::before,
        &:not(:placeholder-shown) + label::before {
            top: -1.2em;
            font-size: 12px;
        }
        &:disabled {
            background-color: inherit
        }
    }

    label {
        &::before {
            content: attr(data-placeholder);
            position: absolute;
            top: 0;
            left: 0;
            cursor: text;
            transition: 300ms all;
            font-size: 14px;
            font-weight: 400;
            color: #8A8F99;
        }
    }

    .slot {
        position: absolute;
        top: 3px;
        right: 0;
        .eye {
            cursor: pointer;
        }
        img {
            -webkit-animation: rotating 2s linear infinite;
            -moz-animation: rotating 2s linear infinite;
            -ms-animation: rotating 2s linear infinite;
            -o-animation: rotating 2s linear infinite;
            animation: rotating 2s linear infinite;
        }
    }

}

@-webkit-keyframes rotating /* Safari and Chrome */ {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
