.checkout-delivery-service
    display -webkit-flex
    display -moz-flex
    display -ms-flex
    display -o-flex
    display flex
    align-items center
    margin-bottom 8px
    cursor pointer
    user-select none
    border 2px solid #EBEDF0
    border-radius 12px
    padding 18px 24px
    &.--active
    	border-color var(--major-color)
    	.checkout-delivery-service-icon
    		path
                fill var(--major-color)
            circle
                display block
    input
        display none
    &-text
        flex-grow: 1
        margin-left 12px
        p
        	font-size em(14)
        	font-weight 700
        	color var(--text-color)
        span
        	font-size em(12)
        	font-weight 400
        	color #8A8F99
    &-icon
        border-radius 30px
        circle
            display none
@media (min-width: 320px)
	.checkout-delivery-service
		padding: 15px
@media (min-width: 1280px)
	.checkout-delivery-service
		padding: 18px 24px
