.checkout-form
    width 520px
    position relative
    .button
        width 100%
    &-overlay
        position absolute
        top 0
        left 0
        width 100%
        height 100%
        z-index 5
        background-color #fff
        opacity 0.5
.checkout-title
    font-size em(18)
    font-weight 700
    color var(--text-color)
    margin-bottom 16px
.checkout-input-wrp
    display -webkit-flex
    display -moz-flex
    display -ms-flex
    display -o-flex
    display flex
    &.--half
        input
            width 48%
    input 
        width 28%
        margin-right 20px
    &.space-between
        justify-content space-between
.checkout-phone-wrp
    position relative
    margin-bottom 36px
    .checkout-input
        margin-bottom 0
    button
        padding 0
        background transparent
        color var(--major-color)
        font-size 14px
        font-weight 700
        position absolute
        right 0
        top 0
        &.-gray
            color #B4B8BF
.checkout-text
    font-size 12px
    color #B4B8BF
    margin-top 4px
.checkout-input
    display block
    width 100%
    border none 
    border-bottom 1px solid var(--line-color)
    font-size em(14)
    font-weight 400
    color var(--text-color)
    padding-bottom 12px
    margin-bottom 36px
textarea.checkout-input
    resize none 
    height 70px
.checkout-radiobutton
    display flex
    align-items center
    margin-bottom 8px
    cursor pointer
    user-select none
    border: 2px solid #EBEDF0
    border-radius: 12px
    height 87px
    padding 0 24px
    transition .3s ease
    position relative
    &.-active
        border-color var(--major-color)
    svg
        flex-shrink 0
    &:hover
        border-color var(--major-color)
        .checkout-popup
            opacity 1
            visibility visible
.checkout-sheet
    padding 0 20px 20px
    height 40vh
    h4
        font-size 18px
        font-weight 700
    p
        font-size 14px
        color #8A8F99
        margin-top 10px
.checkout-popup
    transition .3s ease
    opacity 0
    visibility hidden
    position absolute
    left 110%
    top 50%
    transform translateY(-50%)
    background #fff
    width 440px
    padding 20px
    border-radius 16px
    box-shadow 0px 5px 15px rgba(31, 71, 153, 0.15)
    z-index 10
    &-btn
        width 28px
        height 28px
        display flex
        align-items center
        justify-content center
        margin-right -4px
        margin-left 5px
        flex-shrink 0
    &:after
        content ''
        width 12px
        height 30px
        background url('/icons/popup-triangle.svg') center no-repeat
        background-size contain
        position absolute
        left -12px
        top 50%
        transform translateY(-50%)
        z-index 1
    h4
        font-size 14px
        font-weight 700
    p
        font-size 12px
        color #858A97
        margin-top 10px
.checkout-radio-text
    font-size em(14)
    font-weight 700
    color var(--text-color)
    margin-left 16px
    line-height 16px
.checkout-radio-description
    font-weight: 400
    display: block
    color: #8A8F99
    font-size: 12px
    margin-top: 3px
    padding-right: 10px
.checkout-radio-sub
    display block
    margin-left 16px
    margin-top 4px
    font-size 12px
    color #8A8F99
.checkout-spacer
    flex-grow 1
.checkout-radio-icon
    border-radius 30px
    &.--active
        path
            fill var(--major-color)
        circle 
            display block
    circle
        display none
.checkout-receive-radio
    border: 2px solid var(--line-color)
    border-radius: 12px
    width 200px
    height 100px
    padding 16px
    cursor pointer
    &.--active
        border-color var(--major-color)
    input 
        display none
.checkout-radio-title
    font-size em(14)
    font-weight 700
    color var(--text-color)
.checkout-radio-label
    font-size em(12)
    font-weight 400
    color #8A8F99
    margin-top 8px
.checkout-dropdown-wrp
    position relative
    margin-bottom 36px
    p 
        font-size em(14)
        font-weight 400
        color var(--text-color)
.checkout-dropdown 
    position absolute
    left 0
    top 100%
    width 100%
    z-index 1
    background-color #fff
    box-shadow: 0px 0px 10px rgba(31, 71, 153, 0.15)
    cursor pointer
    p
        border-bottom solid 1px #EBEDF0
        padding: 12px 
        &:hover
            background #F7F9FA
        &:last-child
            border-bottom none
            margin-bottom 0
.checkout-dropdown
    border-radius 8px
.checkout-current-place
    padding 12px
    border-radius 8px
.checkout-current-place
    position relative
    border 1px solid var(--line-color)
    cursor pointer
    svg 
        width 16px
        height 16px
        position absolute
        right 12px
        top 50%
        transform translateY(-50%) rotate(-90deg)
    path 
        fill var(--text-color)

.checkout-info,
.checkout-input,
.checkout-input-wrp,
.checkout-comment,
.checkout-payment,
.checkout-receive-type,
.checkout-button,
.checkout-delivery
    max-width 416px
.checkout-kaspi
    margin-top: 30px
    margin-bottom 12px
    &-label
        font-size: 13px
        color: #8A8F99
@media (max-width: 430px)
    .checkout-radiobutton
        padding 0 16px
        img
            max-width 90px
    .checkout-radio-text,
    .checkout-radio-sub
        margin-left 10px
    .checkout-receive-radio
        padding 16px
        width 100%
        margin-bottom 10px
        display block
    .checkout-receive-type
        .checkout-input-wrp
            display block
