.checkout-page
    padding-bottom 100px
    .--empty
        opacity 0.5
    .page-title
        // margin-bottom 0
    .notification
        margin-bottom 64px
    .checkout-info,
    .checkout-payment,
    .checkout-delivery,
    .checkout-receive-type
        margin-bottom 56px
    .checkout-address
        margin-bottom 30px
    &-row
        display -webkit-flex
        display -moz-flex
        display -ms-flex
        display -o-flex
        display flex
        justify-content space-between
        align-items flex-start
    .checkout-delivery
        &-radio-img
            max-width: 110px
            max-height: 50px
@media screen and (max-width 769px)
    .checkout-page
        .checkout-form
            width 100%
            order 2
        .notification
            margin-bottom 16px
            margin-top 8px
        &-row
            flex-wrap wrap
@media screen and (max-width 430px)
    .checkout-page
        padding-bottom 64px
