.order-list
    width 500px
    background-color var(--bg-base)
    border-radius 12px
    padding 16px 24px
    padding-bottom 30px
    position sticky
    top 20px
    &-item-wrp,
    &-empty
        border-radius 12px
        background-color #fff
        padding 24px 16px
        margin-bottom 24px
    &-empty
        text-align center
        padding 40px 16px
        .button
            margin-top 16px
    &-item 
        display -webkit-flex
        display -moz-flex
        display -ms-flex
        display -o-flex
        display flex
        position relative
        margin-bottom 30px
    &-item:last-child
        margin-bottom 0
    &-item:hover
        .order-list-btn-wrp
        .order-list-add-fav
            opacity 1
    &-image
        width 80px
        height 80px
        flex-shrink 0
        border-radius 8px
        overflow hidden
        position relative
        margin-right 8px
        img 
            width 100%
            height 100%
            object-fit contain
    &-add-fav
        position absolute
        z-index 1
        width 100%
        height 100%
        background-color rgba(#0D1F42, 0.4)
        display -webkit-flex
        display -moz-flex
        display -ms-flex
        display -o-flex
        display flex
        justify-content center
        align-items center
        top 0
        left 0
        transition opacity 0.4s ease
        opacity 0
        &.--added
            path
                fill #F56A5B
        path
            fill #fff
    &-mid 
        width 200px
    &-brand 
        font-size em(10)
        font-weight 400
        text-transform uppercase
        color #8A8F99
    &-name 
        font-size em(14)
        font-weight 400
        color var(--text-color)
    &-btn-wrp
        position absolute
        right 0
        top 0
        z-index 1
        display -webkit-flex
        display -moz-flex
        display -ms-flex
        display -o-flex
        display flex
        align-items center
        transition opacity 0.4s ease
        opacity 0
    &-remove
        margin-left 16px
        background-color transparent
        padding 0
        width 16px
        height 16px
        svg 
            width 100%
            height 100%
    &-right
        display flex
        align-items flex-end
        flex-grow 1
        justify-content flex-end
        p 
            font-size em(16)
            font-weight 700
            white-space nowrap
    &-price 
        color var(--text-color)
        margin-left 8px
        font-weight 700
        font-size em(16)
        &.--large
            font-size em(20)
        &.--red
            color #F56A5B
    &-old-price
        text-decoration line-through
        color #8A8F99
    &-bonus-wrp
        margin 24px 0
    &-icon-wrp
        display -webkit-flex
        display -moz-flex
        display -ms-flex
        display -o-flex
        display flex
        align-items center
        margin-bottom 8px
        p 
            font-size em(14)
            font-weight 400
            color var(--text-color)
            margin-left 16px
            span
            button
                background-color transparent
                padding 0
                color var(--major-color)
    &-input-wrp
        position relative
        .button
            min-width initial
            padding 6px 8px 
            position absolute
            right 8px 
            top 50%
            transform translateY(-50%)
            svg
                margin-right 0
                margin-left 8px 
    &-input 
        background-color #fff 
        border-radius 8px 
        width 100%
        padding 10px
        font-size em(14)
        font-weight 400
        border 1px dashed var(--line-color)
        color var(--text-color)
        padding-right 130px
    &-text 
        font-size em(14)
        font-weight 400
        color var(--text-color)
        &.--large
            font-weight 700
            font-size em(20)
    &-row 
        display -webkit-flex
        display -moz-flex
        display -ms-flex
        display -o-flex
        display flex
        justify-content space-between
        align-items center
        position relative
    &-loader
        display flex
        font-size em(12)
        font-weight 400
        color var(--minor-color)
        align-items center
        position absolute
        right 0
        top 50%
        transform translateY(-50%)
        img 
            animation rotate 2s linear infinite
            margin-right 4px
    &-subtitle
        font-size em(14)
        font-weight 400
        color #8A8F99
        margin-bottom 24px
        b 
            color #F56A5B
@media screen and (max-width 769px)
    .order-list 
        order 1
        width 100%
        margin-bottom 32px
        &-btn-wrp
            opacity 1
        &-mid 
            width 60%
@media screen and (max-width 430px)
    .order-list
        display none
