.order-list-mobile
    display none
    width 100%
    margin-bottom 32px
    .order-list-mid
        width auto
        flex-grow 1
    .order-list-btn-wrp
        position static
        margin-top 14px
    .order-list-price-wrp
        position absolute
        bottom 0
        right 0
        z-index 1
        display flex
        align-items center
    .order-list-item-wrp
        padding 24px 0
@media screen and (max-width 430px)
    .order-list-mobile
        display block
@media screen and (max-width 321px)
    .order-list-mobile
        .order-list-price-wrp
            position static
            width 100%
            margin-top 10px
            margin-left 90px
        .order-list-item
            flex-wrap wrap
