<template>
    <div class="extra-page">
        <div class="layout-container">
            <div class="breadcrumbs">
                <button class="back" @click="$router.back()">Назад</button>
                <span>:</span>
                <nuxt-link to="">Помощь</nuxt-link>
                <nuxt-link to="">Как сделать заказ</nuxt-link>
            </div>
            <extra-nav />
            <div class="extra-page-row">
                <div class="extra-page-content">
                    <h1 class="extra-page-title">Как сделать заказ</h1>
                    <p class="extra-page-text">
                        На сайте существует несколько способов поиска и выбора товара. Если Вы уже знаете, какой объект хотите купить — введите его название в окно поиска в верхнем блоке сайта. Если же с конкретной моделью Вы еще не определились, воспользуйтесь нашим каталогом.
                    </p>
                    <p class="extra-page-text"><b>Оформление заказа</b></p>
                    <p class="extra-page-text">Выбрав понравившийся вам товар, нажмите кнопку «Добавить в корзину», и товар автоматически отправится в вашу корзину. Далее Вы можете продолжить выбор товаров в интернет-магазине, добавляя в корзину столько товаров, сколько Вам необходимо. Если Вы закончили выбор товаров, приступайте к оформлению заказа.</p>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import extraNav from '@/components/extra-page/nav'

export default {
    components: {
        extraNav
    }
}
</script>
