<template>
    <div class="checkout-delivery">
        <h4 class="checkout-title">Служба доставки (по Казахстану)</h4>
        <label class="checkout-radiobutton"
            v-for="(item, index) in services"
            :key="index"
            >
            <input type="radio"
                name="delivery-service"
                :value="item.id"
                v-model="service"
                @change="onSelected"
                hidden
                />
            <radio-active :class="['checkout-radio-icon', {'--active': item.id == service}]" />

            <div class="checkout-spacer">
                <span class="checkout-radio-text">{{ item.name }}</span>
                <span class="checkout-radio-sub">
                    Цена:
                    <span class="order-list-loader" v-if="isNaN(getDeliveryCost(item.id))">
                        <img src="/icons/load-small.png" alt="Only icon" data-not-lazy>
                        Расчет
                    </span>
                    <span v-else>
                        {{ $format_number(getDeliveryCost(item.id)) }} ₸
                    </span>
                </span>
            </div>

            <img :src="item.image" :alt="item.name" class="checkout-delivery-radio-img" />
        </label>
    </div>
</template>

<script>
import radioActive from "@/static/icons/radio-active.svg"

const SERVICE_COURIER = "courier"
const SERVICE_KAZPOST = "post"

export default {
    props: {
        value: {}
    },
    data() {
        return {
            service: this.value,
            waiting: {},
            services: [
                {
                    id: SERVICE_KAZPOST,
                    name: 'Казпочта',
                    image: '/icons/kazpost.png',
                },
                {
                    id: SERVICE_COURIER,
                    name: 'Курьерская служба',
                    image: '/icons/box-orange.svg',
                }
            ]
        }
    },
    watch: {
        value(val) {
            this.service = val
        }
    },
    methods: {
        onSelected() {
            this.$emit('input', this.service)
        },
        getDeliveryCost(id) {
            return this.$store.getters['delivery/GET_DELIVERY_COSTS'][id]
        }
    },
    components: {
        radioActive
    }
}

</script>
