<template>
    <div class="checkout-receive-type">
        <h4 class="checkout-title">Способ получения</h4>
        <div class="checkout-input-wrp space-between">
            <label :class="['checkout-receive-radio', {'--active' : delivery_type == index}]"
                v-for="(type, index) in deliveryTypes"
                :key="index"
                >
                <input type="radio" name="receive-type" :value="index" v-model="delivery_type" @change="onSelected" />
                <h6 class="checkout-radio-title">{{ type.name }}</h6>
                <p class="checkout-radio-label">{{ type.label }}</p>
            </label>
        </div>
    </div>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
    props: {
        value: {}
    },
    data() {
        return {
            delivery_type: this.value
        }
    },
    computed: {
        ...mapGetters({
            deliveryTypes: "content/GET_DELIVERY_TYPES",
        })
    },
    watch: {
        value(val) {
            this.delivery_type = val
        }
    },
    methods: {
        onSelected() {
            this.$emit('input', this.delivery_type)
        }
    }
}
</script>
