<template>
    <div class="checkout-comment">
        <h4 class="checkout-title">Комментарий к заказу</h4>
        <textarea class="checkout-input"
            placeholder="Введите здесь комментарий..."
            v-model="message"
            @change="onChange"
            />
    </div>
</template>

<script>

export default {
    props: {
        value: {}
    },
    data() {
        return {
            message: this.value
        }
    },
    watch: {
        value(val) {
            this.message = val
        }
    },
    methods: {
        onChange() {
            this.$emit('input', this.message)
        }
    }
}

</script>
