<template>
    <div class="checkout-address">
        <h4 class="checkout-title">Адрес доставки</h4>
        <checkout-city-dropdown v-model="address.city_id" @input="onChange" />
        <YMap v-if="isAlmaty" @address="setAddress" />
        <input type="text"
            placeholder="Укажите город / Населенный пункт *"
            class="checkout-input"
            v-model="address.location"
            v-if="!isAlmaty"
            @change="onChange"
            required
            />
        <input type="text"
            placeholder="Улица *"
            class="checkout-input"
            v-model="address.street"
            v-if="!isAlmaty"
            @change="onChange"
            required
            />
        <div class="checkout-input-wrp">
            <input type="text"
                placeholder="Квартира / офис"
                v-model="address.apartment"
                class="checkout-input"
                @change="onChange"
                />
            <input type="text"
                v-model="address.index"
                placeholder="Индекс"
                class="checkout-input"
                @change="onChange"
                />
        </div>
        <slot />
    </div>
</template>

<script>
import CheckoutCityDropdown from '@/components/checkout/checkout-city-dropdown'
import YMap from "../partials/YMap";

const CITY_ALMATY = 2

export default {
    props: {
        value: {
            type: Object,
            default: () => ({})
        }
    },
    data() {
        return {
            address: { ...this.value }
        }
    },
    computed: {
        isAlmaty() {
            return this.address.city_id == CITY_ALMATY
        }
    },
    watch: {
        value(val) {
            this.address = { ...val }
        }
    },
    methods: {
        onChange() {
            this.$emit('input', this.address)
        },
        setAddress(val) {
            this.address.street = val.address
            this.address.lat = val.lat
            this.address.long = val.long
            this.$emit('input', this.address)
        }
    },
    components: {
        YMap,
        CheckoutCityDropdown
    }
}

</script>
