<template>
    <div class="checkout-dropdown-wrp" v-click-outside="close">
        <div class="checkout-current-place" @click="toggle">
            <p>{{ cities[city_id].label }}</p>
            <arrow />
        </div>
        <transition name="fade">
            <div class="checkout-dropdown" v-if="isOpen">
                <p v-for="city in cities" :key="city.id" @click="setCityId(city.id)">{{ city.label }}</p>
            </div>
        </transition>
    </div>
</template>

<script>
import arrow from "@/static/icons/arrow-icon.svg"
import ClickOutside from "vue-click-outside"
import { mapGetters } from 'vuex'

export default {
    props: {
        value: {}
    },
    data() {
        return {
            city_id: this.value,
            isOpen: false,
        }
    },
    computed: {
        ...mapGetters({
            cities: "content/GET_CITIES",
        })
    },
    watch: {
        value(val) {
            this.city_id = val
        }
    },
    methods: {
        setCityId(id) {
            this.city_id = id
            this.close()
            this.$emit('input', id)
        },
        toggle() {
            this.isOpen = !this.isOpen
        },
        close() {
            this.isOpen = false
        }
    },
    components: {
        arrow
    },
    directives: {
        ClickOutside
    }
}

</script>
