<template>
    <div>
        <checkout-delivery-type
            v-model="delivery.type"
            @input="emitChange"
            />
        <template v-if="isCourierDelivery">
            <checkout-delivery-courier
                v-model="delivery.address"
                @input="emitChange"
            >
                <div v-if="isExpressAvailable && isAlmaty && inPeriod">
                    <div class="express" :class="{ '-disabled' : disabledExpress}">
                        <img src="~/static/images/car.png" />
                        <div class="express-center">
                            <div class="express-title">
                                Экспресс доставка за +500 ₸
                            </div>
                            <div class="express-description">
                                Соберем и доставим за час
                            </div>
                        </div>
                        <UiToggle 
                            v-model="delivery.is_express_delivery" @input="emitChange"
                            :disabled="disabledExpress"
                        />
                    </div>
                    <div class="express-info">
                        <div class="express-info-title">
                            Предупреждение!
                        </div>
                        <div class="express-info-description">
                            Экспресс доставка доступна только при онлайн оплате
                        </div>
                    </div>
                </div>
            </checkout-delivery-courier>

            <checkout-delivery-service
                v-model="delivery.service"
                @input="emitChange"
                v-if="!isAlmaty"
                />
        </template>

        <checkout-delivery-pickup
            v-model="delivery.shop_id"
            @input="emitChange"
            v-else
            />
    </div>
</template>

<script>
import CheckoutDeliveryType from '@/components/checkout/checkout-delivery-type'
import CheckoutDeliveryCourier from '@/components/checkout/checkout-delivery-courier'
import CheckoutDeliveryService from '@/components/checkout/checkout-delivery-service'
import CheckoutDeliveryPickup from '@/components/checkout/checkout-delivery-pickup'
import UiToggle from "../ui/UiToggle";

const DELIVERY_COURIER = 0
const DELIVERY_PICKUP = 1

const CITY_ALMATY = 2

export default {
    props: {
        value: {
            type: Object
        },
        isExpressAvailable: {
            type: Boolean,
            default: false
        },
        paymentType: Number
    },
    data() {
        return {
            delivery: { ...this.value }
        }
    },
    computed: {
        isAlmaty() {
            return this.delivery.address.city_id == CITY_ALMATY
        },
        isCourierDelivery() {
            return this.delivery.type == DELIVERY_COURIER
        },
        disabledExpress() {
            return this.paymentType != 1 && this.paymentType != 2 && this.paymentType != 5
        },
        inPeriod() {
            var today = new Date();
            return today.getHours() > 8 && today.getHours() < 19
        }
    },
    watch: {
        value: {
            deep: true,
            handler(val) {
                this.delivery = { ...this.value }
            }
        },
        isExpressAvailable: function(val) {
            if (!val) {
                this.delivery.is_express_delivery = false
                this.emitChange()
            }
        },
        paymentType(val) {
            if (val != 1 && val != 2 && val !=5) {
                this.delivery.is_express_delivery = false
                this.emitChange()
            }
        }
    },
    methods: {
        emitChange() {
            this.$emit('input', this.delivery)
        },
    },
    components: {
        CheckoutDeliveryType,
        CheckoutDeliveryPickup,
        CheckoutDeliveryService,
        CheckoutDeliveryCourier,
        UiToggle
    }
}

</script>

<style lang="stylus" scoped>
    .express
        display flex
        align-items center
        justify-content space-between
        border solid 1px var(--line-color)
        padding 12px 24px
        border-radius 12px
        &.-disabled
            opacity: .4
        img
            margin-right 14px
        &-center
            flex-grow 1
            font-size 14px
        &-title
            font-weight bold
        &-description
            color #637282
        &-info
            background: #F2F6F7
            border-radius: 10px
            padding: 8px 14px
            margin-top: 8px
            font-size: 14px
            &-title
               font-weight: 600
            &-description
               color: #637282
</style>
