<template>
    <div class="checkout-payment">
        <h4 class="checkout-title">Способ оплаты</h4>
        <div v-for="(type, index) in paymentTypes"
             :key="index">
            <label class="checkout-radiobutton">
                <input type="radio"
                    name="payment-type"
                    :value="type.id"
                    v-model="payment.type"
                    @change="onChange"
                    hidden
                    />
                <radio-active :class="['checkout-radio-icon', {'--active': payment.type == type.id}]" />
                <span class="checkout-radio-text">
                    {{ type.name }}
                    <span class="checkout-radio-description" v-if="type.description">
                        {{ type.description }}
                    </span>
                </span>
                <span class="checkout-spacer"></span>
                <img :src="type.image" class="checkout-delivery-radio-img" alt="Cart icon" data-not-lazy />

                <template v-if="isZoodpay(type.id)">
                    <div class="checkout-popup-btn" @click="openZoodpayInfo" v-if="$isMobile()">
                        <img src="/icons/info-orange.svg" alt="info icon" width="16" height="16" data-not-lazy />
                    </div>
                    <div class="checkout-popup" v-else>
                        <h5>Рассрочка на 3 месяца</h5>
                        <p>Рассрочка без комиссии, процентов и переплат через сервис онлайн рассрочки ZoodPay четырьмя равными частями в течение 3-х месяцев.</p>
                        <p>Введите персональную информацию и узнайте одобрен ли Ваш заказ мгновенно. В случае подтверждения заявки, с вашей карты будет удержан первый из четырех платежей по рассрочке.</p>
                    </div>
                </template>
            </label>
            <div class="checkout-kaspi" v-if="isKaspi(type.id) && payment.type == type.id">
                <ui-input
                    type="phone"
                    name="kaspi_phone"
                    v-model="payment.phone"
                    @input="onChange"
                />
            </div>
        </div>
        <client-only v-if="$isMobile()">
            <vue-bottom-sheet ref="zoodpaySheet">
                <div class="checkout-sheet">
                    <h4>Рассрочка на 3 месяца</h4>
                    <p>Рассрочка без комиссии, процентов и переплат через сервис онлайн рассрочки ZoodPay четырьмя равными частями в течение 3-х месяцев.</p>
                    <p>Введите персональную информацию и узнайте одобрен ли Ваш заказ мгновенно. В случае подтверждения заявки, с вашей карты будет удержан первый из четырех платежей по рассрочке.</p>
                </div>
            </vue-bottom-sheet>
        </client-only>
    </div>
</template>

<script>
import radioActive from "@/static/icons/radio-active.svg"
import UiInput from "@/components/partials/ui-input"

const PAYMENT_CASH = 0
const PAYMENT_ONLINE = 1
const PAYMENT_ZOODPAY = 4
const PAYMENT_KASPI = 5

export default {
    props: {
        value: {
            type: Object
        },
        cashPaymentAvailable: {
            type: Boolean,
        },
        zoodpayPaymentAvailable: {
            type: Boolean,
        }
    },
    data() {
        return {
            payment: { ...this.value }
        }
    },
    computed: {
        paymentTypes() {
            let paymentTypes = [
                {
                    id: PAYMENT_ONLINE,
                    name: 'Картой онлайн',
                    image: '/icons/card-orange.svg'
                },
                // {
                //     id: PAYMENT_ZOODPAY,
                //     image: '/images/zoodpay.png',
                //     name: 'Рассрочка — 4 платежа'
                // },
                {
                    id: PAYMENT_KASPI,
                    name: 'Счет на оплату - kaspi.kz',
                    description: 'Мы выставим счет на оплату на ваш номер, вы можете отплатить его в приложении.',
                    image: '/images/kaspi.svg'
                },
                {
                    id: PAYMENT_CASH,
                    name: 'Наличными',
                    image: '/icons/cash.svg'
                },
            ]

            return paymentTypes.filter(type => {
                return (
                        (type.id == PAYMENT_CASH && this.cashPaymentAvailable)
                        || type.id != PAYMENT_CASH
                    ) && (
                        (type.id == PAYMENT_ZOODPAY && this.zoodpayPaymentAvailable)
                        || type.id != PAYMENT_ZOODPAY
                    )
            })
        }
    },
    watch: {
        value: {
            deep: true,
            handler(val) {
                this.payment = { ...this.value }
                if (this.payment.type == PAYMENT_KASPI && !this.payment.phone && this.$user()) {
                    this.payment.phone = this.$user().phone
                }
            }
        },
        cashPaymentAvailable(val) {
            if (!val && this.payment.type == PAYMENT_CASH) {
                this.payment.type = PAYMENT_ONLINE
            }
        },
        zoodpayPaymentAvailable(val) {
            if (!val && this.payment.type == PAYMENT_ZOODPAY) {
                this.payment.type = PAYMENT_ONLINE
            }
        }
    },
    methods: {
        isZoodpay(id) {
            return id == PAYMENT_ZOODPAY
        },
        isKaspi(id) {
            return id == PAYMENT_KASPI
        },
        openZoodpayInfo() {
            this.$refs.zoodpaySheet.open()
        },
        onChange() {
            this.$emit('input', this.payment)
        }
    },
    components: {
        radioActive,
        UiInput
    }
}

</script>
