<template>
    <div class="checkout-info">
        <h4 class="checkout-title">Ваши данные</h4>
        <div class="checkout-phone-wrp">
            <v-input
                ref="authPhone"
                type="phone"
                name="phone"
                input-class="checkout-input"
                v-model="user.phone"
                placeholder="Номер телефона *"
                :simple="true"
                :required="true"
                @input="onChange"
            />
            <template v-if="!this.$isSignedIn()">
                <template v-if="is_code_sent">
                    <p class="checkout-text" v-if="secondsLeft > 0">
                        Получить новый код можно через 00:{{ $pad(secondsLeft) }}
                    </p>
                    <button type="button"
                        :class="{'-grey': secondsLeft > 0}"
                        :disabled="secondsLeft > 0"
                        @click="sendCode"
                        >
                        Получить код повторно
                    </button>
                </template>
				<button type="button" @click="sendCode" v-else>Получить код</button>
            </template>
		</div>
        <v-input
            type="text"
            name="code"
            input-class="checkout-input"
            placeholder="Введите код"
            v-model="user.code"
            :simple="true"
            :required="false"
            v-if="is_code_sent && !this.$isSignedIn()"
        />
        <v-input
            type="text"
            name="name"
            input-class="checkout-input"
            v-model="user.name"
            placeholder="ФИО *"
            :simple="true"
            :required="true"
            @input="onChange"
        />
        <v-input
            type="email"
            name="email"
            input-class="checkout-input"
            v-model="user.email"
            placeholder="E-mail *"
            :simple="true"
            :required="true"
            @input="onChange"
        />
    </div>
</template>

<script>
import vInput from "@/components/partials/v-input"

export default {
    props: {
        value: {
            type: Object
        }
    },
    data() {
        return {
            user: { ...this.value },
            waiting: false,
            timerInterval: null,
            is_code_sent: false,
            secondsLeft: 0,
        }
    },
    watch: {
        value: {
            deep: true,
            handler(val) {
                this.user = { ...val }
            }
        },
        "user.phone": function(val) {
            if (!this.$isSignedIn() && !this.is_code_sent && val && val.length == 11) {
                this.sendCode()
            }
        },
        "user.code": async function(val) {
            if (val && val.length >= 4) {
                this.user.code = val.substr(0, 4)
                this.signin()
            }
        },
    },
    mounted() {
        if (process.client) {
            this.timerInterval = setInterval(() => {
                this.secondsLeft = Math.max(0, this.secondsLeft - 1)
            }, 1000)
        }
    },
    methods: {
        async signin() {
            if (this.waiting || !this.$refs.authPhone.$el.querySelector('#phone').reportValidity()) {
                return
            }

            this.waiting = true
            await this.$store.dispatch("auth/signin", { ...this.user })
            this.waiting = false

			if (!this.$api.getError("signin")) {
                this.user.name = this.$user().name
                this.user.email = this.$user().email
			}
            this.onChange()
        },
        async sendCode() {
            this.is_code_sent = true
            this.secondsLeft = 60

            this.user.code = ''
            await this.$store.dispatch("auth/createVerificationCode", { ...this.user })
        },
        onChange() {
            this.$emit('input', this.user)
        }
    },
    components: {
        vInput
    }
}

</script>
