<template>
    <div class="checkout-address">
        <h4 class="checkout-title">Пункт самовывоза</h4>
        <div class="checkout-dropdown-wrp" v-click-outside="close">
            <div class="checkout-current-place" @click="toggle">
                <p>{{ shops[shop_id].name }}</p>
                <arrow />
            </div>
            <transition name="fade">
                <div class="checkout-dropdown" v-if="isOpen">
                    <p v-for="shop in shops" :key="shop.id" @click="setShopId(shop.id)">
                        {{ shop.name }}
                    </p>
                </div>
            </transition>
        </div>
    </div>

</template>

<script>
import ClickOutside from "vue-click-outside"
import arrow from "@/static/icons/arrow-icon.svg"
import { mapGetters } from 'vuex'

export default {
    props: {
        value: {}
    },
    data() {
        return {
            isOpen: false,
            shop_id: this.value
        }
    },
    computed: {
        ...mapGetters({
            shops: "content/GET_SHOPS",
        })
    },
    watch: {
        value(val) {
            this.shop_id = val
        }
    },
    methods: {
        toggle() {
            this.isOpen = !this.isOpen
        },
        close() {
            this.isOpen = false
        },
        setShopId(id) {
            this.shop_id = id
            this.close()
            this.$emit('input', id)
        }
    },
    components: {
        arrow
    },
    directives: {
        ClickOutside
    }
}
</script>
