<template>
    <div class="order-list-mobile">
        <div class="order-list-item-wrp" v-if="cart_cnt > 0">
            <div class="order-list-item" v-for="(item, product_id) of items" :key="product_id">
                <div class="order-list-image">
                    <img :src="item.product.image" :alt="item.product.title">
                    <button class="order-list-add-fav"
                        @click="toggleProduct(item.product)"
                        v-if="!isFavorite(item.product)">
                        <fav-icon />
                    </button>
                    <button class="order-list-add-fav --added" @click="toggleProduct(item.product)" v-else>
                        <fav-icon />
                    </button>
                </div>
                <div class="order-list-mid">
                    <p class="order-list-brand" v-if="item.product.brand">{{ item.product.brand.name }}</p>
                    <p class="order-list-name">{{ item.product.title }}</p>
                    <div class="order-list-mid-bot">
                        <div class="order-list-btn-wrp">
                            <div class="counter">
                                <button class="counter-decrease" @click="decreaseProduct(item.product)">
                                    <decrease-icon />
                                </button>
                                <span>{{ $format_number(item.cnt) }}</span>
                                <button class="counter-increase"
                                    :disabled="item.cnt >= item.product.quantity"
                                    @click="increaseProduct(item.product)">
                                    <increase-icon />
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <button class="order-list-remove" @click="removeProduct(item.product)">
                    <close-icon />
                </button>
                <div class="order-list-price-wrp">
                    <p class="order-list-old-price" v-if="item.product.discount">{{ $format_number(item.product.old_price) }} ₸</p>
                    <p class="order-list-price --red">{{ $format_number(item.product.price * item.cnt) }} ₸</p>
                </div>
            </div>
        </div>
        <div class="order-list-empty" v-else>
            <h4 class="order-list-text --large">В корзине пока ничего нет :(</h4>
            <nuxt-link class="button" to="/">Начать покупки</nuxt-link>
        </div>
        <div class="order-list-bonus-wrp"
             v-if="isNotCertificate"
            :class="{'--empty' : cart_cnt <= 0}">
            <div v-if="$isSignedIn() && $user()">
                <div class="order-list-icon-wrp">
                    <bonus-icon />
                    <p>У вас есть <span>{{ $format_number($user().bonus) }} бонусов</span></p>
                </div>
                <div class="order-list-input-wrp" v-if="$user().bonus > 0">
                    <input type="number" v-model="bonuses_input" placeholder="Введите количество баллов" class="order-list-input">
                    <button class="button --minor-color" @click="bonuses_used = bonuses_input">
                        Применить
                        <apply-icon />
                    </button>
                </div>
            </div>
            <div v-else>
                <div class="order-list-icon-wrp">
                    <bonus-icon />
                    <p><button @click="$setTrue('modals.auth')">Авторизуйтесь,</button> чтобы использовать бонусы.</p>
                </div>
            </div>
        </div>
        <div :class="['order-list-row', {'--empty' : cart_cnt === 0}]">
            <p class="order-list-text">Всего товаров на сумму:</p>
            <p class="order-list-price">{{ $format_number(subtotal) }} ₸</p>
        </div>
        <div :class="['order-list-row', {'--empty' : cart_cnt === 0}]" v-if="isCourier">
            <div class="order-list-loader" :style="`display: ${deliveryCost == null ? 'flex' : 'none'}`">
                <img src="/icons/load-small.png" alt="Only icon" data-not-lazy>
                Расчет
            </div>
            <p class="order-list-text">Доставка:</p>
            <p class="order-list-price" v-if="deliveryCost != null">{{ $format_number(deliveryCost) }} ₸</p>
        </div>
        <p :class="['order-list-subtitle', {'--empty' : cart_cnt === 0}]" v-if="minFree > 0">
            При заказе свыше {{ $format_number(minFree) }}, доставка - <b>Бесплатно</b>
        </p>
        <div :class="['order-list-row', {'--empty' : cart_cnt === 0}]">
            <p class="order-list-text --large">Итого:</p>
            <p class="order-list-price --large">{{ $format_number(total - bonuses_used) }} ₸</p>
        </div>
    </div>
</template>

<script>
import decreaseIcon from '@/static/icons/minus.svg'
import increaseIcon from '@/static/icons/plus.svg'
import closeIcon from '@/static/icons/close.svg'
import favIcon from '@/static/icons/favorites-filled.svg'
import bonusIcon from '@/static/icons/gift.svg'
import applyIcon from '@/static/icons/apply-arrow.svg'
import { mapGetters, mapActions } from 'vuex'

export default {
    components: {
        decreaseIcon,
        increaseIcon,
        closeIcon,
        favIcon,
        bonusIcon,
        applyIcon
    },
    props: {
        value: {},
        isCourier: {},
        deliveryCost: {},
        subtotal: {},
        total: {},
        minFree: {}
    },
    data() {
        return {
            bonuses_used: this.value,
            bonuses_input: this.value
        }
    },
    watch: {
        bonuses_used: function(val) {
            this.$emit('input', val)
        },
        bonuses_input: function(val) {
            this.bonuses_input = Math.min(val, this.$user().bonus, this.total)
        },
        total: function(val) {
            this.bonuses_input = Math.min(val, this.$user().bonuses_input, this.total)
        }
    },
    computed: {
        ...mapGetters({
            items: 'cart/GET_ITEMS',
            cart_cnt: 'cart/GET_CNT',
            isFavorite: 'favorites/IS_FAVORITE',
        }),
        isNotCertificate() {
            let isNot = false
            Object.keys(this.items).forEach(index => {
                if (this.items[index].product.subcategory.id != 75) {
                    isNot = true
                }
            })
            return isNot
        }
    },
    methods: {
        ...mapActions({
            removeProduct: 'cart/removeProduct',
            increaseProduct: 'cart/increaseProduct',
            decreaseProduct: 'cart/decreaseProduct',
            toggleProduct: 'favorites/toggleProduct',
        }),
    },
}
</script>
