<template>
    <transition name="fade">
        <div v-if="$check('order.success')" class="modal">
            <div class="modal-overlay" @click="closeModal"></div>
            <div class="modal-inner">
                <button class="modal-close" @click="closeModal">
                    <close-icon />
                </button>
                <success-icon />
                <h4 class="modal-title">Благодарим за покупку!</h4>
                <p class="modal-text">Ваш заказ оформлен и скоро будет обработан</p>
                <nuxt-link v-if="$isSignedIn()" to="/profile/history" class="button">Перейти к истории заказов</nuxt-link>
                <nuxt-link to="/catalog" class="modal-btn">Продолжить покупки</nuxt-link>
            </div>
        </div>
    </transition>
</template>

<script>
import successIcon from '@/static/icons/success.svg'
import closeIcon from '@/static/icons/close.svg'
import {mapGetters} from 'vuex'
export default {
    computed: {
        ...mapGetters({
            isOpen: 'GET_SUCCESS'
        })
    },
    methods: {
        closeModal() {
            this.$setFalse('order.success')
        }
    },
    components: {
        successIcon,
        closeIcon
    }
}
</script>
