<template>
    <label :class="{'--checked' : val}" class="toggle-btn">
        <input
            v-model="val"
            style="display: none;"
			:disabled="disabled"
            type="checkbox"
            @change="onChange"
        >
        <span class="toggle-btn-circle"></span>
    </label>
</template>

<script>
export default {
    props: {
        value: {
            type: Boolean,
            default: false
        },
		disabled: {
        	type: Boolean,
			default: false
		}
    },
    data() {
        return {
            val: this.value,
        }
    },
    watch: {
        value(val) {
            this.val = val
        }
    },
    methods: {
        onChange(val) {
            this.$emit('input', this.val)
        }
    }
}
</script>

<style lang="stylus" scoped>
.toggle-btn
    width: 44px
    height: 24px
    border-radius: 8px
    background: #D8E0F0
    position: relative
    transition: background .3s ease
    cursor: pointer
    justify-content: space-between

    &:hover
        background: #BDBDBD

    &.--checked
        background: var(--minor-color)

    input:checked
        & ~ .toggle-btn-circle
            transform: translateX(20px)

    &-circle
        width: 18px
        height: 18px
        background: #FFFFFF
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.16)
        border-radius: 6px
        position: absolute
        left: 3px
        top: 3px
        z-index: 1
        transition: transform .2s ease
</style>
