.checked-filters
	overflow-x auto
	white-space nowrap
	&-inner
		display inline-flex
	&-item
		background-color #fff
		border 1px solid var(--line-color)
		border-radius 99px
		font-size em(14)
		line-height 30px
		font-weight 400
		color var(--text-color)
		padding 0 10px
		margin-right 8px
		cursor pointer
		display flex
		align-items center
	&-icon
		flex-shrink 0
		margin-left 8px
		width 16px
		height 16px
		border-radius 999px
		background-color var(--line-color)
		display flex
		align-items center
		justify-content center
		svg 
			width 10px
			height 10px
@media (min-width 320px)
	.checked-filters
		margin-bottom 30px
		padding-bottom 5px
@media (min-width 1280px)
	.checked-filters
		margin-bottom 0
		padding-bottom 0