.catalog-dropdown
	position absolute
	background-color #fff
	box-shadow 0px 0px 10px rgba(31, 71, 153, 0.15)
	border-radius 8px
	padding 16px
	z-index 1
	top 100%
	left 0
	width 320px
	transform-origin 0 0
	overflow-y auto
	max-height 300px
	&::-webkit-scrollbar-track
		-webkit-box-shadow inset 0 0 6px rgba(0,0,0,0.1)
		background-color #F5F5F5
	&::-webkit-scrollbar
		width 6px
		background-color #F5F5F5
	&::-webkit-scrollbar-thumb
		background-color var(--major-color)
	&-item
		display -webkit-flex
		display -moz-flex
		display -ms-flex
		display -o-flex
		display flex
		margin-bottom 10px
		cursor pointer
		user-select none
		&:last-child
			margin-bottom 0
		input
			display none
			&:checked
				& ~ .catalog-dropdown-checkmark svg
					display block
		svg
			display none
	&-checkmark
		width 20px
		height 20px
		background-color var(--bg-base)
		border-radius 6px
		margin-right 16px
		flex-shrink 0
		display -webkit-flex
		display -moz-flex
		display -ms-flex
		display -o-flex
		display flex
		align-items center
		justify-content center
		svg
			width 100%
			height 100%
			margin-left 0
			transform none
	&-text
		font-size em(14)
		font-weight 400
		color var(--text-color)
		text-align left
		span 
			color #8A8F99
@media screen and (max-width 769px)
	.catalog-dropdown
		width 100%
		padding 0
		position static
		box-shadow: none
