.catalog-filter
	position relative
	z-index 3
	display -webkit-flex
	display -moz-flex
	display -ms-flex
	display -o-flex
	display flex
	align-items center
	margin-bottom 16px
	&-title
		margin-right 45px
		font-size em(14)
		font-weight 400
		color var(--text-color)
	&-row
		flex-grow 1
		display -webkit-flex
		display -moz-flex
		display -ms-flex
		display -o-flex
		display flex
		background-color var(--bg-base)
		border-radius 8px
		height 48px
	.button
		margin-left auto
	&-btn
		width auto
		height 100%
		position relative
		background-color var(--bg-base)
		display -webkit-flex
		display -moz-flex
		display -ms-flex
		display -o-flex
		display flex
		align-items center
		font-size em(14)
		font-weight 400
		color var(--text-color)
		padding 0 16px
		&.--border-radius
			border-radius 8px 0 0 8px
		&.--active
			&:before
				content: ''
				width: 8px
				height: 8px
				border-radius: 999px
				background-color var(--minor-color)
				position absolute
				right 10px
				top 10px
		svg
			width 16px
			height 16px
			margin-left 12px
			transform rotate(-90deg)
		&:after
			content ''
			width 1px
			height 24px
			background-color var(--line-color)
			position absolute
			right 0
			top 50%
			transform translateY(-50%)
@media screen and (max-width 769px)
	.catalog-filter
		display none
