.catalog-page
    padding-top 60px
    &.--brand 
        padding-top 24px
    .ig-feed
        margin-top 60px
    &-empty
        display flex
        flex-direction column
        align-items center
        text-align center
        &-title 
            font-size em(20)
            font-weight 700
            color var(--text-color)
        &-text 
            font-size em(14)
            font-weight 400
            color: var(--text-color)
            margin-top 8px
            margin-bottom 60px
    &-top-wrp
        position absolute
        width 100%
        z-index 8
        top: 165px
        left 0
    &-slider-wrp
        margin 20px 0
        border-top 1px solid var(--line-color)
    &-row
        display -webkit-flex
        display -moz-flex
        display -ms-flex
        display -o-flex
        display flex
        flex-wrap wrap
        .product
            margin-right 20px
            margin-bottom 10px
        .product:nth-child(4n)
            margin-right 0
    &-btn-wrp
        text-align center
    &-loader
        img 
            margin auto
            animation rotate 2s linear infinite
    &-mobile
        display none
@media screen and (max-width 769px)
    .catalog-page
        &-row
            .product:nth-child(3n)
                margin-right 0
            .product:nth-child(4n)
                margin-right 20px
        &-top-wrp
            display none
        &-subcat-btn
            width 28px
            height 28px
            border-radius 8px
            background-color var(--major-color)
            display flex
            align-items center
            justify-content center
            padding 0
        &-slider-wrp 
            border none
        &-mobile 
            display flex
            border-top 1px solid var(--line-color)
            border-bottom 1px solid var(--line-color)
            &.--top
                position fixed
                top 104px
                width 100%
                background-color var(--bg-base)
                border none
                padding 16px
                border-radius: 0px 0px 12px 12px
                justify-content space-between
                align-items center
                z-index 8
                .catalog-top-title
                    position absolute
                    left 50%
                    top 50%
                    transform translate(-50%, -50%)
            .catalog-filter,
            .catalog-sort
                display flex
                align-items center
                flex-grow 1
                justify-content space-between
                padding 16px
                background-color #fff
                margin-bottom 0
                font-size em(12)
                font-weight 400
                color var(--text-color)
            .catalog-sort select 
                border none
                appearance none
                width 100%
            .catalog-filter
                position relative
                &:after
                    content ''
                    width 1px
                    height 24px
                    background-color var(--line-color)
                    position absolute
                    right 0
                    top 50%
                    transform translateY(-50%)
@media screen and (max-width 430px)
    .catalog-page
        .catalog-top-title 
            font-size 1em
        &-row
            display: grid
            grid-template-columns: 1fr 1fr
            .product
                width auto
                margin 0 !important
@media screen and (max-width 321px)
    .catalog-page
        &-row
            grid-template-columns: 1fr
