.mobile-filter
    position fixed
    z-index 15
    width 100%
    height 100vh
    overflow-y auto
    background-color #fff
    top 0
    left 0
    &-close-wrp
        padding 16px
        border-bottom 1px solid var(--line-color)
        text-align center
        position fixed
        width 100%
        z-index 6
        top 0
        left 0
        background-color #fff
    &-close
        position absolute
        right 16px
        top 50%
        transform translateY(-50%)
        background-color #fff
        width 24px
        height 24px
        padding 0
        z-index 1
        svg  
            width 100%
            height 100%
    &-content 
        padding 70px 16px
        padding-bottom 100px
    &-slider 
        margin-bottom 24px
        .mobile-filter-title
            margin-bottom 8px
    &-item 
        display flex
        align-items center
        justify-content space-between
    .catalog-dropdown
        margin-top 8px
    &-arrow 
        width 24px
        height 24px
        transform rotate(-90deg)
        transition transform 0.2s ease
        &.--active 
            transform rotate(-270deg)
    &-btn-wrp
        position fixed
        z-index 1
        bottom 0
        left 0
        width 100%
        background-color #fff
        box-shadow: 0px 0px 15px rgba(31, 71, 153, 0.15)
        display flex
        justify-content space-between
        padding 16px
        button 
            width 48%
            min-width initial
    &-btn
        color var(--text-color)
        background-color var(--bg-base)
        text-transform uppercase
        font-size em(12)
        font-weight 700
        border-radius 8px
    &-dropdown 
        margin-bottom 24px