.mobile-subcat
    position fixed
    z-index 15
    width 100%
    height 100vh
    top 0
    left 0
    display flex
    align-items center
    justify-content center
    &-overlay 
        position absolute
        width 100%
        height 100%
        top 0
        left 0
        background-color rgba(#000, 0.5)
    &-inner 
        max-width 285px
        position relative
        z-index 1
        border-radius 8px
        padding 10px 0
        background-color #fff
    &-link 
        display block
        font-size em(14)
        font-weight 400
        color var(--text-color)
        padding 4px 16px