.catalog-range
    position absolute
    top 100%
    left 0
    width 250px
    padding 20px 16px
    background-color #fff
    box-shadow 0px 0px 10px rgba(31, 71, 153, 0.15)
    border-radius 8px
    z-index 1
    transform-origin 0 0
    &-row
        display flex
        align-items center
        justify-content space-between
        margin-bottom 16px
        &.--price
            margin-bottom 0
    &-input
        width 77px
        border none
        border-bottom 1px solid var(--line-color)
    &-text
    &-input
        font-size em(14)
        color var(--text-color)
        font-weight 400
    .vue-slider-process
        background-color var(--minor-color)
    .vue-slider-rail
        background-color var(--line-color)