.catalog-sort
    position relative
    z-index 2
    display -webkit-flex
    display -moz-flex
    display -ms-flex
    display -o-flex
    display flex
    align-items center
    justify-content space-between
    margin-bottom 40px
    &-counter
        font-size em(14)
        font-weight 400
        color var(--text-color)
    &-select-wrp
        display -webkit-flex
        display -moz-flex
        display -ms-flex
        display -o-flex
        display flex
        align-items center
        h6
            font-size em(14)
            font-weight 700
            color var(--text-color)
    .custom-select
        margin-left 16px
        &-selected,
        &-items
            border 1px solid var(--line-color)
            border-radius 8px
        &-items
            background-color #fff
@media screen and (max-width 769px)
    .catalog-sort
        display none