.subcat-dropdown
    position absolute
    top 100%
    left 0
    width 285px
    box-shadow 0px 0px 10px rgba(31, 71, 153, 0.15)
    border-radius 8px
    padding 16px
    background-color #fff
    transform-origin 0 0
    &-item
        text-transform initial
        display block
        font-size 14px
        font-weight 400
        color var(--text-color)
        margin-bottom 6px
        text-align left
        &:last-child
            margin-bottom 0