.catalog-top
    transition height 0.4s ease
    height 75px
    &.--open
        height 145px
    &-counter
        font-size em(14)
        font-weight 400
        color #8A8F99
    &-title-wrp
        display -webkit-flex
        display -moz-flex
        display -ms-flex
        display -o-flex
        display flex
        justify-content space-between
        align-items center
        background-color var(--bg-base)
        padding 16px 24px
        border-radius 0 0 12px 12px
    &-title 
        font-size em(18)
        font-weight 700
        color var(--text-color)
        display -webkit-flex
        display -moz-flex
        display -ms-flex
        display -o-flex
        display flex
        align-items center
        .button
            padding 4px 12px
            border-radius 30px
            min-width initial
            text-transform capitalize
            margin-left 24px
            position relative
        .button svg
            width 18px
            height 18px
            margin-right 0
            transform rotate(-90deg)
        .button path
            fill #fff
    &-slider-wrp
        display -webkit-flex
        display -moz-flex
        display -ms-flex
        display -o-flex
        display flex
        align-items center
        margin-top 24px
        .slider-prev
            margin-right 16px
        .slider-next
            margin-left 16px
        .swiper-container
            flex-grow 1
        .swiper-slide
            width auto
    &-btn 
        background-color var(--bg-base)
        border-radius 8px
        padding 12px 32px
        font-size em(12)
        font-weight 400
        color var(--text-color)
        transition all 0.4s ease
        &:hover
            color #fff
            background-color var(--major-color)
        &.--active
            color #fff
            background-color var(--major-color)
@media screen and (max-width 769px)
    .catalog-top
        &-slider-wrp 
            padding 0
            .swiper-container
                padding 0 16px
        &-prev,
        &-next
            display none