<template>
    <div class="favorites-page">
        <div class="page-title">
            <div class="layout-container">
                <h1>Избранное</h1>
                <button class="back" @click="$router.back()">Назад</button>
            </div>
        </div>
        <div class="layout-container">
            <div class="favorites-page-empty" v-if="!products || products.data.length == 0">
                <div>
                    <h2 class="favorites-page-title">В Избранном пока ничего нет</h2>
                    <p class="favorites-page-text">
                        Добавляйте товары в Избранное с помощью
                        <i class="favorites-page-icon">
                            <fav-icon/>
                        </i>
                    </p>
                </div>
            </div>
            <div class="favorites-page-row" v-else>
                <product v-for="product in products.data" :key="product.id" :product="product" />
                <div ref="pagination-mark"></div>
            </div>
            <div class="catalog-page-loader" v-if="waiting">
                <img src="/icons/load-large.png" alt="Only icon" data-not-lazy>
            </div>
        </div>
    </div>
</template>

<script>
import product from '@/components/partials/product'
import favIcon from '@/static/icons/favorites-filled.svg'
import { mapGetters, mapActions } from 'vuex'

export default {
    components: {
        product,
        favIcon
    },
    middleware: ['favorites'],
    data() {
        return {
            waiting: false,
        }
    },
    computed: {
        ...mapGetters({
            products: 'product/GET_FAVORITES',
        }),
    },
    mounted() {
        if (process.client) {
            if (!this.$route.query.page) {
                this.lazyLoad()
            }
            window.addEventListener('scroll', async () => {
                if (this.waiting || !this.$refs['pagination-mark']) {
                    return
                }

                let bottom = this.$refs['pagination-mark'].getBoundingClientRect().bottom
                if (bottom - 100 < window.innerHeight) {
                    await this.tryTolazyLoad()
                }
            }, { passive: true })
        }
    },
    methods: {
        ...mapActions({
            paginate: 'product/paginate'
        }),
        async tryTolazyLoad() {
            if (!this.waiting) {
                await this.lazyLoad()
            }
        },
        async lazyLoad() {
            this.waiting = true
            await this.paginate(`favorites`)
            this.waiting = false
        }
    }
}
</script>
