<template>
    <div class="search-page">
        <div class="layout-container">
            <div class="breadcrumbs">
                <button class="back" @click="$router.back()">Назад</button>
                <span>:</span>
                <nuxt-link to="/catalog">Каталог</nuxt-link>
                <nuxt-link :to="`/search?q=${$route.query.q}`">Результаты поиска</nuxt-link>
            </div>
            <h1 class="search-page-title">По запросу «{{ $route.query.q }}» найдено {{ products.total }} товар{{ products.total == 1 ? '' : (products.total < 5 ? 'а' : 'ов') }}</h1>
            <sort :total="products.total" :options="options" :cnt="products.data.length" />
            <div class="catalog-page-row">
                <product v-for="product in products.data" :key="product.id" :product="product" />
            </div>
            <div class="catalog-page-loader" v-if="waiting">
                <img src="/icons/load-large.png" alt="Only icon" data-not-lazy>
            </div>
            <div class="catalog-page-btn-wrp" v-else>
                <button class="button --minor-color" @click="tryTolazyLoad" v-if="products.last_page != products.current_page">
                    <reload-icon />
                    Показать еще
                </button>
            </div>
        </div>
    </div>
</template>

<script>
import sort from '@/components/catalog/sort'
import product from '@/components/partials/product'
import reloadIcon from '@/static/icons/reload.svg'
import { mapGetters, mapActions } from 'vuex'

export default {
    components: {
        sort,
        product,
        reloadIcon
    },
    middleware: ['catalog'],
    data() {
        return {
            waiting: false,
            options: {
                lft: 'по умолчанию',
                purchase_countdesc: 'по популярности',
                created_at: 'по новизне',
                price: 'по возрастанию цены',
                pricedesc: 'по убыванию цены'
            }
        }
    },
    computed: {
        ...mapGetters({
            products: 'product/GET_PRODUCTS',
        }),
    },
    mounted() {
        if (process.client) {
            if (!this.$route.query.page) {
                this.lazyLoad()
            }
            window.addEventListener('scroll', async () => {
                if (this.waiting || !this.$refs['pagination-mark']) {
                    return
                }

                let bottom = this.$refs['pagination-mark'].getBoundingClientRect().bottom
                if (bottom - 100 < window.innerHeight) {
                    await this.tryTolazyLoad()
                }
            }, { passive: true })
        }
    },
    methods: {
        ...mapActions({
            paginate: 'product/paginate',
        }),
        async tryTolazyLoad() {
            if (!this.waiting) {
                await this.lazyLoad()
            }
        },
        async lazyLoad() {
            this.waiting = true
            await this.paginate(`products`)
            this.waiting = false
        }
    }
}
</script>
