<template>
    <div class="checkout-page">
        <success-modal />
        <div class="page-title">
            <div class="layout-container">
                <h1>Корзина</h1>
                <button class="back" @click="$router.back()">Назад</button>
            </div>
        </div>
        <div class="layout-container">
            <div class="checkout-page-row">
                <form class="checkout-form" @submit.prevent="checkout">
                    <checkout-auth v-model="order.user" />
                    <checkout-delivery v-model="order.delivery"
                                       :is-express-available="order.is_express_available"
                                       :payment-type="order.payment.type"
                    />
                    <checkout-payment
                        :cash-payment-available="isCashPaymentAvailable"
                        :zoodpay-payment-available="isZoodpayPaymentAvailable"
                         v-model="order.payment"
                         />
                    <checkout-comment v-model="order.message" />
                    <button type="submit" class="button checkout-button" :disabled="waiting || subtotal <= 0">Оформить заказ</button>
                </form>

                <component :is="$isMobile() ? 'mobile-list' : 'list'"
                    :is-courier="isCourierDelivery"
                    :delivery-cost="order.delivery_cost"
                    :subtotal="subtotal"
                    :total="total"
                    :min-free="isAlmaty ? 0 : 10000"
                    v-model="order.bonuses_used"
                    />
            </div>
        </div>
    </div>
</template>

<script>
import checkoutAuth from "@/components/checkout/checkout-auth"
import checkoutDelivery from "@/components/checkout/checkout-delivery"
import checkoutPayment from "@/components/checkout/checkout-payment"
import checkoutComment from "@/components/checkout/checkout-comment"

import successModal from "@/components/checkout/modal"
import list from "@/components/checkout/list"
import mobileList from "@/components/checkout/mobile-list"
import { mapGetters } from "vuex"

const CITY_KAZAKHSTAN = 1
const CITY_ALMATY = 2
const DELIVERY_COURIER = 0
const DELIVERY_PICKUP = 1

const PAYMENT_CASH = 0
const PAYMENT_ONLINE = 1
const PAYMENT_TRANSFER = 2
const PAYMENT_TERMINAL = 3
const PAYMENT_INSTALLMENT = 4
const PAYMENT_KASPI = 5

const SERVICE_COURIER = "courier"
const SERVICE_KAZPOST = "post"

export default {
	middleware: ["checkout"],
	data() {
		return {
			waiting: false,
			order: {
                delivery_cost: null,
                is_express_available: false,
                message: null,
                bonuses_used: 0,
                user: {
                    name: null,
                    email: null,
                    phone: null,
                    code: null
                },
                delivery: {
                    type: DELIVERY_COURIER,
                    service: SERVICE_COURIER,
                    is_express_delivery: false,
                    shop_id: 1,
                    address: {
                        city_id: CITY_ALMATY,
                        location: "",
                        street: null,
                        house: null,
                        apartment: null,
                        index: null,
                        lat: 0,
                        long: 0
                    },
                },
                payment: {
                    type: PAYMENT_ONLINE,
                    phone: null
                },
			},
		}
	},
	computed: {
		...mapGetters({
			cart_cnt: "cart/GET_CNT",
			items: "cart/GET_ITEMS",
            zoodpayConfiguration: 'content/GET_ZOODPAY_CONFIGURATION'
		}),
		subtotal: function () {
			let summ = 0
			Object.keys(this.items).forEach((product_id) => {
				summ += this.items[product_id].cnt * this.items[product_id].product.price
			})
			return summ
		},
        total: function () {
            return this.subtotal + this.order.delivery_cost
        },
        isCourierDelivery() {
            return this.order.delivery.type == DELIVERY_COURIER
        },
        isAlmaty() {
            return this.order.delivery.address.city_id == CITY_ALMATY
        },
        isZoodpayPaymentAvailable() {
            return this.zoodpayConfiguration
                && this.zoodpayConfiguration['max_limit'] >= this.total
                && this.zoodpayConfiguration['min_limit'] <= this.total
        },
        isCashPaymentAvailable() {
            return this.isAlmaty
        }
	},
    async fetch() {
        await this.calculateDeliveryCost()
    },
	watch: {
		subtotal: async function (val) {
            await this.calculateDeliveryCost()
		},
        'order.delivery': {
            deep: true,
            handler() {
                this.calculateDeliveryCost()
            }
        }
	},
	mounted() {
		if (this.$route.query.success == 1) {
            if (this.$route.query.clear == 1) {
                this.$store.commit("cart/SET_ITEMS", [])
                this.$store.commit("cart/FILTER_ITEMS")
            }
			this.$router.push({ query: {} })
			this.$setTrue("order.success")
		} else if (this.$route.query.success == 0) {
			this.$router.push({ query: {} })
			this.$toastr.error("Заказ не оплачен!")
		}

		if (this.$isSignedIn()) {
			this.order.user.phone = this.$user().phone
			this.order.user.email = this.$user().email
			this.order.user.name = this.$user().name
		}
	},
	methods: {
		async calculateDeliveryCost() {
            this.order.delivery_cost = null
            const resp = await this.$api.get('deliveryCost', {
                city_id: this.order.delivery.address.city_id,
                service: this.order.delivery.service,
                total: this.subtotal,
                is_express_delivery: this.order.delivery.is_express_delivery,
                lat: this.order.delivery.address.lat,
                long: this.order.delivery.address.long
            })
            if (resp) {
                this.order.delivery_cost = resp.cost
                this.order.is_express_available = resp.is_express_available
                this.$store.dispatch('delivery/setDeliveryCosts', resp.services)
            }
		},
		async checkout() {
			let items = []

			Object.keys(this.items).forEach((product_id) => {
				items.push({
					product_id: product_id,
					cnt: this.items[product_id].cnt,
				})
			})
            if (document.getElementById('suggest')) {
                this.order.delivery.address.street = document.getElementById('suggest').value
            }
			let data = {
				items: items,
				order: { ...this.order },
				success_url: (window.location + "/success?clear=1").split().filter(c => c).join(),
				failure_url: window.location + "?success=0",
			}

            try {
                this.waiting = true
                let resp = await this.$api.post("checkout", data, "checkout")
                if (resp.redirect_url) {
                    window.location.href = resp.redirect_url
                    return
                } else {
                    this.$store.commit("cart/SET_ITEMS", [])
                    this.$store.commit("cart/FILTER_ITEMS")
                }

                if (this.$isSignedIn()) {
                    await this.$store.dispatch("user/fetchUser")
                }

                this.$router.push(`/checkout/success?order_id=${resp.order_id}`)

            } catch (e) {
                this.$toastr.error(this.$api.getError('checkout'))
            }
            this.waiting = false
		},
	},
    components: {
        checkoutAuth,
        checkoutDelivery,
        checkoutPayment,
        checkoutComment,
		successModal,
		list,
		mobileList
	},

}
</script>
