<template>
    <div class="checkout-success">
        <div class="layout-container">
            <img src="/icons/checkout-success.png" alt="icon" class="icon">
            <h1 class="heading">Заказ оформлен</h1>
            <p class="text">Ваш заказ оформлен и скоро будет обработан</p>
            <nuxt-link class="button" to="/profile/history">Перейти к истории заказов</nuxt-link>
        </div>
    </div>
</template>

<script>
import { $urls } from '~/common/urls.js'

export default {
    async mounted() {
        if (process.client) {
            if (this.$route.query.order_id) {
                const resp = await this.$api.get($urls.url('user.order', [this.$route.query.order_id]))
                if (resp && resp.can_roll) {
                    this.$setTrue('gift.modal')
                }
            }
        }
    }
}

</script>

<style lang="stylus" scoped>
.checkout-success
    padding-top 100px
    padding-bottom 140px
    text-align center
    .layout-container
        display flex
        flex-direction: column
        align-items center
    .icon
        width 128px
    .heading
        font-size 20px
        font-weight 700
        margin-top 24px
        margin-bottom 16px
    .text
        font-size 14px
        margin-bottom 24px
    .button
        padding: 12px 32px
</style>
