.extra-page
    padding-top 20px
    padding-bottom 60px
    .breadcrumbs
        margin-bottom 30px
    &.--bonuses
        .extra-page-text b
            display block
    &-row
        display -webkit-flex
        display -moz-flex
        display -ms-flex
        display -o-flex
        display flex
        justify-content center
        margin auto
        max-width 745px
        &:last-of-type .extra-page-content
            border-bottom none
    &-icon
        margin-right 110px
        margin-top 25px
    &-content
        width 100%
        max-width 550px
        padding-bottom 25px
        margin-top 40px
        border-bottom 1px solid var(--line-color)
    &-title
        font-size em(20)
        font-weight 700
        color var(--text-color)
        margin-bottom 16px
    &-subtitle
        font-size em(14)
        font-weight 700
        color var(--text-color)
    &-text
    &-list li
        font-size em(14)
        font-weight 400
        color var(--text-color)
    &-text
        &.--ul
            margin-left: 20px;
            list-style: unset;
        margin-bottom 16px
        a
            font-weight 700
            color var(--major-color)
        span
            font-weight 700
            color var(--minor-color)
    &-note
        border-radius 8px
        background-color var(--bg-base)
        padding 16px
        margin-top 40px
    &-note-title
        font-size em(14)
        font-weight 700
        color var(--minor-color)
@media screen and (max-width 430px)
    .extra-page
        padding-bottom 20px
