.extra-nav
    display flex
    justify-content center
    &-link
        text-align center
        display flex 
        justify-content center
        align-items center
        flex-wrap wrap
        font-size em(14)
        color var(--text-color)
        font-weight 700
        transition all 0.4s ease
        width 200px
        height 150px
        border 1px solid var(--line-color)
        border-radius 12px
        margin 0 12px
        box-shadow 0px 0px 10px rgba(31, 71, 153, 0)
        span 
            width 100%
        svg 
            display block
            margin 0 auto
            width 64px
            height 64px
        &.nuxt-link-exact-active
        &:hover
            border-color var(--minor-color)
            color var(--minor-color)
            box-shadow 0px 0px 10px rgba(31, 71, 153, 0.15)
        &:last-child
            &.nuxt-link-exact-active
            &:hover
                border-color var(--major-color)
                color var(--major-color)
@media screen and (max-width 430px)
    .extra-nav
        flex-wrap wrap 
        &-link
            width 100%
            height auto
            padding 16px
            margin 0
            margin-bottom 8px
            &.nuxt-link-exact-active
            &:hover
                border-color var(--minor-color)
                color var(--minor-color)
                box-shadow none
        &-link div 
            display flex
            width 100%
            align-items center
            justify-content flex-start
            svg
                width 40px
                height 40px
                margin 0
                margin-right 16px
            span
                width auto
