/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul,
ol {
  padding: 0;
  list-style: none;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  font-family: var(--font-base);
  font-size: 16px;
  line-height: 1.5;
  overflow-x: hidden !important;
  color: #000;
  touch-action: manipulation;
  -webkit-tap-highlight-color: transparent;
  &.--hidden {
    overflow-x: hidden;
    overflow-y: hidden;
  }
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

a {
    text-decoration: none;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select,
a {
  outline: none;
  font: inherit;
  &:focus {
    outline: none;
  }
}

button {
  cursor: pointer;
  border: none;
  touch-action: manipulation;
}

select {
  // appearance: none;
  background: #fff;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.vue-slider-process
    background-color var(--minor-color)
.vue-slider-rail
    background-color var(--line-color)
.medium-zoom-overlay
    z-index 20
img[data-zoomable]
    z-index 21