.counter
    display -webkit-flex
    display -moz-flex
    display -ms-flex
    display -o-flex
    display flex
    align-items center
    &.--hidden
        display none
    span 
        font-size em(14)
        font-weight 400
        color var(--text-color)
        min-width 30px
        text-align center
    button 
        background-color transparent
        padding 0
        width 30px
        height 30px
        border-radius 8px
        background-color var(--bg-base)
        display -webkit-flex
        display -moz-flex
        display -ms-flex
        display -o-flex
        display flex
        align-items center
        justify-content center
        transition background-color 0.4s ease
        svg
            width 20px
            height 20px
        path 
            transition fill 0.4s ease
        &:hover 
            background-color var(--major-color)
            path
                fill #fff 
.section-title
    font-size em(28)
    font-weight 700
    color var(--text-color)
.swiper-pagination-bullet
		background-color var(--text-color)
		width 8px
		height 8px
		transform scale(0.8)
		outline none
		transition all 0.4s ease
		&-active
			transform scale(1)
@media screen and (max-width 430px)
    .section-title
        font-size em(18)
.breadcrumbs
    span
    a 
        font-size em(14)
        font-weight 400
        color #8A8F99
    a 
        position relative
        display inline-block
        margin-right 30px
        &:after
            content ''
            width 16px
            height 1px
            background-color var(--line-color)
            position absolute
            right -24px
            top 50%
            transform translateY(-50%)
    a:last-child
        color var(--text-color)
        &:after
            display none
    span 
        display inline-block
        margin 0 16px
.button
    display inline-flex
    justify-content center
    align-items center
    padding: 12px 0
    background-color var(--major-color)
    border-radius: 8px
    color #fff
    font-size 12px
    font-weight 700
    text-transform uppercase
    min-width 200px
    &.--gray
        background: #F7F9FA
        color: var(--text-color)
    &.--red 
        background-color #F56A5B
    &.--hidden
        display none
    &.--minor-color
        background-color var(--minor-color)
    svg
        margin-right 8px
        transform translateY(-1px)
.slider-next,
.slider-prev
    width 40px
    height 40px
    background-color var(--bg-base)
    border-radius 8px
    display -webkit-flex
    display -moz-flex
    display -ms-flex
    display -o-flex
    display flex
    justify-content center
    align-items center
    svg
        width 24px
        height 24px
.slider-next svg
    transform rotate(-180deg)
.tag 
    display inline-block
    border-radius 4px 8px
    padding 0 6px
    text-transform uppercase
    color #fff 
    font-size em(12)
    font-weight 700
    &.--new
        background-color #B4D656
    &.--discount
        background-color #F56A5B
    &.--hit 
        background-color #55D5B6
.news-item
    width 267px
    background #F7F9FA
    display block
    border-radius 12px
    overflow hidden
    &-image img 
        width 100%
        height 180px
        object-fit cover
    &-text-wrp
        padding 24px 20px 
        min-height 260px
    &-title
        font-size em(18)
        font-weight 700
        color var(--text-color)
        margin-bottom 16px
    &-text 
        font-size em(14)
        font-weight 400
        color var(--text-color)
        margin-bottom 24px
    &-date 
        font-size em(14)
        font-weight 400
        color #8A8F99
@media screen and (max-width: 1025px)
    .news-item
        width 233px
        &-text-wrp 
            min-height 200px
@media screen and (max-width: 769px)
    .news-item
        width 100%
@media screen and (max-width: 430px)
    .news-item
        &-image img 
            height 120px
        &-text-wrp
            padding 12px 10px
            min-height 180px
        &-title
            font-size 1em
            margin-bottom 8px
        &-text
            margin-bottom 8px
.page-title
    padding 24px 0
    margin-bottom 40px
    background-color var(--bg-base)
    .layout-container
        position relative
        text-align center
    .back 
        position absolute
        left 0
        z-index 1
        top: 50%
        transform: translateY(-50%)
    h1 
        font-size em(28)
        color var(--text-color)
        font-weight 700
@media screen and (max-width 430px)
    .page-title
        padding 16px 0
        h1 
            font-size em(18)
.back
    padding 0
    padding-left 20px 
    position relative
    background-color transparent
    font-size em(12)
    font-weight 700
    text-transform uppercase
    color var(--text-color)
    line-height 16px
    &:before
        content ''
        width 16px
        height 16px
        background-image url('/icons/arrow-main-color.svg')
        background-repeat no-repeat
        background-position center
        background-size contain 
        position absolute
        left 0
        top 0
.swiper-pagination
    position static
    margin-top 16px
    &-bullet 
        background var(--text-color)
button[disabled]
    opacity .5
