@font-face
	font-family Nunito
	src url('/fonts/Nunito-Regular.woff') format('woff')
	font-weight 400
	font-display: swap
@font-face
	font-family Nunito
	src url('/fonts/Nunito-Bold.woff') format('woff')
	font-weight 700
	font-display: swap
