.layout 
    display -webkit-flex
    display -moz-flex
    display -ms-flex
    display -o-flex
    display flex
    flex-direction column
    min-height 100vh
    &-content
        flex-grow 1
        margin-top 165px
        &.--profile
            background-color var(--bg-base)
        @media screen and (max-width: 769px)
            margin-top 104px
    &-container
    	width 100%
    	margin auto
    	max-width 1130px
    @media screen and (max-width: 1025px)
        &-container 
            max-width 100%
            padding 0 16px