// Default Variables
$base--font-size ?= 16px

em($value, $base = $base--font-size)
  $max = length($value)

  $emValues = ()
  for $i in (0...$max)
    push($emValues, _convert-to-em( $value[$i], $base ))

  return $emValues

_convert-to-em($px, $base)
  if ((unit($px) == '' || unit($px) == 'px') && ($px != 0))
    return (round($px / $base, 3))em
  else
    return 0