.fade-enter-active
.fade-leave-active
    transition opacity .5s
.fade-enter
.fade-leave-to
    opacity 0
.fade-fast-enter-active
.fade-fast-leave-active
    transition opacity .3s
.fade-fast-enter
.fade-fast-leave-to
    opacity 0
.filter-fade-enter-active
.filter-fade-leave-active
    transition all 0.4s
.filter-fade-enter
.filter-fade-leave-to
    opacity 0
    transform scale(0)
.auth-slide-enter-active
.auth-slide-leave-active
    transition transform .5s ease
.auth-slide-enter
.auth-slide-leave-to
    transform translateX(100%)
.slide-search-enter-active
.slide-search-leave-active
    transition transform 0.6s ease
.slide-search-enter
.slide-search-leave-to
    transform translateY(-100%)
.menu-enter-active
.menu-leave-active
    transition transform 0.4s ease
.menu-enter
.menu-leave-to
    transform translateX(-100%)
.filter-enter-active
.filter-leave-active
    transition transform 0.4s ease
.filter-enter
.filter-leave-to
    transform translateX(-100%)
.slide-up-enter-active
.slide-up-leave-active
    transition transform 0.3s ease-out
.slide-up-enter
.slide-up-leave-to
    transform translateY(100%)
@keyframes rotate
    from
        transform rotate(0deg)
    to
        transform rotate(359deg)
