:root
    --text-color: #0D1F42
    --bg-base: #F7F9FA
    --line-color: #EBEDF0
    --major-color: #FEA76B
    --minor-color: #55D5B6   
    --font-base: "Nunito", -apple-system, BlinkMacSystemFont, "Segoe UI", "Oxygen", "Ubuntu", "Helvetica Neue", Arial, sans-serif