<template>
    <div class="news-inner">
        <div class="layout-container">
            <div class="breadcrumbs">
                <button class="back" @click="$router.back()">Назад</button>
                <span>:</span>
                <nuxt-link to="/news">Новости</nuxt-link>
                <nuxt-link to="">{{ post.name }}</nuxt-link>
            </div>
            <div class="news-inner-subscribe">
                <p>Подписывайтесь на нас:</p>
                <a href="https://instagram.com/only.kazakhstan" target="_blank">
                    <i>
                        <insta-icon />
                    </i>
                    @only.kazakhstan
                </a>
            </div>
            <div class="news-inner-wrapper">
                <p class="news-inner-date">{{ $format_date(post.created_at) }}</p>
                <h1 class="news-inner-title">{{ post.name}}</h1>
                <img :src="post.image" :alt="post.name" class="news-inner-image">
                <div class="news-inner-content" v-html="post.content"></div>
            </div>
        </div>
        <div class="news-related" v-if="post.similars">
            <div class="layout-container">
                <h3 class="section-title">Читайте также</h3>
                <div class="news-related-row">
                    <news-item v-for="post in post.similars" :post="post" :key="post.id" />
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import instaIcon from '@/static/icons/insta-filled.svg'
import newsItem from '@/components/partials/news-item'
import { mapGetters } from 'vuex'

export default {
    middleware: ['post'],
    computed: {
        ...mapGetters({
            post: 'content/GET_POST'
        })
    },
    components: {
        newsItem,
        instaIcon
    },
    head() {
        return this.$get_seo_tags(this.post)
    }
}
</script>
