<template>
    <div class="news-list">
        <div class="page-title">
            <div class="layout-container">
                <h1>Новости</h1>
                <button class="back" @click="$router.back()">Назад</button>
            </div>
        </div>
        <div class="layout-container">
            <div class="news-list-row">
                <news-item v-for="post in posts.data" :key="post.id" :post="post" />
                <div ref="pagination-mark"></div>
            </div>
            <div class="news-list-btn-wrp">
                <div class="catalog-page-loader" v-if="waiting">
                    <img src="/icons/load-large.png" alt="Only icon" data-not-lazy>
                </div>
                <button class="button --minor-color" @click="tryTolazyLoad" v-else-if="posts.last_page != posts.current_page">
                    <reload-icon />
                    Показать еще
                </button>
            </div>
        </div>
    </div>
</template>

<script>
import reloadIcon from '@/static/icons/reload.svg'
import newsItem from '@/components/partials/news-item'
import { mapGetters, mapActions } from 'vuex'

export default {
    middleware: ['posts'],
    components: {
        reloadIcon,
        newsItem
    },
    computed: {
        ...mapGetters({
            posts: 'content/GET_POSTS',
        }),
    },
    data() {
        return {
            waiting: false,
        }
    },
    mounted() {
        if (process.client && !this.$route.query.page) {
            this.lazyLoad()
        }
        window.addEventListener('scroll', async () => {
            if (this.waiting || !this.$refs['pagination-mark']) {
                return
            }

            let bottom = this.$refs['pagination-mark'].getBoundingClientRect().bottom
            if (bottom - 100 < window.innerHeight) {
                await this.tryTolazyLoad()
            }
        }, { passive: true })
    },
    methods: {
        ...mapActions({
            paginate: 'content/paginate',
        }),
        async tryTolazyLoad() {
            if (!this.waiting) {
                await this.lazyLoad()
            }
        },
        async lazyLoad() {
            this.waiting = true
            await this.paginate(`posts`)
            this.waiting = false
        }

    }
}
</script>
