<template>
    <div class="profile-page">
        <div class="layout-container">
            <div class="profile-page-row">
                <div class="profile-page-nav-wrp">
                    <profile-nav />
                </div>
                <div class="profile-page-title-wrp">
                    <button class="profile-page-back" @click="$router.back()">
                        <arrow-icon />
                        Назад</button>
                    <h1 class="profile-page-heading">Адреса доставки</h1>
                </div>
                <div class="profile-page-content">
                    <profile-address />
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import profileNav from '@/components/profile/nav'
import profileAddress from '@/components/profile/addresses'
import arrowIcon from '@/static/icons/arrow-icon.svg'
export default {
    layout: 'profile',
    middleware: ['addresses'],
    components: {
        profileNav,
        profileAddress,
        arrowIcon
    }
}
</script>
