<template>
    <div class="profile-page-wrapper">
        <div class="profile-page-title-wrp">
            <button class="profile-page-back" @click="$router.back()">
                <arrow-icon />
                Назад</button>
            <h1 class="profile-page-heading">Бонусы</h1>
        </div>
        <div class="profile-page-content">
            <bonus />
        </div>
    </div>
</template>

<script>
import bonus from '@/components/profile/bonus'
import arrowIcon from '@/static/icons/arrow-icon.svg'
export default {
    layout: 'profile',
    components: {
        bonus,
        arrowIcon
    },
    middleware: ['bonuses'],
}
</script>
