<template>
    <div class="profile-page">
        <phone-modal />
        <email-modal />
        <pass-modal />
        <div class="layout-container">
            <div class="profile-page-row">
                <profile-nav />
            </div>
        </div>
    </div>
</template>

<script>
import profileNav from '@/components/profile/nav'
import phoneModal from '@/components/profile/phone-modal'
import emailModal from '@/components/profile/email-modal'
import passModal from '@/components/profile/password-modal'
export default {
    layout: 'profile',
    components: {
        profileNav,
        phoneModal,
        emailModal,
        passModal
    }
}
</script>