<template>
    <div class="profile-page-wrapper">
        <div class="profile-page-title-wrp">
            <button class="profile-page-back" @click="$router.back()">
                <arrow-icon />
                Назад</button>
            <h1 class="profile-page-heading">История заказов</h1>
        </div>
        <div class="profile-page-content">
            <history />
        </div>
    </div>
</template>

<script>
import history from '@/components/profile/history'
import arrowIcon from '@/static/icons/arrow-icon.svg'

export default {
    layout: 'profile',
    middleware: ['orders'],
    components: {
        history,
        arrowIcon
    },
    mounted() {
        if (this.$route.query.success == 1) {
            this.$router.push({query: {}})
            this.$toastr.success('Заказ оплачен!')
        } else if (this.$route.query.success == 0) {
            this.$router.push({query: {}})
            this.$toastr.error('Заказ не оплачен!')            
        }
    }
}
</script>
