<template>
    <div class="profile-page-wrapper">
        <div class="profile-page-title-wrp">
            <button class="profile-page-back" @click="$router.back()">
                <arrow-icon />
                Назад</button>
            <h1 class="profile-page-heading">Личные данные</h1>
        </div>
        <div class="profile-page-content">
            <info />
        </div>
    </div>
</template>

<script>
import info from '@/components/profile/info'
import arrowIcon from '@/static/icons/arrow-icon.svg'
export default {
    components: {
        info,
        arrowIcon
    }
}
</script>
