<template>
    <div>
        <div class="profile-page-nav-wrp">
            <profile-nav />
        </div>
    </div>
</template>

<script>
import profileNav from '@/components/profile/nav'

export default {
    layout: 'profile',
    components: {
        profileNav,
    }
}
</script>
