.news-inner
    margin-top 24px
    &-subscribe
        margin-top 40px
        p 
            font-size em(14)
            font-weight 400
            color var(--text-color)
        a 
            display -webkit-inline-flex
            display -moz-inline-flex
            display -ms-inline-flex
            display -o-inline-flex
            display inline-flex
            align-items center
            font-size em(14)
            font-weight 700
            color var(--text-color)
            i
                width 32px
                height 32px
                border-radius 12px
                background-color var(--bg-base)
                margin-right 8px
                display -webkit-flex
                display -moz-flex
                display -ms-flex
                display -o-flex
                display flex
                align-items center
                justify-content center
    &-wrapper
        max-width 745px
        margin auto
        text-align center
        margin-top 30px
    &-date
        position relative
        display inline-block
        font-size em(14)
        font-weight 400
        color var(--text-color)
        background-color var(--bg-base)
        border-radius 8px
        padding 4px 8px
        &:before
            content ''
            width 80px
            height 2px
            background-color var(--minor-color)
            position absolute
            top -30px
            left 50%
            transform translateX(-50%)
    &-image
        width 100%
    &-content 
        text-align left
        margin 65px auto
        max-width 550px
        font-size 16px
        color var(--text-color)
        ul 
            list-style initial
            padding-left 20px
            margin-bottom 16px
        p 
            margin-bottom 16px
        img 
            width 100%
            margin 60px 0
    &-title
        font-size em(36)
        font-weight 700
        color var(--text-color)
        margin-top 8px
        margin-bottom 30px
@media screen and (max-width 430px)
    .news-inner
        &-subscribe 
            text-align center
        &-title 
            font-size em(20)
            margin-bottom 16px
