.news-list
    padding-bottom 60px
    &-btn-wrp
        text-align center
    &-row
        display -webkit-flex
        display -moz-flex
        display -ms-flex
        display -o-flex
        display flex
        flex-wrap wrap
        .news-item
            margin-right 20px
            margin-bottom 40px
        .news-item:nth-child(4n) 
            margin-right 0
@media screen and (max-width 769px)
    .news-list
        .news-item
            width 31.5%
        .news-item:nth-child(3n)
            margin-right 0
        .news-item:nth-child(4n)
            margin-right 20px
@media screen and (max-width 430px)
    .news-list
        .news-item
            width 47%
        .news-item:nth-child(even)
            margin-right 0
        .news-item:nth-child(3n)
            margin-right 20px
@media screen and (max-width 321px)
    .news-list
        .news-item
            width 100%
            margin-right 0 !important
