.news-related
    padding-top 50px
    margin-bottom 70px
    border-top 1px solid var(--line-color)
    .section-title
        width 100%
        text-align center
    &-row
        display -webkit-flex
        display -moz-flex
        display -ms-flex
        display -o-flex
        display flex
        margin-top 24px
        .news-item
            margin-right 20px
        .news-item:nth-child(4)
            margin-right 0
@media screen and (max-width 430px)
    .news-related
        display none
