<template>
    <div class="layout">
		<gift-modal />
		<gift-modal-product />
        <auth-modal />
        <mobile-search v-if="$isMobile()" />
        <mobile-menu v-if="$isMobile()" />
        <mobile-header v-if="$isMobile()" />
        <mobile-cart v-if="$isMobile()" />
        <app-header v-if="!$isMobile()" />
        <messages />
        <div class="layout-content">
            <transition name="fade">
                <nuxt />
            </transition>
        </div>
        <cookie-notif v-if="!$isMobile()" />
        <app-footer />
    </div>
</template>

<script>
import cookieNotif from "@/components/partials/cookie-notif"
import appHeader from "@/components/partials/header"
import Messages from "@/components/partials/toastr/messages"
import mobileHeader from "@/components/partials/mobile/header"
import appFooter from "@/components/partials/footer"
import authModal from "@/components/partials/auth-modal"
import mobileMenu from "@/components/partials/mobile/menu"
import mobileSearch from "@/components/partials/mobile/search"
import mobileCart from "@/components/partials/mobile/cart"
import giftModal from "@/components/gift/modal"
import giftModalProduct from "@/components/gift/modal-product"
import { mapGetters } from "vuex"

export default {
	middleware: ["page"],
	components: {
		giftModalProduct,
		giftModal,
		cookieNotif,
		appHeader,
		mobileMenu,
		mobileHeader,
		mobileSearch,
		appFooter,
		authModal,
		Messages,
		mobileCart,
	},
	watch: {
		"$route.name": function (val, oldVal) {
			if (val != oldVal) {
				window.scrollTo(0, 0)
                document.body.classList.remove('--hidden')
                this.$api.clearErrors()
			}
		},
	},
	computed: {
		...mapGetters({
			page: "page/GET_PAGE",
		}),
	},
	mounted() {
		this.$store.commit("cart/FILTER_ITEMS")
	},
	head() {
		return this.$get_seo_tags(this.page)
	},
}
</script>
