<template>
    <div class="error-page">
        <div class="layout-container">
            <div class="error-page-block" v-if="error.statusCode === 404">
                <img src="/images/404.png" alt="Only.kz image" class="error-page-image">
                <h4 class="error-page-title">Извините! Страница, которую вы ищете, не найдена</h4>
                <nuxt-link class="button" v-ripple="'rgba(255, 255, 255, 0.2)'" to="/">Продолжить покупки</nuxt-link>
            </div>
            <div class="error-page-block" v-else="error.statusCode === 500">
                <img src="/images/500.png" alt="Only.kz image" class="error-page-image">
                <h4 class="error-page-title">Кажется что-то сломалось...</h4>
                <p class="error-page-text">Не волнуйтесь. Мы скоро все починим. Попробуйте повторить запрос позже.</p>
                <nuxt-link class="button" v-ripple="'rgba(255, 255, 255, 0.2)'" to="/">Вернуться на главную</nuxt-link>
            </div>
            <subscribe />
        </div>
    </div>
</template>

<script>
import subscribe from '@/components/partials/subscribe'

export default {
    props: ['error'],
    components: {
        subscribe
    }
}
</script>
