<template>
    <div class="layout">
        <mobile-search v-if="$isMobile()" />
        <mobile-menu v-if="$isMobile()" />
        <mobile-header v-if="$isMobile()" />
        <app-header />
        <messages />
        <div class="layout-content --profile">
            <transition name="fade">
                <nuxt />
            </transition>
        </div>
        <profile-footer />
    </div>
</template>

<script>
import appHeader from '@/components/partials/header'
import Messages from '@/components/partials/toastr/messages'
import profileFooter from '@/components/profile/footer'
import mobileHeader from '@/components/partials/mobile/header'
import mobileMenu from '@/components/partials/mobile/menu'
import mobileSearch from '@/components/partials/mobile/search'

export default {
    middleware: ['auth'],
    components: {
        appHeader,
        mobileSearch,
        mobileHeader,
        profileFooter,
        mobileMenu,
        Messages
    },
    watch: {
        '$route.fullPath': function(val) {
            window.scrollTo(0,0)
        }
    },
    mounted() {
        this.$store.commit('cart/FILTER_ITEMS')
    },
}
</script>
