<template>
    <div class="extra-page --bonuses">
        <div class="layout-container">
            <div class="breadcrumbs">
                <button class="back" @click="$router.back()">Назад</button>
                <span>:</span>
                <nuxt-link to="">Помощь</nuxt-link>
                <nuxt-link to="">Бонусы</nuxt-link>
            </div>
            <extra-nav />
            <div class="extra-page-row">
                <div class="extra-page-content">
                    <h1 class="extra-page-title">Бонусы</h1>
					<p class="extra-page-text">Друзья, на нашем сайте действует бонусная система для всех <nuxt-link to @click.native="$setTrue('modals.auth')">авторизованых</nuxt-link> пользователей. Бонусы начисляются после получения и оплаты заказа. На ваш номер телефона, указанный в личном кабинете, будет приходить SMS сообщение о начисление или списании бонусов.</p>
					<p class="extra-page-text"><b>Важно! Для того, чтобы мы начислили вам бонусы, вам необходимо зарегистрироваться и авторизироваться при заказе.</b></p>
                    <p class="extra-page-text">
                        <b>Сколько бонусов начисляется?</b>
                    </p>
                    <p class="extra-page-text">
						Мы начисляем {{ $settings('cashback') }}% от итоговой стоимости заказа. Количество бонусов может незначительно измениться в случае, если итоговая стоимость изменилась в случае замены. 1 бонус = 1 тенге.
                    </p>
                    <p class="extra-page-text">
                        <b>Как тратить бонусы?</b>
                    </p>
                    <p class="extra-page-text">
						Вы можете частично или полностью оплатить заказ бонусами. Для этого, во время оформления заказа, вам необходимо Авторизироваться на сайте и ввести нужное количество бонусов в корзине, а затем кликнуть по ссылке «Потратить» и завершить оформление заказа.
                    </p>
					<p class="extra-page-text">Минимальной суммы для траты бонусов нет.</p>
                    <p class="extra-page-text">
                        <b>Могут ли Ваши бонусы сгореть?</b>
                    </p>
                    <p class="extra-page-text">
                        Нет. Бонусы сохраняются в вашем личном кабинете навсегда.
                    </p>
                    <p class="extra-page-text">
                        <b>Где можно посмотреть бонусы?</b>
                    </p>
                    <p class="extra-page-text">
                        В личном кабинете, в разделе «Профиль -> Бонусы». В этом же разделе, вы можете детально посмотреть, за какой заказ и в каком количестве вам начислили бонусы.
                    </p>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import extraNav from '@/components/extra-page/nav'

export default {
    components: {
        extraNav,
    }
}
</script>
