<template>
    <div class="gift">
        <div class="layout-container">
            <h1 class="title">Беспроигрышная лотерея от Only!</h1>
            <h4 class="sub">Мы подготовили вам подарок. Нажмите на кнопку ниже и получите свой приз!</h4>
            <div v-swiper:roll="options">
                <div class="swiper-wrapper">
                    <div class="swiper-slide" v-for="index in dublicates * gifts.length" :key="index">
                        <div class="item -teal">
                            <img :src="gifts[(index - 1) % gifts.length].image" data-not-lazy alt="image" class="image">
                        </div>
                    </div>
                </div>
            </div>
            <img src="/images/gift-arrow-line.svg" alt="image" class="arrow">
            <button :class="['button', {'--gray': wait}]" @click="start" :disabled="wait">{{ wait ? 'Ожидание...' : 'Начать' }}</button>
        </div>
    </div>
</template>

<script>
import { $urls } from '~/common/urls.js'

export default {
    data() {
        return {
            dublicates: 11,
            options: {
                slidesPerView: 7,
                loop: false,
                freeMode: true,
                simulateTouch: false,
                spaceBetween: 24,
                speed: 2000,
                breakpoints: {
                    1024: {
                        slidesPerView: 7
                    },
                    320: {
                        slidesPerView: 3
                    }
                },
            },
            wait: false
        }
    },
    async asyncData({ $api, query }) {
        const resp = await $api.post('order.roll', {
            order_id: query.order_id ? query.order_id : null
        })
        console.log(resp)
        if (!resp) {
            console.log('redirect')
        }
        return resp
    },
    methods: {
        start() {
            this.wait = true
            this.roll.slideTo((this.dublicates - 2) * this.gifts.length - (this.$isMobile() ? 1 : 3) + this.gift_index, 5500)
            setTimeout(() =>  {
                this.$setData('data.gift.modalProduct', this.gift)
            }, 5550)
        }
    }
}
</script>

<style lang="stylus" scoped>
.swiper-container-free-mode > .swiper-wrapper
    transition-timing-function: cubic-bezier(0, 1, 0.97, 1.02)
.swiper-container
    width 100%
    &:before,
    &:after
        content ''
        position absolute
        z-index 3
        height 100%
        top 0
        width 70px
        @media (min-width 1000px)
            width 260px
    &:before
        left 0
        background: linear-gradient(90deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%)
    &:after
        right 0
        background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 100%)
.gift
    padding-bottom 100px
    padding-top: 50px
    @media (min-width 1000px)
        padding-top 100px
        padding-bottom 140px
.layout-container
    display flex
    flex-direction column
    align-items center
.row
    width 100%
    display flex
    overflow-x auto
    padding-bottom 15px
.row-wrp
    position relative
    width 100%
    &:before,
    &:after
        content ''
        position absolute
        z-index 1
        height 100%
        top 0
        width 70px
        @media (min-width 1000px)
            width 260px
    &:before
        left 0
        background: linear-gradient(90deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%)
    &:after
        right 0
        background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 100%)
.item-wrp
    display inline-flex
.title
    font-weight 700
    margin-bottom 16px
    text-align center
    font-size 20px
    @media (min-width 1000px)
        font-size 36px
.sub
    max-width 260px
    text-align center
    font-size 14px
    font-weight 400
    margin-bottom 60px
    @media (min-width 1000px)
        margin-bottom 24px
.button
    margin-top 54px
.arrow
    margin-top 10px
    @media (min-width 1000px)
        margin-top 20px
.item
    flex-shrink 0
    display flex
    align-items center
    justify-content center
    position relative
    height 80px
    border-bottom 5px solid transparent
    @media (min-width 1000px)
        height 138px
        border-bottom 8px solid transparent
    &:after
        content ''
        width 100%
        height 100%
        position absolute
        top 0
        left 0
        z-index 1
    &.-red
        border-color #F56A5B
        &:after
            background: linear-gradient(180deg, rgba(245, 106, 91, 0) 50.31%, rgba(245, 106, 91, 0.2) 100%)
    &.-orange
        border-color #FEA76B
        &:after
            background: linear-gradient(180deg, rgba(254, 167, 107, 0) 50.31%, rgba(254, 167, 107, 0.2) 100%)
    &.-teal
        border-color #55D5B6
        &:after
            background: linear-gradient(180deg, rgba(85, 213, 182, 0) 50.31%, rgba(85, 213, 182, 0.2) 100%)
.image
    width auto
    height 75px
    @media (min-width 1000px)
        height 130px
</style>
