<template>
    <div class="home-page">
        <banner />
        <div class="layout-container">
            <products :products="saleproducts" type="sale" label="Акции" link="/catalog?extra=sales" />
            <products :products="hitproducts" type="hit" label="Бестселлеры" link="/catalog?extra=hits" />
            <products :products="newproducts" type="new" label="Новинки" link="/catalog?extra=news" />
        </div>
        <ig-feed />
        <last-news />
        <subscribe />
    </div>
</template>

<script>
import Products from "@/components/partials/products"
import banner from "@/components/home/banner"
import subscribe from "@/components/partials/subscribe"
import lastNews from "@/components/partials/last-news"
import igFeed from "@/components/partials/ig-feed"
import { mapGetters } from "vuex"

export default {
	components: {
		banner,
		Products,
		lastNews,
		subscribe,
		igFeed,
	},
	middleware: ["home"],
	computed: {
		...mapGetters({
			newproducts: "product/GET_NEWS",
			saleproducts: "product/GET_SALES",
			hitproducts: "product/GET_HITS",
		}),
	},
}
</script>
