<template>
    <div class="profile-page">
        <div class="layout-container">
            <div class="profile-page-row">
                <div class="profile-page-nav-wrp" v-if="!$isMobile()">
                    <profile-nav />
                </div>
                <nuxt-child />
            </div>
        </div>
    </div>
</template>

<script>
import profileNav from '@/components/profile/nav'

export default {
    layout: 'profile',
    components: {
        profileNav,
    }
}
</script>
