<template>
    <div class="extra-page">
        <div class="layout-container">
            <div class="breadcrumbs">
                <button class="back" @click="$router.back()">Назад</button>
                <span>:</span>
                <nuxt-link to="">Помощь</nuxt-link>
                <nuxt-link to="">Реквизиты</nuxt-link>
            </div>
            <extra-nav />
            <div class="extra-page-row">
                <div class="extra-page-content">
                    <h3 class="extra-page-title">Реквизиты</h3>
					<p class="extra-page-text">
						ИП «Only ТМ»<br>
						KZ426018861000224521 – KZT<br>
						KZ426018861000224951 - RUB<br>
						HSBKKZKX<br>
						АО Народный банк Казахстана</p>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import extraNav from "@/components/extra-page/nav";

export default {
	components: {
		extraNav,
	},
};
</script>
