<template>
    <div class="extra-page">
        <div class="layout-container">
            <div class="breadcrumbs">
                <button class="back" @click="$router.back()">Назад</button>
                <span>:</span>
                <nuxt-link to="">Помощь</nuxt-link>
                <nuxt-link to="">Оплата</nuxt-link>
            </div>
            <extra-nav />
            <div class="extra-page-row">
                <div class="extra-page-content">
                    <h1 class="extra-page-title">Способ оплаты</h1>
                    <p class="extra-page-text"><b>Наличными при получении:</b></p>
                    <p class="extra-page-text">Вы можете оплатить заказ наличными при получении заказа курьером или в магазине, в случае самовывоза. , кроме доставки курьерской службой по Казахстану или доставкой через Казпочту. Оплата производится только в тенге. В подтверждение оплаты мы выдаем фискальный чек.</p>
                    <p class="extra-page-text"><b>Оплата онлайн:</b></p>
                    <p class="extra-page-text">Вы можете оплатить покупку онлайн сразу после оформления заказа при помощи банковской карты. При проведении оплаты платёжными картами используется система Paybox. Для оплаты требуется ввести данные карты (номер, CVC/СVV код, срок действия) в защищенном виджете платежной системы. Для дополнительной безопасности используется технология 3-D Secure. Если Ваш Банк-эмитент поддерживает данную технологию, Вы будете перенаправлены на его сервер для прохождения дополнительной идентификации.</p>
<!--                    <p class="extra-page-text"><b>Покупка в рассрочку на 3 месяца:</b></p>-->
<!--                    <p class="extra-page-text">Вы можете сделать покупку на нашем сайте сейчас, и оплатить ее в рассрочку за 3 месяца.</p>-->
<!--                    <p class="extra-page-text"><b>Как это работает?</b></p>-->
<!--                    <p class="extra-page-text">-->
<!--                        - Выберите «ZoodPay» в качестве способа оплаты при оформлении заказа;<br/>-->
<!--                        - Введите личные данные и зарегистрируйте свою дебетовую или кредитную карту;<br/>-->
<!--                        - Получите мгновенное одобрение и оплачивайте покупку в рассрочку на 3 месяца.<br/>-->
<!--                    </p>-->
<!--                    <p class="extra-page-text">-->
<!--                        <b>-->
<!--                            Преимущества для клиента.<br/>-->
<!--                            Платите за товары четырьмя равными частями в рассрочку.-->
<!--                        </b>-->
<!--                    </p>-->
<!--                    <ul class="extra-page-text &#45;&#45;ul">-->
<!--                        <li>1-ая оплата в момент покупки</li>-->
<!--                        <li>2-ая оплата через 30 дней после покупки</li>-->
<!--                        <li>3-ая оплата через 60 дней после покупки</li>-->
<!--                        <li>4-ая оплата через 90 дней после покупки</li>-->
<!--                    </ul>-->
<!--                    <p class="extra-page-text">-->
<!--                        Никаких комиссий и переплат.Всегда нулевая комиссия, без процентов и переплат, когда вы платите вовремя. Мгновенное одобрение -->
<!--                    </p>-->
<!--                    <p class="extra-page-text">-->
<!--                        <b>-->
<!--                            Нет длинных форм для заполнения! Вы узнаете, одобрен ли ваш заказ мгновенно, и ваши товары будут доставлены в стандартном режиме.<br/>-->
<!--                            Правила и условия-->
<!--                        </b>-->
<!--                    </p>-->
<!--                    <p class="extra-page-text">-->
<!--                        - Вы должны быть старше 18 лет и авторизованным владельцем активной банковской карты со сроком действия не менее 3 месяцев;<br/>-->
<!--                        - Вам необходимо получить одобрение по результатам нашей проверки. 'ZoodPay’ мгновенно проверит ваши данные у внешнего кредитного агентства для подтверждения вашего заказа;<br/>-->
<!--                        - Ваша сумма заказа в рассрочку должна быть от 6,000 до 220,000 тенге. Для заказов с оплатой через 14 дней после доставки от 2,000 до 50,000 тенге.-->
<!--                    </p>-->
<!--                    <p class="extra-page-text">-->
<!--                        Важно:<br/>-->
<!--                        Для списания денежных средств в срок, необходимо, чтобы на карте были сняты лимиты для оплаты. В случае если денежные средства не списались в срок, необходимо обратиться в службу поддержки ZoodPay, во избежание начисления суммы за просрочку.-->
<!--                    </p>-->
                    <div class="extra-page-note">
                        <h4 class="extra-page-note-title">Обратите внимание:</h4>
                        <p class="extra-page-text">*Отправка заказов в другие города Казахстана, осуществляется только по 100% оплате заказа.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import extraNav from '@/components/extra-page/nav'

export default {
    components: {
        extraNav,
    },
}
</script>
