<template>
    <div class="toastr-box">
        <transition name="fade" v-for="(message, index) of messages" :key="index" >
            <message :message="message" />
        </transition>
    </div>
</template>

<script>
import Message from '@/components/partials/toastr/message'
import { mapGetters } from 'vuex'

export default {
    components: {
        Message
    },
    computed: {
        ...mapGetters({
            messages: 'message/GET_MESSAGES'
        })
    },
}

</script>
