<template>
    <div :class="['toastr', `--${message.type}`]">
        <success-icon class="toastr-icon" v-if="message.type == 'success'" />
        <error-icon class="toastr-icon" v-else-if="message.type == 'error'" />
        <p>{{ message.message }}</p>
    </div>
</template>

<script>
import successIcon from '@/static/icons/success-toastr.svg'
import errorIcon from '@/static/icons/error-toastr.svg'

export default {
    components: {
        successIcon,
        errorIcon
    },
    props: ['message'],
    data() {
        return {
            success: true
        }
    },
}
</script>
