<template>
    <nuxt-link class="mobile-cart" to="/checkout">
        <span class="mobile-cart-badge" v-if="cart_cnt">{{ cart_cnt }}</span>
        <cart-icon />
    </nuxt-link>
</template>

<script>
import cartIcon from '@/static/icons/cart-white.svg'
import { mapGetters } from 'vuex'

export default {
    components: {
        cartIcon
    },
    computed: {
        ...mapGetters({
            cart_cnt: 'cart/GET_CNT',
        })
    }
}
</script>
