<template>
    <header class="mobile-header">
        <div class="layout-container mobile-header-top">
            <button class="mobile-header-burger" v-ripple @click="openMenu()">
                <burger-icon />
            </button>
            <button class="mobile-header-search" v-ripple @click="openSearch()">
                <search-icon />
            </button>
            <div class="mobile-header-grow"></div>
            <div class="mobile-header-logo-wrp">
                <nuxt-link class="mobile-header-logo" to="/">
                    <logo-icon />
                </nuxt-link>
            </div>
            <nuxt-link class="header-btn" v-ripple="'rgba(0, 0, 0, 0.1)'" to="/favorites">
                <span class="header-badge" v-if="favorites.length > 0">{{favorites.length}}</span>
                <fav-icon />
            </nuxt-link>
            <nuxt-link to="/checkout" v-ripple="'rgba(0, 0, 0, 0.1)'" class="header-btn">
                <span class="header-badge" v-if="cart_cnt > 0">{{ cart_cnt }}</span>
                <cart-icon />
            </nuxt-link>
        </div>
        <div class="layout-container mobile-header-bot">
            <nuxt-link class="mobile-header-category" :to="`/catalog/${category.slug}`" v-for="category in categories" :key="category.id" :style="`color: ${category.color}`">
                {{category.name}}
            </nuxt-link>
             <nuxt-link to="/brands" class="mobile-header-category">Бренды</nuxt-link>
             <nuxt-link :to="{path: '/catalog', query: { extra: 'sales' } }" class="mobile-header-category">Акции</nuxt-link>
        </div>
    </header>
</template>

<script>
import logoIcon from '@/static/icons/logo.svg'
import searchIcon from '@/static/icons/search.svg'
import favIcon from '@/static/icons/favorites.svg'
import cartIcon from '@/static/icons/cart.svg'
import burgerIcon from '@/static/icons/burger.svg'
import {mapGetters} from 'vuex'
import Snow from "../snow";

export default {
    components: {
        Snow,
        burgerIcon,
        logoIcon,
        searchIcon,
        favIcon,
        cartIcon
    },
    computed: {
        ...mapGetters({
            favorites: 'favorites/GET_FAVORITES',
            cart_cnt: 'cart/GET_CNT',
            categories: 'category/GET_CATEGORIES'
        }),
    },
    methods: {
        openMenu() {
            document.body.classList.add('--hidden')
            this.$setTrue('menu.mobile')
        },
        openSearch() {
            document.body.classList.add('--hidden')
            this.$setTrue('modals.search')
        }
    },
}
</script>
