<template>
    <transition name="menu">
        <div v-if="$check('menu.mobile')" class="mobile-menu">
            <div class="layout-container mobile-header-top">
                <button class="mobile-header-burger" @click="close()">
                    <close-icon />
                </button>
                <button class="mobile-header-search" @click="openSearch()">
                    <search-icon />
                </button>
                <div class="mobile-header-grow"></div>
                <div class="mobile-header-logo-wrp">
                    <nuxt-link class="mobile-header-logo" to="/" @click.native="close()">
                        <logo-icon />
                    </nuxt-link>
                </div>
                <nuxt-link class="header-btn" to="/favorites" @click.native="close()">
                    <span class="header-badge" v-if="favorites.length > 0">{{ favorites.length }}</span>
                    <fav-icon />
                </nuxt-link>
                <nuxt-link to="/checkout" class="header-btn" @click.native="close()">
                    <span class="header-badge" v-if="cart_cnt > 0">{{ cart_cnt }}</span>
                    <cart-icon />
                </nuxt-link>
            </div>
            <div class="mobile-menu-signin-wrp">
                <client-only>
                    <nuxt-link class="mobile-menu-btn" to="/profile/nav" v-if="$isSignedIn()" @click.native="close()">
                        <user-icon  class="mobile-menu-user-icon" />
                        {{ $user().name}}
                    </nuxt-link>
                    <button class="mobile-menu-btn" @click="$setTrue('modals.auth')" v-else>
                        <user-icon class="mobile-menu-user-icon" />
                        Войти / зарегистрироваться
                        <arrow-icon class="mobile-menu-arrow-icon" />
                    </button>
                </client-only>
            </div>
            <nav class="mobile-menu-nav">
                <div class="mobile-menu-category-wrp"
                    v-for="category in categories"
                    :key="category.id">
                    <div class="mobile-menu-category"
                        :class="{'--active': currentCatId === category.id}"
                        :style="`color: ${category.color}`"
                        @click="toggleCat(category.id)">
                        {{ category.name }}
                        <arrow-icon />
                    </div>
                    <div class="mobile-menu-subcategory-wrp" v-if="currentCatId === category.id">
                        <nuxt-link class="mobile-menu-subcategory --bold" :to="`/catalog/${category.slug}`" @click.native="$setFalse('menu.mobile')">
                            Все товары
                            <arrow-icon />
                        </nuxt-link>
                        <nuxt-link class="mobile-menu-subcategory"
                            v-for="subcategory in category.subcategories"
                            :key="subcategory.id"
                            @click.native="$setFalse('menu.mobile')"
                            :to="`/catalog/${category.slug}/${subcategory.slug}`"
                            :style="`color: ${subcategory.color}`">
                            {{ subcategory.name }}
                        </nuxt-link>
                    </div>
                </div>
                <div class="mobile-menu-category-wrp">
                    <nuxt-link to="/brands" class="mobile-menu-category" @click.native="$setFalse('menu.mobile')">Бренды</nuxt-link>
                    <nuxt-link :to="{path: '/catalog', query: { extra: 'sales' } }" class="mobile-menu-category" @click.native="$setFalse('menu.mobile')">Акции</nuxt-link>
                </div>
            </nav>
            <nav class="mobile-menu-nav --extra">
                <nuxt-link class="mobile-menu-link" @click.native="$setFalse('menu.mobile')" to="/delivery">Доставка</nuxt-link>
                <nuxt-link class="mobile-menu-link" @click.native="$setFalse('menu.mobile')" to="/payment">Оплата</nuxt-link>
                <nuxt-link class="mobile-menu-link" @click.native="$setFalse('menu.mobile')" to="/how-to-order">Как сделать заказ</nuxt-link>
                <nuxt-link class="mobile-menu-link" @click.native="$setFalse('menu.mobile')" to="/bonuses">Бонусы</nuxt-link>
                <nuxt-link class="mobile-menu-link" @click.native="$setFalse('menu.mobile')" to="/news">Блог</nuxt-link>
            </nav>
            <div class="mobile-menu-bot">
                <a href="tel:87772623060" class="mobile-menu-phone">8 (777) 262-30-60</a>
                <p class="mobile-menu-text">Ежедневно с 9:00 до 21:00</p>
                <p class="mobile-menu-text --margin">Подписывайтесь на нас:</p>
                <a href="https://instagram.com/only.kazakhstan" class="mobile-menu-social">
                    <ig-icon />
                    @only.kazakhstan
                </a>
            </div>
        </div>
    </transition>
</template>

<script>
import igIcon from '@/static/icons/insta.svg'
import arrowIcon from '@/static/icons/arrow-icon.svg'
import logoIcon from '@/static/icons/logo.svg'
import searchIcon from '@/static/icons/search.svg'
import favIcon from '@/static/icons/favorites.svg'
import cartIcon from '@/static/icons/cart.svg'
import userIcon from '@/static/icons/user.svg'
import closeIcon from '@/static/icons/close.svg'
import {mapGetters} from 'vuex'

export default {
    components: {
        igIcon,
        userIcon,
        arrowIcon,
        logoIcon,
        searchIcon,
        favIcon,
        cartIcon,
        closeIcon,
    },
    data() {
        return {
            currentCatId: null
        }
    },
    watch: {
        "$route.path": function () {
            this.close()
        },
    },
    methods: {
        toggleCat(i) {
            if (this.currentCatId === i) {
                this.currentCatId = null
            } else {
                this.currentCatId = i
            }
        },
        close() {
            document.body.classList.remove('--hidden')
            this.$setFalse('menu.mobile')
        },
        openSearch() {
            this.$setFalse('menu.mobile')
            this.$setTrue('modals.search')
        }
    },
    computed: {
        ...mapGetters({
            favorites: 'favorites/GET_FAVORITES',
            cart_cnt: 'cart/GET_CNT',
            categories: 'category/GET_CATEGORIES',
        }),
    },
}
</script>
