<template>
    <transition name="fade">
        <div v-if="$check('modals.search')" class="mobile-search">
            <div class="mobile-search-top">
                <div class="mobile-search-input-wrp">
                    <search-icon class="mobile-search-icon" />
                    <input type="text" class="mobile-search-input" v-model="q" @focus="isOpen = true" @blur="isOpen = false">
                    <close-icon class="mobile-search-close" @click="q=null" />
                </div>
                <button class="mobile-search-btn" @click="close()">Отмена</button>
            </div>
            <transition name="fade">
                <dropdown v-if="isOpen" :q="q" />
            </transition>
        </div>
    </transition>
</template>

<script>
import dropdown from '@/components/partials/search-dropdown'
import searchIcon from '@/static/icons/search.svg'
import closeIcon from '@/static/icons/close.svg'

export default {
    components: {
        dropdown,
        searchIcon,
        closeIcon
    },
    data() {
        return {
            q: this.$route.query.q,
            isOpen: false,
            waiting: false,
        }
    },
    watch: {
        q: async function(q) {
            await this.tryToStartSearch()
        }
    },
    methods: {
        async tryToStartSearch() {
            if (!this.waiting) {
                await this.searchProducts()
            }
        },
        async searchProducts() {
            this.waiting = true
            this.$store.dispatch('product/search', this.q)
            this.waiting = false
        },
        close() {
            this.$setFalse('modals.search')
            this.q = null
            document.body.classList.remove('--hidden')
        }
    }

}
</script>
