<template>
    <transition name="filter">
        <div v-if="$check('modals.filter')" class="mobile-filter">
            <div class="mobile-filter-close-wrp">
                <h4 class="mobile-filter-title">Фильтр</h4>
                <button class="mobile-filter-close" @click="$setFalse('modals.filter')">
                    <close-icon />
                </button>
            </div>
            <div class="mobile-filter-content">
                <div class="mobile-filter-slider">
                    <h4 class="mobile-filter-title">Цена</h4>
                    <div class="catalog-range-row">
                        <div class="catalog-range-col">
                            <span class="catalog-range-text">от</span>
                            <input type="text" v-model="minp" class="catalog-range-input" @change="updateValue">
                        </div>
                        <div class="catalog-range-col">
                            <span class="catalog-range-text">до</span>
                            <input type="text" v-model="maxp" class="catalog-range-input" @change="updateValue">
                        </div>
                    </div>
                    <client-only>
                        <vue-slider
                            :contained="true"
                            :dotSize="16"
                            v-model="value"
                            :max="maxPrice"
                            :min="minPrice"
                            :tooltip="'none'"
                        ></vue-slider>
                    </client-only>
                    <div class="catalog-range-row --price">
                        <p class="catalog-range-text">{{ minPrice }}</p>
                        <p class="catalog-range-text">{{ maxPrice }}</p>
                    </div>
                </div>
                <div class="mobile-filter-dropdown" v-for="(filter, index) in filters" :key="index">
                    <div class="mobile-filter-item" @click="toggleDropdown(index)">
                        <h4 :class="['mobile-filter-title', {'--active': $route.query[filter.slug]}]">{{ filter.name }}</h4>
                        <arrow-icon class="mobile-filter-arrow" :class="{'--active' : currentDropdownIndex === index}" />
                    </div>
                    <div class="catalog-dropdown" v-if="currentDropdownIndex === index">
                        <label class="catalog-dropdown-item" v-for="(value, index) in filter.values" :key="index">
                            <input type="checkbox" :checked="isChecked(filter.slug, value.slug)" @change="toggleFilter(filter.slug, value.slug)">
                            <i class="catalog-dropdown-checkmark">
                                <check-icon />
                            </i>
                            <p class="catalog-dropdown-text">{{ value.name }} <span>({{ value.cnt }})</span></p>
                        </label>
                    </div>
                </div>
            </div>
            <div class="mobile-filter-btn-wrp">
                <button class="mobile-filter-btn" @click="reset">Очистить</button>
                <button class="button" @click="apply">Применить</button>
            </div>
        </div>
    </transition>
</template>

<script>
import closeIcon from '@/static/icons/close.svg'
import arrowIcon from '@/static/icons/arrow-icon.svg'
import checkIcon from '@/static/icons/checked.svg'
import { mapGetters } from 'vuex'

export default {
    components: {
        closeIcon,
        checkIcon,
        arrowIcon
    },
    props: ['minPrice', 'maxPrice'],
    data() {
        return {
            maxp: this.maxPrice,
            minp: this.minPrice,
            value: [this.minPrice, this.maxPrice],
            currentDropdownIndex: null,
            routeFilters: this.getFilters(),
        }
    },
    computed: {
        ...mapGetters({
            filters: 'filter/GET_FILTERS'
        })
    },
    watch: {
        '$route.query': function() {
            this.routeFilters = this.getFilters()
        },
        value: function(val) {
            this.minp = val[0]
            this.maxp = val[1]


            let filters = this.routeFilters

            if (this.minp != this.minPrice) {
                filters.min_price = [this.minp]
            } else {
                delete filters.min_price
            }

            if (this.maxp != this.maxPrice) {
                filters.max_price = [this.maxp]
            } else {
                delete filters.max_price
            }

            this.timeout = null
            this.routeFilters = filters
        },
        minPrice: function(val) {
            this.value[0] = Math.max(val, this.value[0])
            this.value = [...this.value]
        },
        maxPrice: function(val) {
            this.value[1] = Math.min(val, this.value[1])
            this.value = [...this.value]
        },
    },
    mounted() {
        if (this.$route.query.min_price) {
            this.value[0] = this.$route.query.min_price
        }
        if (this.$route.query.max_price) {
            this.value[1] = this.$route.query.max_price
        }
        this.value = [...this.value]

    },
    methods: {
        toggleDropdown(i) {
            if (this.currentDropdownIndex === i) {
                this.currentDropdownIndex = null
            } else {
                this.currentDropdownIndex = i
            }
        },
        updateValue() {
            this.value[0] = Math.max(Math.min(this.minp, this.maxPrice), this.minPrice)
            this.value[1] = Math.min(Math.max(this.maxp, this.minPrice), this.maxPrice)
            this.value = [...this.value]
        },
        getValues(filter) {
            return this.routeFilters[filter] ? this.routeFilters[filter] : []
        },
        isChecked(filter, value) {
            return this.getValues(filter).indexOf(value) != -1
        },
        toggleFilter(filter, value) {
            let filters = this.routeFilters

            if (!filters[filter]) {
                filters[filter] = []
            }

            // Toggle value
            let index = filters[filter].indexOf(value)
            if (index == -1) {
                filters[filter].push(value)
            } else {
                filters[filter].splice(index, 1)
                if (filters[filter].length == 0) {
                    delete filters[filter]
                }
            }

            this.timeout = null
            this.routeFilters = filters
        },
        getFilters() {
            let query = {...this.$route.query}
            Object.keys(query).map(function(key, index) {
                query[key] = query[key].split(',')
            })
            return query
        },
        getQuery(filters) {
            Object.keys(filters).map(function(key, index) {
                filters[key] = filters[key].join(',')
            })
            return filters
        },
        apply() {
            this.$router.push({query: this.getQuery({...this.routeFilters})})
            this.$setFalse('modals.filter')
        },
        reset() {
            this.minp = this.minPrice
            this.maxp = this.maxPrice
            this.updateValue()
            this.$router.push({query: {}})
            this.$setFalse('modals.filter')
        }
    },
}
</script>
