<template>
    <transition name="fade">
        <div v-if="$check('modals.subcat')" class="mobile-subcat">
            <div class="mobile-subcat-overlay" @click="$setFalse('modals.subcat')"></div>
            <div class="mobile-subcat-inner" v-if="category">
                <nuxt-link class="mobile-subcat-link" :to="`/catalog/${category.slug}`" @click.native="$setFalse('modals.subcat')">Все товары категории</nuxt-link>
                <nuxt-link class="mobile-subcat-link" :to="`/catalog/${category.slug}/${subcategory.slug}`" v-for="(subcategory, index) in category.subcategories" :key="index" @click.native.prevent="$setFalse('modals.subcat')">{{ subcategory.name }}</nuxt-link>
            </div>
            <div class="mobile-subcat-inner" v-else>
                <nuxt-link class="mobile-subcat-link" to="/catalog" @click.native="$setFalse('modals.subcat')">Все товары</nuxt-link>
                <nuxt-link class="mobile-subcat-link" :to="`/catalog/${category.slug}`" v-for="(category, index) in categories" :key="index" @click.native.prevent="$setFalse('modals.subcat')">{{ category.name }}</nuxt-link>
            </div>
        </div>
    </transition>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
    computed: {
        ...mapGetters({
            category: 'category/GET_CATEGORY',
            categories: 'category/GET_CATEGORIES',
        })
    }
}

</script>
