<template>
    <transition name="fade" @before-enter="isInnerOpen = true">
        <div v-if="$check('modals.auth')" class="auth-modal">
            <div class="auth-modal-overlay" @click="closeModal"></div>
            <transition name="auth-slide">
                <div v-if="isInnerOpen" class="auth-modal-inner">
                    <button class="auth-modal-close" @click="closeModal">
                        <close-icon />
                    </button>
                    <transition name="fade-fast" mode="out-in">
                        <!-- CODE -->
                        <form key="code"
                            class="auth-modal-content"
                            ref="code"
                            @submit.prevent="createVerificationCode"
                            v-if="currentTab == 'signin'"
                        >
                            <h3 class="auth-modal-title">Войдите или зарегистрируйтесь, чтобы продолжить</h3>
                            <v-input
                                type="phone"
                                name="phone"
                                class="auth-modal-input-wrp"
                                input-class="auth-modal-input"
                                v-model="user.phone"
                                placeholder="Телефон"
                                :required="true"
                            />
                            <button type="submit" v-ripple="'rgba(255, 255, 255, 0.2)'" class="button">Получить код</button>
                            <!-- <div class="auth-modal-warn">
                                <h5>Внимание!</h5>
                                <p class="auth-modal-text">
                                    К сожалению, авторизация временно недоступна.
                                    Мы работаем над тем чтобы устранить неполадки. <br>
                                    Приносим извинения за доставленные неудобства. <br>
                                    Вы можете оформить заказы без авторизации, все бонусы будут начислены в ручную.
                                </p>
                            </div> -->
                        </form>
                        <!-- END CODE -->
                        <!--  SINGIN -->
                        <form key="signin"
                            ref="signin"
                            class="auth-modal-content"
                            @submit.prevent="signin"
                            v-if="currentTab === 'code'"
                        >
                            <h3 class="auth-modal-title">Введите код</h3>
                            <p class="auth-modal-text --margin-0">Мы отправили код подтверждения на номер</p>
                            <div class="auth-modal-phone-wrp">
                                <p class="auth-modal-text">
                                    <b>{{ $mask(user.phone, '+# (###) ###-##-##') }}</b>
                                </p>
                                <button type="button" @click="currentTab = 'signin'">Изменить</button>
                            </div>
                            <v-input
                                type="text"
                                name="code"
                                class="auth-modal-input-wrp"
                                input-class="auth-modal-input"
                                placeholder="Введите код"
                                v-model="user.code"
                                :required="true"
                            />
                            <div class="auth-modal-error" v-if="$api.getError('signin')">
                                <p>Неверный код. Попробуйте еще раз.</p>
                            </div>
                            <p class="auth-modal-text --gray" v-if="secondsLeft">
                                Получить новый код можно<br>
                                через {{ $pad($get_minutes(secondsLeft), 2) }}:{{ $pad($get_seconds(secondsLeft), 2) }}
                            </p>
                            <button type="button"
                                class="button --gray"
                                @click="sendNewCode"
                                v-else
                            >
                                Получить код повторно
                            </button>
                        </form>
                        <!--  END SIGNIN -->

                        <!--  INFO -->
                        <form key="update"
                            ref="update"
                            class="auth-modal-content"
                            @submit.prevent="updateUser"
                            v-if="currentTab === 'info'"
                        >
                            <h3 class="auth-modal-title">Личные данные</h3>
                            <v-input
                                type="text"
                                name="first_name"
                                class="auth-modal-input-wrp"
                                input-class="auth-modal-input"
                                placeholder="ФИО"
                                v-model="user.name"
                                :required="true"
                            />
                            <v-input
                                type="email"
                                name="email"
                                class="auth-modal-input-wrp"
                                input-class="auth-modal-input"
                                placeholder="E-mail"
                                v-model="user.email"
                                :required="true"
                            />
                            <button type="submit" class="button --margin">Завершить регистрацию</button>
                            <button type="button" class="button --gray" @click="closeAndRedirectToProfile">пропустить</button>
                        </form>
                        <!--  END INFO -->
                    </transition>

                </div>
            </transition>
        </div>
    </transition>
</template>

<script>
import closeIcon from "@/static/icons/close.svg"
import successIcon from "@/static/icons/success-email.svg"
import igColored from "@/static/icons/ig-colored.svg"
import googleColored from "@/static/icons/google-colored.svg"
import vInput from "@/components/partials/v-input"

export default {
	components: {
		closeIcon,
		successIcon,
		igColored,
		googleColored,
        vInput
	},
	data: () => ({
		currentTab: 'signin',
		isInnerOpen: false,
		user: {
			phone: '',
            code: '',
			name: '',
		},
        waiting: false,
        secondsLeft: 0,
        timerInterval: null
	}),
    mounted() {
        if (process.client) {
            this.timerInterval = setInterval(() => {
                this.secondsLeft = Math.max(0, this.secondsLeft - 1)
            }, 1000)
            // this.$store.dispatch('auth/signinFromCookies', '11|SQKLq0id1zs9P7w5FT55jl4F0wOmCckdHTOCrmTa')
        }
    },
    watch: {
        'user.code': function(val) {
            if (val.length >= 4) {
                this.user.code = val.substr(0, 4)
                this.signin()
            }
        }
    },
	methods: {
		closeModal() {
			this.isInnerOpen = false
			this.currentTab = "signin"
			setTimeout(() => {
				this.$setFalse("modals.auth")
			}, 100)
		},
		closeAndBack() {
            this.closeModal()
			this.$router.push("/")
		},
        closeAndRedirectToProfile() {
            this.closeModal()
            if (this.$isMobile()) {
                this.$router.replace({ path: "/profile/nav" })
            } else {
                this.$router.replace({ path: "/profile/info" })
            }
        },
        async createVerificationCode() {
            // await this.$store.dispatch('auth/signinFromCookies', 'Bearer 208|DS3f9KCLZOHvj9Kl8vbdP4FCUbGjl1iRnig11zBu')
            // return
            if (this.$refs.code.reportValidity() && this.user.phone.length == 11) {
                this.sendNewCode()
                this.currentTab = 'code'
            }
        },
        async sendNewCode() {
            if (this.secondsLeft <= 0) {
                this.secondsLeft = 60
                this.user.code = ''
                await this.$store.dispatch("auth/createVerificationCode", { ...this.user })
            }
        },
		async signin() {
            if (this.waiting) {
                return
            }
			if (this.$refs.signin.reportValidity()) {
                this.waiting = true
				await this.$store.dispatch("auth/signin", { ...this.user })
				if (!this.$api.getError("signin")) {
                    this.user.name = this.$user().name
                    this.user.email = this.$user().email

                    if (!this.user.name || !this.user.email) {
                        this.currentTab = 'info'
                    } else {
                        this.closeAndRedirectToProfile()
                    }
				} else {
                    this.waiting = false
                }
			}
		},
        async updateUser() {
            await this.$store.dispatch('user/updateUser', { email: this.user.email, name: this.user.name })
            this.closeAndRedirectToProfile()
        }
	},
}
</script>
