<template>
    <div @mouseleave="closePopup" class="cart-popup">
        <div class="cart-popup-empty" v-if="cart_cnt === 0">
            <div>
                <h4 class="cart-popup-title">В корзине пока ничего нет</h4>
                <p class="cart-popup-text"><button @click="$setTrue('modals.auth')">Войдите,</button> чтобы увидеть сохраненные товары и включить скидки по бонусной системе.</p>
            </div>
        </div>
        <div v-else>
            <div class="cart-popup-items">
                <div class="order-list-item" v-for="(item, product_id) in items" :key="product_id">
                    <div class="order-list-image">
                        <img :src="item.product.image" :alt="item.product.title">
                        <button class="order-list-add-fav" v-if="!isFavorite(item.product)" @click="toggleProduct(item.product)">
                            <fav-icon />
                        </button>
                        <button class="order-list-add-fav --added" v-else @click="toggleProduct(item.product)">
                            <fav-icon />
                        </button>
                    </div>
                    <div class="order-list-mid">
                        <p class="order-list-brand" v-if="item.product.brand">{{ item.product.brand.name }}</p>
                        <p class="order-list-name">{{ item.product.title }}</p>
                    </div>
                    <div class="order-list-right">
                        <p class="order-list-old-price" v-if="item.product.discount">{{ $format_number(item.product.old_price) }} ₸</p>
                        <p class="order-list-price --red">{{ item.product.price * item.cnt }} ₸</p>
                    </div>
                    <div class="order-list-btn-wrp">
                        <div class="counter">
                            <button class="counter-decrease" @click="decreaseProduct(item.product)">
                                <decrease-icon />
                            </button>
                            <span>{{ item.cnt }}</span>
                            <button class="counter-increase" :disabled="item.cnt >= item.product.quantity" @click="increaseProduct(item.product)">
                                <increase-icon />
                            </button>
                        </div>
                        <button class="order-list-remove" @click="removeProduct(item.product)">
                            <close-icon />
                        </button>
                    </div>
                </div>
            </div>
            <div class="cart-popup-total-wrp">
                <div class="cart-popup-row">
                    <p class="cart-popup-text">Итого:</p>
                    <p class="cart-popup-price">{{ $format_number(total) }} ₸</p>
                </div>
                <button @click="$router.push('/checkout')" class="button">
                    <cart-icon />
                    Оформить заказ
                </button>
            </div>
        </div>
    </div>
</template>

<script>
import decreaseIcon from '@/static/icons/minus.svg'
import increaseIcon from '@/static/icons/plus.svg'
import closeIcon from '@/static/icons/close.svg'
import cartIcon from '@/static/icons/cart-white.svg'
import favIcon from '@/static/icons/favorites-filled.svg'
import list from '@/components/checkout/list'
import {mapGetters, mapActions} from 'vuex'

export default {
    props: {
        isOpen: {
            type: Boolean
        }
    },
    data() {
        return {
            isCartOpen: this.isOpen
        }
    },
    computed: {
        ...mapGetters({
            getTotalPrice: 'cart/getTotalPrice',
            items: 'cart/GET_ITEMS',
            cart_cnt: 'cart/GET_CNT',
            isFavorite: 'favorites/IS_FAVORITE',
        }),
        total: function() {
            return this.summ + this.delivery
        },
        summ: function() {
            let summ = 0
            Object.keys(this.items).forEach(product_id => {
                summ += (this.items[product_id].cnt * this.items[product_id].product.price)
            })
            return summ
        },
        delivery: function() {
            return 0 // TODO: fix
            return this.summ >= 10000 ? 0 : 670
        }
    },
    methods: {
        ...mapActions({
            removeProduct: 'cart/removeProduct',
            increaseProduct: 'cart/increaseProduct',
            decreaseProduct: 'cart/decreaseProduct',
            removeProduct: 'cart/removeProduct',
            toggleProduct: 'favorites/toggleProduct',
        }),
        closePopup() {
            this.isCartOpen = false
            this.$emit('closeCart', this.isCartOpen)
        },

    },
    components: {
        list,
        decreaseIcon,
        increaseIcon,
        closeIcon,
        cartIcon,
        favIcon,
    }
}
</script>
