<template>
	<div>
		<div class="limit-wrp" ref="text">
			<div v-html="is_full ? content : limited" :class="{'limit-text': false && content.length > 500 && !is_full}"></div>
		</div>
		<p class="limit-hide" v-if="content.length > 500"><span @click="toggle">{{ is_full ? 'Свернуть' : 'Читать дальше'}}</span></p>
	</div>
</template>

<script>

export default {
	props: ['content'],
	data() {
		return {
			is_full: false,
		}
	},
	methods: {
		toggle() {
			if (this.is_full && document.documentElement.scrollTop > this.$refs.text.offsetTop) {
				window.scrollTo({
					top: this.$refs.text.offsetTop - 100,
					behavior: "smooth",
					block: "top"
				})
				setTimeout(() => {
					this.is_full = !this.is_full
				}, 100 + 0.5 * (document.documentElement.scrollTop - this.$refs.text.offsetTop))
			} else {
				this.is_full = !this.is_full
			}
		}
	},
	computed: {
		limited() {
			if (this.content.length <= 500) {
				return this.content
			}
			let chunks = this.content.split(' ')
			let len = 0, index = 0
			for(let word of chunks) {
				len += word.length
				index++
				if (len > 400) {
					break;
				}
			}

			let limitedText = chunks.slice(0, index).join(' ')
			const regex = /<\/?[\w\s="/.':;#-\/\?]+>/gi
			const allTags = this.content.match(regex)
			const limitedTextTags = limitedText.match(regex)

			let stack = []
			for(let tag of limitedTextTags) {
				let pref = tag.substring(0, 2)
				if (pref == '</') {
					if (stack.length && stack[stack.length - 1] == `<${tag.substring(2)}`) {
						stack.splice(-1, 1)
					}
				} else {
					stack.push(tag)
				}
			}

			if (stack.length) {
				limitedText+='...'
			}

			for(let tag of stack) {
				let closingTag = `</${tag.substring(1)}`
				if (allTags.indexOf(closingTag) != -1) {
					limitedText += closingTag
				}
			}

			return limitedText
		}
	},
}

</script>

<style scoped>
.limit-wrp {
	position: relative;
}
.limit-hide {
	margin-top: 12px;
	cursor: pointer;
	font-weight: bold;
	color: var(--major-color);
}
.limit-text {
	overflow: hidden;
}
.limit-text:after {
	content:"";
	position: absolute; top: 0; bottom: 0; left: -15px; right: -15px;
	-webkit-box-shadow: inset 0px -159px 46px -157px rgba(255,255,255,1);
	-moz-box-shadow: inset 0px -159px 46px -157px rgba(255,255,255,1);
	box-shadow: inset 0px -159px 46px -157px rgba(255,255,255,1);
}
</style>
