<template>
	<transition name="fade">
		<div v-if="notifOpen" class="cookie-notif">
			<div class="cookie-notif-txt-wrp">
				<div class="cookie-notif-icon">
					<icon />
				</div>
				<p class="cookie-notif-text">Cайт only.kz использует файлы cookie и другие технологии для вашего удобства пользования сайтом, анализа использования наших товаров и услуг и повышения качества рекомендаций. <a :href="$settings('offer')" v-if="$settings('offer')">Подробнее</a></p>
			</div>
			<button class="button" @click="close">Понятно</button>
		</div>
	</transition>
</template>

<script>
import icon from "@/static/icons/cookie.svg"
import { mapActions, mapGetters } from 'vuex'

export default {
	components: {
		icon,
	},
	data: () => ({
		notifOpen: false,
	}),
	computed: {
		...mapGetters({
			isAccepted: 'IS_COOKIES_ACCPETED'
		})
	},
	mounted() {
		if (!this.isAccepted) {
			setTimeout(() => {
				this.notifOpen = true
			}, 1000)
		}
	},
	watch: {
		'$route.fullPath': function() {
			this.close()
		}
	},
	methods: {
		...mapActions({
			acceptCookies: 'acceptCookies'
		}),
		close() {
			this.acceptCookies()
			this.notifOpen = false
		},
	},
}
</script>
