<template>
    <footer class="footer">
        <div class="layout-container">
            <div class="footer-top">
                <div class="footer-col">
                    <nuxt-link class="footer-logo" to="/">
                        <logo-icon />
                    </nuxt-link>
                    <div class="footer-phone-wrp">
                        <a href="tel:+77772623060" class="footer-phone">8 (777) 262-30-60</a>
                        <p class="footer-subtitle">Ежедневно с 9:00 до 21:00</p>
                    </div>
                </div>
                <div class="footer-col">
                    <p class="footer-subtitle">Подписывайтесь на нас:</p>
                    <a href="https://instagram.com/only.kazakhstan" target="_blank" class="footer-social">
                        <insta-icon />
                        @only.kazakhstan
                    </a>
					<!-- <a href="https://youtube.com" target="_blank" class="footer-social --mb">
                        <yt-icon />
                        YouTube канал
                    </a> -->
                    <p class="footer-subtitle">Способы оплаты:</p>
                    <payment-cards />
                    <p class="footer-subtitle">Служба поддержки:</p>
                    <a href="malto:info@only.kz" class="footer-social">
                        info@only.kz
                    </a>
                </div>
                <nav class="footer-nav">
                    <h4 class="footer-title">Каталог</h4>
                    <ul class="footer-list">
                        <li v-for="(chunks, index) in getCategoryChunks" :key="index">
                            <nuxt-link
                                v-for="category in chunks"
                                :to="`/catalog/${category.slug}`"
                                :key="category.id">
                                {{ category.name }}
                            </nuxt-link>
                        </li>
                    </ul>
                </nav>
                <nav class="footer-nav">
                    <h4 class="footer-title">Помощь покупателю</h4>
                    <ul class="footer-list">
                        <li>
                            <nuxt-link to="/delivery">Доставка</nuxt-link>
                            <nuxt-link to="/payment">Оплата</nuxt-link>
                            <nuxt-link to="/how-to-order">Как сделать заказ</nuxt-link>
                            <nuxt-link to="/bonuses">Бонусы</nuxt-link>
                            <a :href="$settings('offer')" v-if="$settings('offer')" target="_blank">Публичная оферта</a>
                            <a :href="$settings('policy')" v-if="$settings('policy')" target="_blank">Политика конфиденциальности</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="footer-mobile-nav" v-if="$isMobile()">
            <h4 class="footer-title" @click="toggleCat">
                Каталог
                <arrow-icon class="footer-arrow" :class="{'--open': isCategoriesOpen}" />
            </h4>
            <div v-if="isCategoriesOpen">
                <nuxt-link class="footer-link"
                    :to="`/catalog/${item.slug}`"
                    v-for="item in categories"
                    :key="item.id">
                    {{item.name}}
                </nuxt-link>
            </div>
            <h4 class="footer-title" @click="toggleHelp">
                Помощь покупателю
                <arrow-icon class="footer-arrow" :class="{'--open': isHelpOpen}" />
            </h4>
            <div v-if="isHelpOpen">
                <nuxt-link class="footer-link" to="/delivery">Доставка</nuxt-link>
                <nuxt-link class="footer-link" to="/payment">Оплата</nuxt-link>
                <nuxt-link class="footer-link" to="/how-to-order">Как сделать заказ</nuxt-link>
                <nuxt-link class="footer-link" to="/bonuses">Бонусы</nuxt-link>
                <a :href="$settings('offer')" class="footer-link" v-if="$settings('offer')" target="_blank">Публичная оферта</a>
                <a :href="$settings('policy')" class="footer-link" v-if="$settings('policy')" target="_blank">Политика конфиденциальности</a>
            </div>
        </div>
        <div class="footer-bot">
            <div class="layout-container">
                <div class="footer-row">
                    <p class="footer-copyright">{{ year }} © Only.kz интернет-магазин</p>
                    <a href="https://brandstudio.kz" target="_blank" class="footer-developer">
                        <bs-letter class="footer-bs-letter" />
                        <bs-text class="footer-bs-text" />
                    </a>
                </div>
            </div>
        </div>
    </footer>
</template>

<script>
import instaIcon from "@/static/icons/insta.svg"
import ytIcon from "@/static/icons/yt-icon.svg"
import paymentCards from "@/static/icons/payment-cards.svg"
import logoIcon from "@/static/icons/logo.svg"
import bsText from "@/static/icons/bs-logo-text.svg"
import bsLetter from "@/static/icons/bs-logo-b.svg"
import arrowIcon from "@/static/icons/arrow-icon.svg"
import { mapGetters } from "vuex"
export default {
	data() {
		return {
			isCategoriesOpen: false,
			isHelpOpen: false,
		}
	},
	methods: {
		toggleCat() {
			this.isCategoriesOpen = !this.isCategoriesOpen
		},
		toggleHelp() {
			this.isHelpOpen = !this.isHelpOpen
		},
	},
	computed: {
		...mapGetters({
			categories: "category/GET_CATEGORIES",
		}),
		getCategoryChunks: function () {
			const chunked_arr = []
			let copied = [...this.categories]
			const size = 4
			const numOfChild = Math.ceil(copied.length / size)
			for (let i = 0; i < numOfChild; i++) {
				chunked_arr.push(copied.splice(0, size))
			}
			return chunked_arr
		},
        year() {
            return new Date().getFullYear()
        }
	},
	components: {
		instaIcon,
		paymentCards,
		logoIcon,
		arrowIcon,
		bsText,
		bsLetter,
		ytIcon,
	},
}
</script>
