<template>
    <header v-if="!$isMobile()" class="header" @mouseleave="closeSubCategory">
        <div class="header-top" @mouseover="closeSubCategory">
            <div class="layout-container">
                <div class="header-row">
                    <a href="tel:+77772623060" class="header-phone">
                        <phone-icon />
                        8 (777) 262-30-60
                    </a>
                    <nav class="header-top-nav">
                        <nuxt-link to="/bonuses">Бонусы</nuxt-link>
                        <nuxt-link to="/how-to-order">Как сделать заказ</nuxt-link>
                        <nuxt-link to="/delivery">Доставка</nuxt-link>
                        <nuxt-link to="/payment">Оплата</nuxt-link>
                        <nuxt-link to="/news">Блог</nuxt-link>
                        <nuxt-link to="/contacts">Контакты</nuxt-link>
                    </nav>
                </div>
            </div>
        </div>
        <div class="header-mid">
            <div class="layout-container">
                <div class="header-row" @mouseenter="closeSubCategory">
                    <nuxt-link to="/" class="header-logo">
                        <logo-icon />
                    </nuxt-link>
                    <form class="header-search-wrp" v-click-outside="closeDropdown" action="/search" @submit.prevent="$router.push(`/search?q=${q}`)" method="GET">
                        <search-icon class="header-search-icon" />
                        <input type="text" name="q" class="header-search-input" placeholder="Хочу купить"
                            v-model="q"
                            @focus="onFocusSearch">
                        <button type="button" class="header-search-close" @click="q = ''">
                            <close-icon />
                        </button>
                        <transition name="fade">
                            <dropdown v-if="isDropdownOpen" :q="q"/>
                        </transition>
                    </form>
                    <button class="header-btn --profile"
                        v-ripple="'rgba(0, 0, 0, 0.1)'"
                        @click="$setTrue('modals.auth')"
                        v-if="!$isSignedIn()">
                        Войти
                        <user-icon />
                    </button>
                    <nuxt-link class="header-btn" to="/profile/info" v-ripple="'rgba(0, 0, 0, 0.1)'" v-else>
                        <user-icon />
                    </nuxt-link>
                    <nuxt-link class="header-btn" v-ripple="'rgba(0, 0, 0, 0.1)'" to="/favorites">
                        <span class="header-badge" v-if="favorites.length > 0">{{favorites.length}}</span>
                        <fav-icon />
                    </nuxt-link>
                    <div class="header-cart-wrp">
                        <nuxt-link to="/checkout" class="header-btn" v-ripple="'rgba(0, 0, 0, 0.1)'">
                            <span class="header-badge" v-if="cart_cnt > 0">{{ cart_cnt }}</span>
                            <cart-icon />
                        </nuxt-link>
                        <client-only>
                            <transition name="fade">
                                <cart-popup />
                            </transition>
                        </client-only>
                    </div>
                </div>
                <div class="header-row --center">
                    <nav class="header-bot-nav">
                        <nuxt-link :to="`/catalog/${category.slug}`"
                            v-for="category in categories"
                            @click.native="closeSubCategory"
                            @mouseover.native="onHoverCategory(category)"
                            :key="category.slug"
                            :style="`color: ${category.color}`">
                            {{category.name}}
                        </nuxt-link>
                        <nuxt-link to="/brands" @mouseover.native="closeSubCategory">Бренды</nuxt-link>
                        <nuxt-link :to="{path: '/catalog', query: { extra: 'sales' } }" @mouseover.native="closeSubCategory">Акции</nuxt-link>
                    </nav>
                </div>
            </div>
        </div>
        <div class="header-bot" :class="{'--open' : hoveredCategory}">
            <transition name="fade">
                <div class="header-subcategory-wrp layout-container" v-if="hoveredCategory">
                    <h4 class="header-subcategory-title">Категории</h4>
                    <div class="header-subcategory-row">
                        <div class="header-subcategory-item"
                            v-for="subcategories in getSubCategoryChunks"
                            :key="subcategories.id">
                            <nuxt-link class="header-subcategory-link"
                                @click.native="closeSubCategory"
                                v-for="subcategory in subcategories"
                                :key="`${subcategory.slug}`"
                                :to="`/catalog/${hoveredCategory.slug}/${subcategory.slug}`">
                                <span :style="`color: ${subcategory.color}`">{{ subcategory.name }}</span>
                            </nuxt-link>
                        </div>
                    </div>
                </div>
            </transition>
        </div>
    </header>
</template>

<script>
import phoneIcon from "@/static/icons/phone.svg";
import pinIcon from "@/static/icons/pin.svg";
import logoIcon from "@/static/icons/logo.svg";
// import logoIcon from "@/static/icons/ny_logo.svg";
import searchIcon from "@/static/icons/search.svg";
import closeIcon from "@/static/icons/close.svg";
import userIcon from "@/static/icons/user.svg";
import favIcon from "@/static/icons/favorites.svg";
import cartIcon from "@/static/icons/cart.svg";
import cartPopup from "@/components/partials/cart-popup";
import dropdown from "@/components/partials/search-dropdown";
import ClickOutside from "vue-click-outside";
import { mapGetters } from "vuex";
import Snow from "./snow";

export default {
	components: {
        Snow,
		phoneIcon,
		pinIcon,
		logoIcon,
		searchIcon,
		userIcon,
		favIcon,
		cartIcon,
		cartPopup,
		closeIcon,
		dropdown,
	},
	data() {
		return {
			waiting: false,
			q: this.$route.query.q,
			hoveredCategory: null,
			isCartOpen: false,
			isSearchOpen: false,
			isDropdownOpen: false,
		};
	},
	computed: {
		...mapGetters({
			favorites: "favorites/GET_FAVORITES",
			cart_cnt: "cart/GET_CNT",
			categories: "category/GET_CATEGORIES",
		}),
		getSubCategoryChunks: function () {
			const chunked_arr = [];
			let copied = [...Object.values(this.hoveredCategory.subcategories)];
			const size = 8;
			const numOfChild = Math.ceil(copied.length / size);
			for (let i = 0; i < numOfChild; i++) {
				chunked_arr.push(copied.splice(0, size));
			}
			return chunked_arr;
		},
	},
	watch: {
		"$route.path": function () {
			this.closeDropdown(false);
		},
		q: async function (q) {
			await this.tryToStartSearch();
		},
	},
	methods: {
		onHoverCategory(category) {
			if (
				category.subcategories &&
				Object.keys(category.subcategories).length > 0
			) {
				this.hoveredCategory = category;
			} else {
				this.hoveredCategory = null;
			}
		},
		closeSubCategory() {
			this.hoveredCategory = null;
		},
		showCart() {
			this.isCartOpen = true;
		},
		onFocusSearch() {
			this.isDropdownOpen = true;
		},
		closeDropdown(q = true) {
			if (q) {
				this.q = null;
			}
			this.isDropdownOpen = false;
		},
		async tryToStartSearch() {
			if (!this.waiting) {
				await this.searchProducts();
			}
		},
		async searchProducts() {
			this.waiting = true;
			this.$store.dispatch("product/search", this.q);
			this.waiting = false;
		},
		getFilters() {
			let query = { ...this.$route.query };
			Object.keys(query).map(function (key, index) {
				query[key] = query[key].split(",");
			});
			return query;
		},
		getQuery(filters) {
			Object.keys(filters).map(function (key, index) {
				filters[key] = filters[key].join(",");
			});
			return filters;
		},
	},
	directives: {
		ClickOutside,
	},
};
</script>
