<template>
    <div class="ig-feed" v-if="posts && posts.length">
        <div class="layout-container">
            <h3 class="ig-feed-title">Присоединяйся к нашей армии подписчиков</h3>
            <div class="ig-feed-row">
                <a :href="posts[index-1].permalink" v-for="index in 6" :key="index" target="_blank" class="ig-feed-item">
                    <img :src="posts[index-1].media_url" alt="Only.kz image" class="ig-feed-img">
                    <div class="ig-feed-overlay">
                        <instagram-icon />
                    </div>
                </a>
            </div>
            <div class="ig-feed-row --center">
                <p class="ig-feed-counter" v-if="followers">
                    <counter-icon />
                    {{ (Math.floor(followers/100)*1.0/10) }} тыс
                </p>
                <a :href="`https://instagram.com/${account}`" target="_blank" v-ripple="'rgba(255, 255, 255, 0.2)'" class="ig-feed-link">@{{ account }}</a>
            </div>
        </div>
    </div>
</template>

<script>
import counterIcon from '@/static/icons/insta.svg'
import instagramIcon from '@/static/icons/insta-white.svg'
import { mapGetters } from 'vuex'

export default {
    components: {
        instagramIcon,
        counterIcon
    },
    computed: {
        ...mapGetters({
            account: 'instagram/GET_ACCOUNT',
            followers: 'instagram/GET_FOLLOWERS',
            posts: 'instagram/GET_POSTS'
        })
    }
}
</script>
