<template>
    <div class="last-news" v-if="posts && posts.data && posts.data.length">
        <div class="layout-container">
            <div class="last-news-title-wrp">
                <h3 class="section-title">Новости</h3>
                <nuxt-link to="/news">смотреть все статьи</nuxt-link>
            </div>
            <div v-swiper:lastNews="options">
                <div class="swiper-wrapper">
                    <div v-for="post in posts.data" :key="post.id" class="swiper-slide">
                        <news-item :post="post" />
                    </div>
                </div>
                <div class="swiper-pagination last-news-pagination"></div>
            </div>
            <div class="last-news-link-wrp">
                <nuxt-link to="/news">
                    смотреть все новости
                    <arrow-icon />
                </nuxt-link>
            </div>
            <div class="last-news-row">
                <news-item v-for="post in posts.data" :key="post.id" :post="post" />
            </div>
        </div>
    </div>
</template>

<script>
import newsItem from "@/components/partials/news-item";
import arrowIcon from "@/static/icons/arrow-icon.svg";
import { directive } from "vue-awesome-swiper";
import { mapGetters } from "vuex";

export default {
	components: {
		newsItem,
		arrowIcon,
	},
	directives: {
		swiper: directive,
	},
	data() {
		return {
			options: {
				slidesPerView: 3,
				spaceBetween: 20,
				pagination: {
					el: ".last-news-pagination",
					type: "bullets",
				},
				breakpoints: {
					430: {
						slidesPerView: 3,
					},
					330: {
						slidesPerView: 2,
					},
					320: {
						slidesPerView: 1,
					},
				},
			},
		};
	},
	computed: {
		...mapGetters({
			posts: "content/GET_LAST_POSTS",
		}),
	},
};
</script>
