<template>
    <div class="map-info" :class="{ '-page' : !toggle }">
        <div class="top"  v-if="toggle">
            <div class="title">Условия доставки</div>
            <button class="arrow" type="button" @click="show = !show" :class="{ '-rotate' : show }" >
                <Arrow />
            </button>
        </div>
        <transition name="fade">
            <div class="row" v-if="show">
                <div class="col">
                    <div class="info-title">
                        <div class="circle -green"></div>
                        Зеленая зона доставки
                    </div>
                    <div class="info-description">
                        Доставка день в день до 18.00. <br>
                        Доступна экспресс доставка за 500 ₸.
                    </div>
                </div>
                <div class="col">
                    <div class="info-title">
                        <div class="circle -yellow"></div>
                        Желтая зона доставки
                    </div>
                    <div class="info-description">
                        Бесплатная доставка день в день при заказе до 14.00, после 14:00 на следующий день.
                    </div>
                </div>
                <div class="col">
                    <div class="info-title">
                        <div class="circle -red"></div>
                        Красная зона доставки
                    </div>
                    <div class="info-description">
                        Стоимость 1 500₸. <br>
                        Бесплатно от суммы более 10 000₸. <br>
                        Доставим на следующий день.
                    </div>
                </div>
            </div>
        </transition>
    </div>
</template>

<script>
import Arrow from '~/static/icons/down.svg'
export default {
    props: {
        toggle: {
            type: Boolean,
            default: true,
        }
    },
    data: () => ({
        show: true
    }),
    components: {
        Arrow
    }
}
</script>

<style scoped lang="stylus">
    .map-info
        background var(--bg-base)
        border-radius 12px
        padding 12px 11px
        margin-bottom 40px
        &.-page
            padding-top: 0
    .top
        display flex
        align-items center
        justify-content space-between
    .title
        font-weight bold
    .arrow
        display flex
        align-items center
        justify-content center
        width 24px
        height: 24px
        border-radius 6px
        background var(--line-color)
        padding: 0
        svg
            width: 20px
            height: 20px
            transition: .3s
        &.-rotate
            svg
                transform: rotate(180deg)
    .row
        display flex
        flex-wrap wrap
    .col
        flex 0 0 50%
        margin-top 20px
        @media (max-width 768px)
            flex: 0 0 100%
    .info
        &-title
            font-size 14px
            font-weight 600
            display flex
            align-items center
        &-description
            color #8A8F99
            font-size 13px
            margin-top 3px
    .circle
        width 14px
        height: 14px
        border-radius 99px
        margin-right 5px
        &.-red
            background #F56A5B
        &.-green
            background #56D663
        &.-yellow
            background #FFEB3A
</style>
