<template>
    <nuxt-link class="news-item" :to="'/news/' + post.slug">
        <div class="news-item-image">
            <img :src="post.image" :alt="post.name">
        </div>
        <div class="news-item-text-wrp">
            <h6 class="news-item-title">{{ post.name }}</h6>
            <p class="news-item-text">
                {{ post.description }}
            </p>
            <p class="news-item-date">{{ $format_date(post.created_at) }}</p>
        </div>
    </nuxt-link>
</template>

<script>
export default {
    props: ['post']
}
</script>
