<template>
	<transition name="fade">
	  <div v-if="loading" class="preloader">
	  	<app-logo class="preloader-logo" />
	  </div>
	</transition>
</template>

<script>
import appLogo from '@/static/icons/logo.svg'
export default {
	data: () => ({
		loading: false
	}),
	methods: {
    start() {
      this.loading = true;
    },
    finish() {
      this.loading = false;
    }
  },
  components: {
  	appLogo
  }
}
</script>