<template>
    <div class="product">
        <div class="product-image">
            <nuxt-link :to="`/catalog/${product.category.slug}/${product.subcategory.slug}/${product.slug}`">
                <img :src="product.image" :alt="product.title">
            </nuxt-link>
            <button class="product-add-fav" @click="toggleProduct(product)" v-if="!isFavorite(product)">
                <fav-filled-icon class="product-fav-filled" />
                <fav-icon class="product-fav-outlined" />
            </button>
            <button class="product-add-fav --added" @click="toggleProduct(product)" v-if="isFavorite(product)">
                <fav-filled-icon />
            </button>
            <div class="product-tags-wrp">
                <div class="tag --new" v-if="product.is_new">новинка</div>
                <div class="tag --hit" v-if="product.is_hit">хит</div>
            </div>
            <div class="product-discount-wrp" v-if="product.discount > 0">
                <div class="tag --discount">-{{ product.discount }}%</div>
            </div>
        </div>
        <div class="product-rating">
            <client-only>
                <star-rating
                    :inactive-color="'#C3CAD9'"
                    :active-color="'#0d1f42'"
                    :read-only="true"
                    :increment="0.5"
                    :rating="product.rating"
                    :star-size="12"
                    :show-rating="false"
                    :star-points="[23,2, 14,17, 0,19, 10,34, 7,50, 23,43, 38,50, 36,34, 46,19, 31,17]" />
            </client-only>
            <span v-if="product.reviews_count">{{ $format_number(product.reviews_count) }}</span>
        </div>
        <nuxt-link :to="`/catalog/${product.category.slug}/${product.subcategory.slug}/${product.slug}`">
            <div class="product-name-wrp">
                <p class="product-brand">{{ product.brand ? product.brand.name : '' }}</p>
                <p class="product-name">{{ $str_limit(product.title) }}</p>
            </div>
            <div class="product-price-wrp">
                <p class="product-old-price" v-if="product.discount">{{ $format_number(product.old_price) }} ₸</p>
                <p class="product-price" :class="{'--discount' : product.discount}">{{ $format_number(product.price) }} ₸</p>
            </div>
        </nuxt-link>
        <p class="product-out-of-stock" v-if="product.quantity <= 0">Нет в наличии</p>
        <div class="product-discount">
            <div class="product-discount-text">Вам начислится {{ $format_number(calculateCashback(product)) }} бонусов ({{ product.cashback }}%) при покупке с регистрации. Их можно использовать при оплате следующих покупок.</div>
            <div class="product-discount-percent">{{ product.cashback }}%</div>
            <div class="product-discount-price">{{ $format_number(calculateCashback(product)) }} ₸</div>
            <gift-icon class="product-discount-icon" />
        </div>
        <button class="button" v-ripple="'rgba(255, 255, 255, 0.1)'" @click="increaseProduct(product)" v-if="getCartCnt(product.id) == 0 && product.quantity != 0">
            <cart-icon />
            В корзину
        </button>
        <button class="product-add-cart" @click="increaseProduct(product)" v-if="getCartCnt(product.id) == 0 && product.quantity != 0">
            <cart-icon />
        </button>
        <div class="counter" v-if="getCartCnt(product.id) > 0 && product.quantity != 0">
            <button class="counter-decrease" @click="decreaseProduct(product)"><decreaseIcon /></button>
            <span>{{ getCartCnt(product.id) }}</span>
            <button class="counter-increase" @click="increaseProduct(product)" :disabled="getCartCnt(product.id) >= product.quantity">
                <increaseIcon />
            </button>
        </div>
    </div>
</template>

<script>
import favIcon from "@/static/icons/favorites.svg";
import favFilledIcon from "@/static/icons/favorites-filled.svg";
import cartIcon from "@/static/icons/cart-white.svg";
import decreaseIcon from "@/static/icons/minus.svg";
import increaseIcon from "@/static/icons/plus.svg";
import giftIcon from "@/static/icons/gift.svg";
import { mapGetters, mapActions } from "vuex";
export default {
	props: ["product"],
	computed: {
		...mapGetters({
			isFavorite: "favorites/IS_FAVORITE",
			getCartCnt: "cart/GET_CART_CNT",
		}),
	},
	methods: {
		...mapActions({
			toggleProduct: "favorites/toggleProduct",
			increaseProduct: "cart/increaseProduct",
			decreaseProduct: "cart/decreaseProduct",
		}),
		calculateCashback(product) {
			return Math.floor((product.price * product.cashback) / 100);
		},
	},
	components: {
		favIcon,
		favFilledIcon,
		cartIcon,
		increaseIcon,
		decreaseIcon,
		giftIcon,
	},
};
</script>
