<template>
    <div class="product-slider">
        <div class="product-slider-title-wrp">
            <h3 class="section-title">{{title}}</h3>
            <div class="product-slider-arrow-wrp">
                <nuxt-link to="">смотреть все</nuxt-link>
                <button :class="['slider-prev', `${categoryName}-prev`]">
                    <arrow-icon />
                </button>
                <button :class="['slider-next', `${categoryName}-next`]">
                    <arrow-icon />
                </button>
            </div>
        </div>
        <div v-swiper:productSlider="options">
            <div class="swiper-wrapper">
                <div class="swiper-slide" v-for="product in products" :key="product.id">
                    <product :product="product" />
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import arrowIcon from "@/static/icons/arrow-icon.svg"
import product from "@/components/partials/product"
import { directive } from "vue-awesome-swiper"
import { mapGetters } from "vuex"

export default {
	components: {
		arrowIcon,
		product,
	},
	directives: {
		swiper: directive,
	},
	props: ["title", "categoryName"],
	data() {
		return {
			options: {
				slidesPerView: 4,
				simulateTouch: false,
				navigation: {
					nextEl: `.${this.categoryName}-next`,
					prevEl: `.${this.categoryName}-prev`,
				},
				pagination: {
					el: `.${this.categoryName}-pagination`,
					type: "bullets",
				},
			},
		}
	},
	computed: {
		...mapGetters({
			products: "product/GET_PRODUCTS",
		}),
	},
}
</script>
