<template>
    <div class="product-slider" v-if="products && products.data.length">
        <div class="product-slider-title-wrp">
            <h3 class="section-title">{{ label }}</h3>
            <div class="product-slider-arrow-wrp">
                <nuxt-link v-if="link" :to="link">смотреть все</nuxt-link>
                <button :class="['slider-prev', `${type}-prev`]" v-ripple="'rgba(0, 0, 0, 0.1)'" @click="current_pos = Math.max(0, current_pos-1)" :disabled="current_pos == 0">
                    <arrow-icon />
                </button>
                <button :class="['slider-next', `${type}-next`]" v-ripple="'rgba(0, 0, 0, 0.1)'" @click="tryTolazyLoad" :disabled="current_pos == products.total">
                    <arrow-icon />
                </button>
            </div>
        </div>
        <div class="product-slider-wrapper">
			<div v-swiper:productSlider="options">
				<div class="swiper-wrapper">
					<div class="swiper-slide" v-for="product in products.data" :key="product.id">
						<product :product="product" />
					</div>
				</div>
				<div class="product-slider-pagination" :class="[`${type}-pagination`]"></div>
			</div>
		</div>
        <div class="product-slider-link-wrp" v-if="link">
            <nuxt-link :to="link">
                смотреть все
                <arrow-icon />
            </nuxt-link>
        </div>
    </div>
</template>

<script>
import arrowIcon from "@/static/icons/arrow-icon.svg"
import product from "@/components/partials/product"
import { directive } from "vue-awesome-swiper"
import { mapActions } from "vuex"

export default {
	components: {
		arrowIcon,
		product,
	},
	directives: {
		swiper: directive,
	},
	props: ["products", "type", "label", "link"],
	data() {
		return {
			current_pos: 0,
			waiting: false,
			options: {
				slidesPerView: 4,
				simulateTouch: false,
				navigation: {
					nextEl: `.${this.type}-next`,
					prevEl: `.${this.type}-prev`,
				},
				pagination: {
					el: `.${this.type}-pagination`,
					type: "bullets",
					clickable: true,
				},
				breakpoints: {
					1024: {
						slidesPerView: 4,
					},
					768: {
						slidesPerView: 3,
					},
					330: {
						spaceBetween: 16,
						slidesPerView: 2,
					},
					320: {
						slidesPerView: 1,
					},
				},
			},
		}
	},
	mounted() {
		if (process.client && !this.$route.query.page) {
			this.lazyLoad()
		}
	},
	methods: {
		...mapActions({
			paginate: "product/paginate",
		}),
		async tryTolazyLoad() {
			this.current_pos = Math.min(
				this.products.data.length,
				this.current_pos + 1
			)
			if (
				this.current_pos + this.options.slidesPerView >=
				this.products.data.length
			) {
				if (!this.waiting) {
					await this.lazyLoad()
				}
			}
		},
		async lazyLoad() {
			this.waiting = true
			await this.paginate(`${this.type}products`)
			this.waiting = false
		},
	},
}
</script>
