<template>
    <div class="search-dropdown" v-if="products" >
        <div class="search-dropdown-all">
            <p>{{ products.total }} товаров</p>
            <nuxt-link :to="`/search?q=${q}`" @click.native="$setFalse('modals.search')">
                Смотреть все
                <arrow-icon />
            </nuxt-link>
        </div>
        <div class="search-dropdown-product" v-for="(product, index) in products.data" :key="index">
            <nuxt-link class="search-dropdown-link" :to="`/catalog/${product.category.slug}/${product.subcategory.slug}/${product.slug}`" @click.native="$setFalse('modals.search')">
                <div class="search-dropdown-image">
                    <img :src="product.image" :alt="product.title">
                </div>
                <div class="search-dropdown-name-wrp">
                    <p class="search-dropdown-subtitle" v-if="product.brand">{{ product.brand.name }}</p>
                    <p class="search-dropdown-title">{{ product.title }}</p>
                </div>
            </nuxt-link>
            <div class="search-dropdown-add-wrp">
                <button type="button" class="button"
                    :class="{'--hidden' : !(getCartCnt(product.id) == 0 && product.quantity != 0)}"
                    @click="increaseProduct(product)">В КОРЗИНУ</button>
                <div class="counter"
                    :class="{'--hidden' : !(getCartCnt(product.id) > 0 && product.quantity != 0)}">
                    <button type="button" class="counter-decrease" @click="decreaseProduct(product)"><decreaseIcon /></button>
                    <span>{{ getCartCnt(product.id) }}</span>
                    <button type="button" class="counter-increase" @click="increaseProduct(product)" :disabled="getCartCnt(product.id) >= product.quantity">
                        <increaseIcon />
                    </button>
                </div>
            </div>
            <arrow-icon />
        </div>
    </div>
</template>

<script>
import arrowIcon from '@/static/icons/arrow-icon.svg'
import decreaseIcon from '@/static/icons/minus.svg'
import increaseIcon from '@/static/icons/plus.svg'
import { mapGetters, mapActions } from 'vuex'

export default {
    components: {
        arrowIcon,
        decreaseIcon,
        increaseIcon
    },
    props: ['q'],
    computed: {
        ...mapGetters({
            products: 'product/GET_SEARCH_RESULTS',
            getCartCnt: 'cart/GET_CART_CNT',
        })
    },
    methods: {
        ...mapActions({
            increaseProduct: 'cart/increaseProduct',
            decreaseProduct: 'cart/decreaseProduct',
        }),
        // closeDropdown() {
        //     this.$emit('closeSearchDropdown')
        // }
    }
}
</script>
