<template>
    <div class="custom-select" @blur="open = false">
        <div class="custom-select-selected" :class="{'custom-select-open': open}" @click="open = !open">
            {{ options[selected] }}
            <arrow-icon />
        </div>
        <div class="custom-select-items" :class="{'custom-select-select-hide': !open}">
            <div class="custom-select-item" v-for="(label, value) of options" :key="value" @click="change(value)">{{ label }}</div>
        </div>
    </div>
</template>

<script>
import arrowIcon from '@/static/icons/arrow-icon.svg'

export default {
    components: {
        arrowIcon
    },
    props: {
        options: {
            type: Object,
            required: true
        },
        value: {
            required: false
        }
    },
    data() {
        return {
            open: false,
            selected: this.value ? this.value : (Object.keys(this.options).length > 0 ? Object.keys(this.options)[0] : null),
        }
    },
    watch: {
        value: function() {
            this.selected = this.value ? this.value : (Object.keys(this.options).length > 0 ? Object.keys(this.options)[0] : null)
        }
    },
    methods: {
        change(val) {
            this.selected = val
            this.open = false
            this.$emit('input', this.selected)
            this.$emit('change', this.selected)
        }
    }
}
</script>
