<template>
    <div class="subscribe">
        <div class="subscribe-container">
            <div class="subscribe-image">
                <img src="/images/subscribe.jpg" alt="Only.kz image">
            </div>
            <form class="subscribe-inner" @submit.prevent="subscribe">
                <h3 class="subscribe-title">Подпишись<br> на рассылку</h3>
                <p class="subscribe-text">Получайте <nuxt-link to="">акции и спец.предложения!</nuxt-link></p>
                <input type="email" v-model="email" class="subscribe-input" placeholder="e-mail" required />
                <button type="submit" class="button --minor-color" v-ripple="'rgba(255, 255, 255, 0.2)'">Подписаться</button>
            </form>
        </div>
    </div>
</template>

<script>
export default {
    data() {
        return {
            email: null,
        }
    },
    methods: {
        async subscribe() {
            await this.$api.post('subscribe', { email: this.email }, 'subscribe')
            if (!this.$api.getError('subscribe')) {
                this.$toastr.success('Вы успешно подписались на рассылку!') // TODO:
                this.email = null
            }
        },
    }
}

</script>
