<template>
    <label :class="{'-active': !locked}">
        <v-input
            ref="phoneInput"
            type="phone"
            name="kaspi_phone"
            input-class="auth-modal-input kaspi-phone"
            v-model="phone"
            :disabled="locked"
            @input="onChange"
            :required="true"
            placeholder="Номер телефона Kaspi"
        >
            <span @click="unlock" class="kaspi-action" v-if="locked">
                Изменить
            </span>
        </v-input>
    </label>
</template>

<script>
import vInput from "@/components/partials/v-input"

export default {
    props: {
        value: {
            type: String,
            default: ''
        },
    },
    data() {
        return {
            phone: this.value,
            locked: Boolean(this.value),
        }
    },
    watch: {
        value: function(val) {
            this.phone = val
        }
    },
    methods: {
        onChange() {
            this.$emit('input', this.phone)
        },
        unlock() {
            this.locked = false
            this.$refs.phoneInput.$el.focus()
        }
    },
    components: {
        vInput
    }
}
</script>

<style lang="stylus">
    .kaspi
        &-action
            position absolute
            right 0
            top 0
            color var(--major-color)
            font-weight bold
            font-size 14px
            cursor pointer
        &-phone
            width 100% !important
            color: #8a8f99
            transition .3s
            &:focus
                color var(--color-dark)
</style>
