<template>
    <input type="text" v-model="masked" @input="updateMasked" />
</template>

<script>
import moment from 'moment'

export default {
    props: {
        value: {},
        min: {
            type: Number,
            default: moment().format('Y') - 120
        },
        max: {
            type: Number,
            default: moment().format('Y') - 4
        },
    },
    data() {
        return {
            masked: this.value,
            date: this.value,
            rules: [2, 2, 4],
        }
    },
    watch: {
        value: function(val) {
            this.date = val
            this.setMasked()
        },
    },
    methods: {
        setMasked() {
            let date = moment(this.date, ['DD.MM.YYYY'])
            if (date.isValid()) {
                this.masked = date.format('DD.MM.YYYY')
            } else {
                this.date = null
                this.masked = ''
                console.error('Invalid date!')
            }
        },
        setValue() {
            this.date = this.masked
            this.$emit('input', this.date)
        },
        updateMasked() {
            let chunks = []
            let raw = this.masked.replace(/\D/g,'')
            let j = 0

            for(let i=0;i<3;++i) {
                chunks.push(raw.substr(j, this.rules[i]))
                j += this.rules[i]
            }

            if (chunks[2].length == 4) {
                let d = Number(chunks[0])
                let m = Number(chunks[1])
                let y = Number(chunks[2])

                chunks[2] = String(Math.min(this.max, Math.max(this.min, y)))

                m = Math.min(12, Math.max(1, m))
                chunks[1] = this.$pad(m)

                let daysInMonth = 31

                switch (m) {
                    case 2 :
                        daysInMonth = (y % 4 == 0 && y % 100) || y % 400 == 0 ? 29 : 28;
                    case 9 : case 4 : case 6 : case 11 :
                        daysInMonth = 30;
                }


                d = Math.min(daysInMonth, Math.max(1, d))
                chunks[0] = this.$pad(d)
                this.masked = chunks.filter(c => c && c.length).join('.')
                this.setValue()
            } else {
                if (!this.masked || !this.masked.length) {
                    this.setValue()
                }
                this.masked = chunks.filter(c => c && c.length).join('.')
            }
        },
    }
}

</script>
