<template>
    <div :class="{'pl': !simple}">
        <input
            :type="inputType"
            :id="inputName"
            :name="inputName"
            :class="inputClass"
            :required="required"
            :placeholder="placeholder"
            :disabled="disabled"
            v-model="masked"
            @input="mask"
        />
        <template v-if="!simple">
            <label :data-placeholder="placeholder" :for="inputName"></label>
            <div class="slot">
                <template v-if="isPassword">
                    <eye class="eye" v-if="showPassword" @click="showPassword = !showPassword" />
                    <eye-cl class="eye" v-else @click="showPassword = !showPassword" />
                </template>
                <slot></slot>
            </div>
        </template>
    </div>
</template>

<script>
import eyeCl from "@/static/icons/eye-cl.svg"
import eye from "@/static/icons/eye.svg"

export default {
    props: {
        type: {
            type: String,
            default: 'text'
        },
        name: {
            type: String,
            default: ''
        },
        inputClass: {
            type: String,
            default: ''
        },
        required: {
            type: Boolean,
            default: false
        },
        disabled: {
            type: Boolean,
            default: false
        },
        placeholder: {
            type: String,
            default: ''
        },
        simple: {
            type: Boolean,
            default: false
        },
        value: {},
    },
    data() {
        return {
            showPassword: false,
            val: this.value ? this.value : '',
            masked: this.value ? this.value : '',
            pattern: '+# (###) ###-##-##'
        }
    },
    computed: {
        inputType() {
            if (this.isLogin) {
                return this.isPhone ? 'tel' : 'text'
            }
            if (this.isPassword) {
                return this.showPassword ? 'text' : 'password'
            }
            return this.type
        },
        inputName() {
            return this.isLogin ? (this.isValidPhone ? 'phone' : 'email') : this.name
        },
        isPassword() {
            return this.type == 'password'
        },
        isPhone() {
            return this.type == 'phone'
        },
        isLogin() {
            return this.type == 'login'
        },
        isMasked() {
            return this.isPhone || this.isLogin
        },
        isValidPhone() {
            return !this.masked || this.$isValidPhone(this.masked)
        }
    },
    watch: {
        value: function(val) {
            this.val = val ? val : ''
            this.masked = val ? val : ''
            this.mask()
        }
    },
    mounted() {
        this.mask()
    },
    methods: {
        mask() {
            if (this.isMasked && (this.isValidPhone || this.isPhone)) {
                let phone = this.masked.replace(/\D/g, "")
                if (phone && phone[0] != '7') {
                    phone = '7' + phone.substr(1)
                }

                this.masked = this.$mask(phone, this.pattern)
            }
            this.setValFromMasked()
        },
        setValFromMasked() {
            if (this.isMasked && this.isValidPhone) {
                this.val = this.masked.replace(/\D/g, "")
            } else {
                this.val = this.masked
            }
            this.changed()
        },
        changed() {
            this.$emit('input', this.val)
        }
    },
    components: {
        eyeCl,
        eye
    }
}

</script>
