<template>
    <div>
        <client-only>
            <yandex-map
                ref="map"
                id="map"
                :coords="markerCoords"
                :zoom="11"
                :controls="[]">
                <ymap-marker :coords="markerCoords"
                             :key="'location'"
                             :icon="markerIconLocation"
                             :marker-id="1"/>
                <ymap-marker
                    marker-id="1"
                    marker-type="Polygon"
                    :coords="coordsOutside"
                    @click="onClick"
                    :marker-fill="{color: '#F56A5B', opacity: 0.1}"
                    :marker-stroke="{color: '#F56A5B', width: 1.5}"
                    :options="{geodesic: true}"
                    fillRule="nonZero"
                ></ymap-marker>
                <ymap-marker
                    marker-id="2"
                    marker-type="Polygon"
                    :coords="coordsCenter"
                    @click="onClick"
                    :marker-fill="{color: '#ffeb3a', opacity: 0.15}"
                    :marker-stroke="{color: '#ffeb3a', width: 1.5}"
                    :options="{geodesic: true}"
                    fillRule="nonZero"
                ></ymap-marker>
                <ymap-marker
                    marker-id="3"
                    marker-type="Polygon"
                    :coords="coordsInside"
                    @click="onClick"
                    :marker-fill="{color: '#56D663', opacity: 0.25}"
                    :marker-stroke="{color: '#56D663', width: 1.5}"
                    :options="{geodesic: true}"
                    fillRule="nonZero"
                ></ymap-marker>
            </yandex-map>
        </client-only>
        <map-info />
        <input type="text"
               placeholder="Улица *"
               id="suggest"
               class="checkout-input"
               required
        />
    </div>
</template>

<script>
import coordsOutside from '~/assets/json/outside.json'
import coordsInside from '~/assets/json/inside.json'
import coordsCenter from '~/assets/json/center.json'
import MapInfo from "./map-info";

export default {
    components: {MapInfo},
    data: () => ({
        coordsOutside: coordsOutside,
        coordsInside: coordsInside,
        coordsCenter: coordsCenter,
        markerIconLocation: {
            layout: 'default#imageWithContent',
            imageHref: '/icons/location.svg',
            imageSize: [50, 50],
            imageOffset: [-25, -50],
        },
        markerCoords: [43.242875, 76.929714]
    }),
    methods: {
        onClick(e) {
            let coords = e.get('coords')
            this.markerCoords = coords
            var myReverseGeocoder = ymaps.geocode(this.markerCoords);
            myReverseGeocoder.then((res) =>  {
                document.getElementById('suggest').value = res.geoObjects.get(0).properties.get('text')

                this.$emit('address', {
                    address: res.geoObjects.get(0).properties.get('text'),
                    lat: coords[0],
                    long: coords[1]
                })
            });
        },
        initMap() {
            try {
                var that = this
                let suggestView = new ymaps.SuggestView(
                    'suggest', {
                        provider: {
                            suggest(request, options) {
                                delete options['provider'];
                                return ymaps.suggest(request, options).then(items => {
                                    let arrayResult = [];
                                    let arrayPromises = [];

                                    function pushGeoData(displayName, value, jsonData) {
                                        arrayResult.push({displayName: displayName, value: value, jsonData: jsonData});
                                    }

                                    items.forEach(i => {
                                        arrayPromises.push(ymaps.geocode(i.value).then(gc => {
                                            let value = i.value;
                                            let displayName = "";
                                            let geoObject = gc.geoObjects.get(0);
                                            var myPolygon = new ymaps.Polygon(that.coordsOutside);
                                            myPolygon.options.setParent(that.$refs.map.myMap.options);
                                            myPolygon.geometry.setMap(that.$refs.map.myMap);
                                            let coords = [
                                                geoObject.geometry.getCoordinates()[0],
                                                geoObject.geometry.getCoordinates()[1]
                                            ]
                                            if (myPolygon.geometry.contains(coords) && geoObject.getPremiseNumber()) {
                                                let jsonData = JSON.stringify({
                                                    'city': geoObject.getLocalities()[0] || geoObject.getAdministrativeAreas()[0],
                                                    'street': geoObject.getThoroughfare() || geoObject.getLocalities()[0],
                                                    'house': geoObject.getPremiseNumber(),
                                                });
                                                displayName = "<div>" + value + "</div>";

                                                pushGeoData(displayName, value, jsonData);
                                            }
                                        }));
                                    });
                                    return Promise.all(arrayPromises).then(function () {
                                        return ymaps.vow.resolve(arrayResult);
                                    });
                                })
                            }
                        }
                    }
                );
                suggestView.events.add("select", () => {
                    var request = document.querySelector('#suggest').value;
                    this.$emit('address', request)
                    ymaps.geocode(request).then((res) => {
                        var map = document.querySelector('#map')
                        var bounds = res.geoObjects.get(0).properties.get('boundedBy'),
                            mapState = ymaps.util.bounds.getCenterAndZoom(
                                bounds,
                                [map.clientHeight, map.clientWidth]
                            )
                        this.markerCoords = [mapState.center[0].toString(),mapState.center[1].toString()]
                        this.$emit('address', {
                            address: document.querySelector('#suggest').value,
                            lat: mapState.center[0].toString(),
                            long: mapState.center[1].toString()
                        })
                    })
                })
            } catch ($e) {
            }
        }
    },
    mounted() {
        setTimeout(this.initMap, 1000)
    }
};
</script>

<style lang="stylus" scoped>   
    #map
        width 100%
        height: 264px
        border-radius 12px
        overflow hidden
        margin-bottom 40px
</style>
