<template>
    <div>
        <client-only>
            <yandex-map
                ref="map"
                id="mapInfo"
                :coords="markerCoords"
                :zoom="11"
                :controls="[]">
                <ymap-marker
                    marker-id="1"
                    marker-type="Polygon"
                    :coords="coordsOutside"
                    @click="onClick"
                    :marker-fill="{color: '#F56A5B', opacity: 0.1}"
                    :marker-stroke="{color: '#F56A5B', width: 1.5}"
                    :options="{geodesic: true}"
                    fillRule="nonZero"
                ></ymap-marker>
                <ymap-marker
                    marker-id="2"
                    marker-type="Polygon"
                    :coords="coordsCenter"
                    @click="onClick"
                    :marker-fill="{color: '#ffeb3a', opacity: 0.15}"
                    :marker-stroke="{color: '#ffeb3a', width: 1.5}"
                    :options="{geodesic: true}"
                    fillRule="nonZero"
                ></ymap-marker>
                <ymap-marker
                    marker-id="3"
                    marker-type="Polygon"
                    :coords="coordsInside"
                    @click="onClick"
                    :marker-fill="{color: '#56D663', opacity: 0.25}"
                    :marker-stroke="{color: '#56D663', width: 1.5}"
                    :options="{geodesic: true}"
                    fillRule="nonZero"
                ></ymap-marker>
            </yandex-map>
        </client-only>
    </div>
</template>

<script>
import coordsOutside from '~/assets/json/outside.json'
import coordsInside from '~/assets/json/inside.json'
import coordsCenter from '~/assets/json/center.json'
import MapInfo from "./map-info";

export default {
    components: {MapInfo},
    data: () => ({
        coordsOutside: coordsOutside,
        coordsInside: coordsInside,
        coordsCenter: coordsCenter,
        markerIconLocation: {
            layout: 'default#imageWithContent',
            imageHref: '/icons/location.svg',
            imageSize: [50, 50],
            imageOffset: [-25, -50],
        },
        markerCoords: [43.242875, 76.929714]
    }),
};
</script>

<style lang="stylus" scoped>
    #mapInfo
        width 100%
        height: 442px
        border-radius 12px
        overflow hidden
        margin-bottom 16px
</style>
