.mobile-cart
    position fixed
    z-index 15
    width 56px
    height 56px
    box-shadow: 0px 0px 10px rgba(254, 170, 112, 0.3)
    border-radius: 999px
    background-color var(--major-color)
    bottom 15px
    right 15px
    display flex
    align-items center
    justify-content center
    svg 
        transform scale(2)
    &-badge 
        position absolute
        top 0
        right 0
        border-radius 30px 
        font-size em(12)
        font-weight 700
        color var(--major-color)
        min-width 21px
        height 21px
        padding 0 2px
        border 1px solid var(--major-color)
        background-color #fff
        display flex
        justify-content center
        align-items center