.mobile-header
    position fixed
    width 100%
    top 0
    left 0
    z-index 10
    display none
    background-color #fff
    box-shadow: 0px 5px 15px rgba(31, 71, 153, 0.15)
    border-radius: 0px 0px 12px 12px
    &-top
        display flex
        align-items center
    &-logo-wrp
        position absolute
        left 50%
        top 50%
        transform translate(-50%, -50%)
        z-index 1
        display flex
    &-grow 
        flex-grow 1
    &-top 
        position relative
        padding 16px
    &-logo
        display inline-block
        svg
            display block
    &-burger 
        padding 0
        width 24px
        height 24px
        background-color #fff
        margin-right 16px
    &-search 
        width 20px
        height 20px
        background-color #fff
        padding 0
        svg 
            width 20px
            height 20px
    &-bot 
        display flex
        white-space: nowrap
        overflow-x auto
    &-category 
        font-size em(14)
        font-weight 400
        color var(--text-color)
        padding 16px
        padding-left 0
        padding-top 0
@media screen and (max-width: 769px)
    .mobile-header
        display block