.mobile-menu
    position fixed
    z-index 15
    width 100%
    height 100vh
    overflow-y auto
    background-color #fff
    padding-bottom: 100px
    &-signin-wrp
        padding 0 16px
        padding-bottom 12px
        border-bottom 1px solid var(--line-color)
    &-btn
        display flex
        align-items center
        background-color var(--bg-base)
        border-radius 8px
        padding 16px
        width 100%
        font-size em(14)
        font-weight 400
        color var(--text-color)
    &-user-icon
        width 20px
        height 20px
        margin-right 12px
    &-arrow-icon
        margin-left auto
        width 20px
        height 20px
        transform rotate(180deg)
        path 
            fill #C3CAD9
    &-category 
        font-size em(16px)
        font-weight 700
        color var(--text-color)
        display flex
        align-items center
        justify-content space-between
        padding 8px 16px
        &.--active 
            svg 
                transform rotate(-270deg)
        svg 
            transition transform 0.2s ease
            transform rotate(-90deg)
            width 20px
            height 20px
    &-nav
        padding 10px 0
        border-bottom 1px solid var(--line-color)
    &-subcategory 
        font-size em(14)
        font-weight 400
        color #8A8F99
        display flex
        align-items center
        padding 8px 16px
        svg 
            width 20px
            height 20px
            transform rotate(-180deg)
        &.--bold
            font-weight 700
            color var(--text-color)
    &-link 
        display block
        font-size em(14)
        font-weight 400
        color var(--text-color)
        padding 8px 16px
    &-bot
        padding 16px
    &-phone 
        font-size em(20)
        font-weight 700
        color var(--text-color)
    &-text 
        font-size em(12)
        font-weight 400
        color #8A8F99
        &.--margin
            margin-top 24px
            margin-bottom 4px
    &-social 
        display flex
        align-items center
        font-size em(14)
        font-weight 700
        color var(--text-color)
        svg 
            margin-right 8px