.mobile-search
    position fixed
    width 100%
    height 100vh
    overflow-y auto
    background-color #fff
    top 0
    left 0
    z-index 15
    &-top 
        display flex
        padding 16px
    &-input-wrp
        position relative
        border-radius 8px
        background-color var(--bg-base)
        flex-grow 1
        margin-right 8px
        padding 8px 0
    &-icon
    &-close 
        width 20px
        height 20px
        position absolute
        left 12px
        top 50%
        transform translateY(-50%)
    &-close 
        left auto 
        right 12px
        path 
            fill #C3CAD9
    &-input 
        border none 
        background-color transparent
        padding 0 45px
        font-size em(14)
        font-weight 400
        color var(--text-color)
        width 100%
    &-btn 
        padding 0
        background-color transparent
        font-size em(14)
        font-weight 700
        color var(--text-color)