<template>
    <div class="catalog-page" :class="{'--brand' : brand}">
        <mobile-filter :min-price="products.min_price" :max-price="products.max_price" v-if="$isMobile()" />
        <mobile-subcat v-if="$isMobile()" />
        <div class="layout-container" v-if="brand && !$isMobile()">
            <div class="breadcrumbs">
                <button class="back" @click="$router.back()">Назад</button>
                <span>:</span>
                <nuxt-link to="/catalog">Каталог</nuxt-link>
                <nuxt-link to="">{{ brand.name }}</nuxt-link>
            </div>
            <brand :brand="brand" />
        </div>
        <div class="catalog-page-top-wrp" v-if="!brand && !$isMobile()">
            <div class="layout-container">
                <top :category="category" :subcategory="subcategory" :cnt="products.total" />
            </div>
        </div>
        <div class="catalog-page-mobile --top" v-if="$isMobile()">
            <button class="back" @click="$router.back()">Назад</button>
            <h1 class="catalog-top-title">{{ brand ? brand.name : (category ? category.name : 'Каталог') }}</h1>
            <button class="catalog-page-subcat-btn" v-if="!brand && !subcategory" @click="$setTrue('modals.subcat')">
                <list-icon />
            </button>
        </div>
        <div class="catalog-page-slider-wrp">
            <slider :category="category" :subcategory="subcategory" :subcategory-index="subcategoryIndex" />
        </div>
        <div class="catalog-page-mobile" v-if="$isMobile()">
            <button class="catalog-filter" @click="$setTrue('modals.filter')">
                Фильтровать
                <filter-icon />
            </button>
            <div class="catalog-sort">
                <select v-model="sortColumn" @change="sort">
                    <option :value="key" v-for="(label, key) of options" :key="key">{{ label }}</option>
                </select>
                <sort-icon />
            </div>
        </div>
        <div class="layout-container">
            <catalog-filter :min-price="products.min_price" :max-price="products.max_price" v-if="!$isMobile()" />
            <checked-filters />
            <sort :total="products.total" :cnt="products.data.length" :options="options" v-if="!$isMobile()" />
            <div class="catalog-page-empty" v-if="!products || !products.data || !products.data.length">
                <h4 class="catalog-page-empty-title">По вашему запросу ничего не найдено</h4>
                <p class="catalog-page-empty-text">Попробуйте уменьшить количество фильтров</p>
                <img src="/images/brands-empty.png" alt="Не найдено">
            </div>
            <div v-else>
                <div class="catalog-page-row">
                    <product v-for="product in products.data" :key="product.id" :product="product" />
                    <div ref="pagination-mark"></div>
                </div>
                <div class="catalog-page-btn-wrp">
                    <div class="catalog-page-loader" v-if="waiting">
                        <img src="/icons/load-large.png" alt="Only icon" data-not-lazy>
                    </div>
                    <button class="button --minor-color"
                        v-ripple="'rgba(255, 255, 255, 0.2)'"
                        @click="tryTolazyLoad"
                        v-else-if="products.last_page != products.current_page">
                        <reload-icon />
                        Показать еще
                    </button>
                </div>
            </div>
        </div>
        <ig-feed />
        <last-news />
        <subscribe />
    </div>
</template>

<script>
import subscribe from '@/components/partials/subscribe'
import product from '@/components/partials/product'
import reloadIcon from '@/static/icons/reload.svg'
import top from '@/components/catalog/top'
import catalogFilter from '@/components/catalog/filter'
import checkedFilters from '@/components/catalog/checked-filters'
import sort from '@/components/catalog/sort'
import slider from '@/components/catalog/slider'
import brand from '@/components/catalog/brand'
import mobileFilter from '@/components/catalog/mobile/filter'
import mobileSubcat from '@/components/catalog/mobile/subcat-dropdown'
import igFeed from '@/components/partials/ig-feed'
import lastNews from '@/components/partials/last-news'
import filterIcon from '@/static/icons/filter.svg'
import sortIcon from '@/static/icons/sort.svg'
import listIcon from '@/static/icons/list.svg'
import { mapGetters, mapActions } from 'vuex'

export default {
    middleware: ['catalog'],
    components: {
        reloadIcon,
        product,
        subscribe,
        top,
        catalogFilter,
        checkedFilters,
        sort,
        mobileFilter,
        mobileSubcat,
        slider,
        filterIcon,
        sortIcon,
        listIcon,
        igFeed,
        lastNews,
        brand
    },
    data() {
        return {
            waiting: false,
            sortColumn: 'lft',
            options: {
                lft: 'по умолчанию',
                purchase_countdesc: 'по популярности',
                created_at: 'по новизне',
                price: 'по возрастанию цены',
                pricedesc: 'по убыванию цены'
            }
        }
    },
    computed: {
        ...mapGetters({
            category: 'category/GET_CATEGORY',
            subcategory: 'category/GET_SUBCATEGORY',
            brand: 'product/GET_BRAND',
            products: 'product/GET_PRODUCTS',
            page: 'page/GET_PAGE'
        }),
        subcategoryIndex: function() {
            if (this.category && this.subcategory) {
                let active = 0

                Object.values(this.category.subcategories).forEach((subcategory, index) => {
                    if (subcategory.id == this.subcategory.id) {
                        active = Math.max(0, index - 1)
                    }
                })

                return active
            }
        }
    },
    watch: {
        '$route.query': function(val) {
            if (val.order != this.column) {
                this.column = val.order
            }
        },
    },
    mounted() {
        if (process.client) {
            if (!this.$route.query.page) {
                this.lazyLoad()
            }
            window.addEventListener('scroll', async () => {
                if (this.waiting || !this.$refs['pagination-mark']) {
                    return
                }

                let bottom = this.$refs['pagination-mark'].getBoundingClientRect().bottom
                if (bottom - 100 < window.innerHeight) {
                    await this.tryTolazyLoad()
                }
            }, { passive: true })
        }
    },
    methods: {
        ...mapActions({
            paginate: 'product/paginate',
        }),
        sort() {
            let filters = this.getFilters()

            if (this.sortColumn != 'lft') {
                filters.order = [this.sortColumn]
            } else {
                delete filters.order
            }

            this.$router.push({query: this.getQuery({...filters})})
        },
        getFilters() {
            let query = {...this.$route.query}
            Object.keys(query).map(function(key, index) {
                query[key] = query[key].split(',')
            })
            return query
        },
        getQuery(filters) {
            Object.keys(filters).map(function(key, index) {
                filters[key] = filters[key].join(',')
            })
            return filters
        },
        async tryTolazyLoad() {
            if (!this.waiting) {
                await this.lazyLoad()
            }
        },
        async lazyLoad() {
            this.waiting = true
            await this.paginate(`products`)
            this.waiting = false
        }

    },
    head() {
        let seo_item = {...(this.subcategory ? this.subcategory : (this.category ? this.category : this.page))}

        if (this.$route.query.extra) {
            if (this.$route.query.extra.includes('sales')) {
                seo_item.seo_title = 'Косметика со скидкой | Only'
                seo_item.seo_description = 'Купить уходовую косметику Only со скидкой.'
            } else if (this.$route.query.extra.includes('news')) {
                seo_item.seo_title = 'Новинки косметики | Only'
                seo_item.seo_description = 'Купить новинки уходовой косметики Only.'
            } else if (this.$route.query.extra.includes('hits')) {
                seo_item.seo_title = 'Хиты продаж | Only'
                seo_item.seo_description = 'Купить лучшую уходовую косметику Only.'
            }
        }

        return this.$get_seo_tags(this.brand ? this.brand : seo_item)
    }
}
</script>
