<template>
    <div class="extra-nav">
        <nuxt-link class="extra-nav-link" to="/payment">
            <div>
                <payment-icon />
                <span>Оплата</span>
            </div>
        </nuxt-link>
        <nuxt-link class="extra-nav-link" to="/requisites">
            <div>
                <req-icon />
                <span>Реквизиты</span>
            </div>
        </nuxt-link>
        <nuxt-link class="extra-nav-link" to="/delivery">
            <div>
                <delivery-icon />
                <span>Доставка</span>
            </div>
        </nuxt-link>
        <nuxt-link class="extra-nav-link" to="/how-to-order">
            <div>
                <order-icon />
                <span>Как сделать заказ</span>
            </div>
        </nuxt-link>
        <nuxt-link class="extra-nav-link" to="/bonuses">
            <div>
                <bonus-icon />
                <span>Бонусы</span>
            </div>
        </nuxt-link>
    </div>
</template>

<script>
import paymentIcon from "@/static/icons/payment.svg";
import deliveryIcon from "@/static/icons/delivery-extra.svg";
import orderIcon from "@/static/icons/cart-buy.svg";
import bonusIcon from "@/static/icons/bonus-extra.svg";
import reqIcon from "@/static/icons/req-icon.svg";

export default {
	components: {
		paymentIcon,
		deliveryIcon,
		orderIcon,
		bonusIcon,
		reqIcon,
	},
};
</script>
