.product-cart
    position fixed
    bottom 0
    left 0
    width 100%
    background: #FFFFFF
    box-shadow: 0px -5px 15px rgba(31, 71, 153, 0.05)
    padding 20px 0
    z-index 10
    .layout-container
        display flex
        align-items center
        justify-content space-between
    .button
        width 240px
        height 40px
    .product-inner-add-cart
        margin 0
    &-image
        width 48px
        height 48px
        border-radius 8px
        overflow hidden
        border 1px solid var(--major-color)
        img 
            width 100%
            height 100%
            object-fit contain
    &-name-wrp
        flex-grow 1
        margin-left 32px
    &-price 
        font-size em(14)
        font-weight 700
        color var(--text-color)
        span 
            color #B4B8BF
            text-decoration line-through
            display block
    &-text 
        font-size em(12)
        font-weight 400
        color var(--text-color)
    &-price-wrp
        margin-right 100px
    &-brand 
        font-size em(12)
        font-weight 400
        color #8A8F99
    &-name 
        font-size em(14)
        font-weight 400
        color var(--text-color)
@media screen and (max-width 769px)
    .product-cart
        display none
