.product-inner-image
    max-width 455px
    width 100%
    height 100%
    position relative
    flex-shrink: 0
    img
        width 100%
        height 100%
        object-fit contain
.product-inner-image-wrp
    margin-right 24px
    height 455px
    max-width 550px
    width 100%
    display flex
    justify-content space-between
.product-inner-thumbs-wrp
    height 100%
    overflow-y auto
.product-inner-thumbs-wrp::-webkit-scrollbar-track
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3)
    background-color: #F5F5F5
.product-inner-thumbs-wrp::-webkit-scrollbar
    width: 4px
    background-color: #F5F5F5
.product-inner-thumbs-wrp::-webkit-scrollbar-thumb
    background-color: #FEA76B
.product-inner-thumb
    width 56px
    height 56px
    padding 0
    border-radius 8px
    border 1px solid transparent
    background-color transparent
    padding 3px
    transition border-color 0.4s ease
    margin-bottom 16px
    &.--active
        border-color var(--major-color)
        &:hover
            border-color var(--major-color)
    &:hover
        border-color var(--line-color)
    img
        width 100%
        height 100%
        object-fit contain
@media screen and (max-width 769px)
    .product-inner-image-wrp
        max-width 100%
        height auto
        margin-right 0
        flex-wrap wrap
        img
            max-height 360px
    .product-inner-image
        max-width 100%
        order 1
    .product-inner-thumbs-wrp
        height auto
        order 2
        margin-top 24px
        white-space nowrap
        overflow-x auto
@media screen and (max-width 430px)
    .product-inner-image
        height auto
    .product-inner-thumb
        margin-bottom 0
