.product-inner
    padding-top 24px
    &-divider
        height 1px
        width 100%
        margin-bottom 50px
        background-color var(--line-color)
    &-row
        margin-top 60px
        display -webkit-flex
        display -moz-flex
        display -ms-flex
        display -o-flex
        display flex
        justify-content center
    &-left
        flex 1
    &-tab-btns
        display flex
        justify-content center
        border-bottom 1px solid var(--line-color)
        max-width 492px
        margin 0 auto
        margin-top 64px
        margin-bottom 24px
    &-bonuses
        background #F7F9FA
        border-radius 8px
        padding 12px 10px
        display flex
        align-items flex-start
        max-width 240px
        margin-top 16px
        margin-bottom 16px
        &-text
            font-size 12px
            font-weight 600
            color var(--text-color)
            a
                color var(--major-color)
                display block
        &-icon
            flex-shrink: 0
            margin-right 8px
            svg
                width 16px
                height 16px
            path
                opacity 1
                fill var(--major-color)
    &-tab-btn
        border none
        background transparent
        padding 0
        padding-bottom 8px
        min-width 246px
        font-size 20px
        font-weight 700
        color #8A8F99
        transition color .4s ease
        position relative
        &:after
            transition background .4s ease
            content ''
            width 100%
            height 3px
            background transparent
            border-radius 99px 99px 0 0
            position absolute
            bottom 0
            left 0
        &.--active,
        &:hover
            color #0D1F42
            &:after
                background var(--major-color)
@media screen and (max-width 769px)
    .product-inner
        .breadcrumbs
            display none
        &-row
            margin-top 0
            display block
        &-tab-btn
            min-width initial
            font-size 18px
@media (max-width: 430px)
    .product-inner
        &-tab-btns
            justify-content space-between
        &-tab-btn
            font-size 16px
