.product-reviews
    max-width 744px
    margin auto
    margin-top 40px
    &-top
        text-align center
    &-title
        font-size em(20)
        font-weight 700
        color var(--text-color)
        margin-bottom 16px
    &-btn
        border 1px solid var(--major-color)
        background-color #fff
        color var(--major-color)
        text-transform uppercase
        font-size em(12)
        font-weight 700
        border-radius 8px
        padding 12px 40px
        margin-bottom 40px
    &-item
        border-bottom 1px solid var(--line-color)
        padding-bottom 16px
        margin-bottom 24px
    &-date
        font-size em(14)
        font-weight 700
        color #8A8F99 
        display inline-block
        margin-left 14px
    &-text
        font-size em(14)
        font-weight 400
        color var(--text-color)
    &-answer
        margin-left 24px
        margin-top 16px
    &-name
        font-size em(14)
        font-weight 700
        color var(--text-color)
        display inline-block
    &-btn-wrp
        text-align center
        margin-bottom 80px
    &-form
        text-align center
        margin auto
        max-width 745px
        margin-bottom 65px
        width 100%
    &-label
        display block
        font-size em(14)
        font-weight 400
        color var(--text-color)
        text-align left
        margin-bottom 8px
    &-input
        display block
        text-align left 
        width 100%
        border 1px solid var(--line-color)
        border-radius 8px
        padding 12px 16px
        resize none
        font-size em(14)
        font-weight 400
        color var(--text-color)
        &.--textarea
            height 110px
    &-input-wrp
        display -webkit-flex
        display -moz-flex
        display -ms-flex
        display -o-flex
        display flex
        justify-content space-between
        margin-top 16px
        margin-bottom 24px
        input 
            width 49%
    &-rating-wrp 
        display -webkit-flex
        display -moz-flex
        display -ms-flex
        display -o-flex
        display flex
        alig-items center
        margin-bottom 24px
        p 
            font-size em(14)
            font-weight 400
            color var(--text-color)
            margin-right 14px
@media screen and (max-width 430px)
    .product-reviews
        &-form
            padding 0 16px
        &-btn
            margin-bottom 20px
@media screen and (max-width 321px)
    .product-reviews
        &-input-wrp
            display block
            input 
                width 100%
                &:first-child
                    margin-bottom 10px
