.product-inner
    &-right
        max-width 455px
        width 100%
    &-brand
        font-size em(14)
        font-weight 400
        color var(--text-color)
    &-name
        font-size em(20)
        font-weight 700
        color var(--text-color)
    &-price
        font-size em(28)
        font-weight 700
        color #F56A5B
        display inline-block
    &-old-price
        display inline-block
        margin-left 16px
        font-size em(20)
        font-weight 700
        color: #B4B8BF
        text-decoration line-through
        text-decoration-color #F56A5B
    &-economy
        font-size em(14)
        font-weight 700
        color var(--minor-color)
    &-discount
        font-size 14px
        font-weight 400
        margin-top 16px
        margin-bottom 16px
        &-timer
            display -webkit-flex
            display -moz-flex
            display -ms-flex
            display -o-flex
            display flex
            justify-content space-between
            align-items center
            text-align center
            max-width 288px
            margin-top 8px
            font-size 18px
            font-weight 700
            .timer
                border-radius 8px
                padding 5px 0
                max-width 88px
                width 100%
                background-color var(--bg-base)
                &:not(:first-of-type)
                    margin-left 8px
                &:not(:last-of-type)
                    margin-right 8px
                &-label
                    font-size 12px
                    color #8A8F99
                    font-weight 400
    &-add-cart
        display -webkit-flex
        display -moz-flex
        display -ms-flex
        display -o-flex
        display flex
        justify-content space-between
        max-width 288px
        margin-top 16px
        margin-bottom 32px
    .counter
        margin-right 8px
        button
            width 40px
            height 40px
    .button
        min-width 40px
        padding 10px
        width calc(100% - 40px)
        path
            fill #fff
    &-fav
        background-color var(--bg-base)
        border-radius 8px
        display -webkit-flex
        display -moz-flex
        display -ms-flex
        display -o-flex
        display flex
        align-items center
        justify-content center
        padding 0
        width 40px
        height 40px
        margin-left 8px
        svg
            width 24px
            height 24px
        &.--added
            path
                fill #F56A5B
    &-delivery-text
        display -webkit-flex
        display -moz-flex
        display -ms-flex
        display -o-flex
        display flex
        align-items center
        font-size em(12)
        font-weight 400
        color var(--text-color)
        &.--link
            color #8A8F99
        svg
            margin-right 8px
    &-about
        margin-top 32px
    &-title-wrp
        border-bottom 1px solid var(--line-color)
        overflow scroll
        display flex
        &::-webkit-scrollbar
            display none
    &-about-title
        font-size em(14)
        font-weight 700
        color var(--text-color)
        padding-bottom 10px
        padding-left 10px
        padding-right 10px
        position relative
        cursor pointer
        white-space nowrap
        &.--active
            &:after
                background-color var(--major-color)
        &:after
            content ''
            width 100%
            height 3px
            background-color transparent
            border-radius 30px 30px 0 0
            position absolute
            left 0
            bottom 0
    &-about-text
        font-size em(14)
        font-weight 400
        color var(--text-color)
        margin-top 16px
        ul
            margin-top 16px
            padding-left 20px
            list-style initial
    &-rating-wrp
        display -webkit-flex
        display -moz-flex
        display -ms-flex
        display -o-flex
        display flex
        align-items center
        margin 10px 0
    &-available
        font-size em(12)
        font-weight 400
        color var(--minor-color)
        display -webkit-flex
        display -moz-flex
        display -ms-flex
        display -o-flex
        display flex
        align-items center
        margin-left 24px
        svg
            width 16px
            height 16px
    &-out
        font-size em(12)
        font-weight 400
        display -webkit-flex
        display -moz-flex
        display -ms-flex
        display -o-flex
        display flex
        align-items center
        margin-left 24px
        svg
            width 16px
            height 16px
    &-rating
        display -webkit-flex
        display -moz-flex
        display -ms-flex
        display -o-flex
        display flex
        color #8A8F99
        align-items center
        p
            font-size em(12)
            font-weight 400
            color #8A8F99
            margin-left 8px
    &-brand-wrp
        max-width 455px
        margin-left 95px
        margin-top 24px
        text-align center
        a
            color var(--text-color)
        img
            margin auto
            max-width 110px
            max-height 110px
    &-brand-txt
        font-size em(14)
        font-weight 400
        color var(--text-color)
        margin-bottom 12px
        span
            color var(--minor-color)
            font-weight 700
@media screen and (max-width 769px)
    .product-inner
        &-available
            margin-left 0
        &-right
            max-width 100%
        &-brand-wrp
            display inline-block
            margin-left 0
            text-align left
            img
                margin 0
                margin-bottom 24px
@media screen and (max-width 426px)
    .product-inner
        &-bonuses
            max-width inherit
        &-right
            max-width 100%
        &-brand-wrp
            display block
            margin-bottom 24px
            margin-top 24px
            text-align center
            img
                margin auto
        &-name
        &-brand
            text-align center
        &-price-wrp
            margin-top 23px
        &-rating-wrp
            justify-content center
        &-discount-timer
            max-width inherit
        &-add-cart
            max-width inherit
            justify-content space-between
            .button
                width calc(100% - 40px)
