<template>
    <div class="contacts-page">
        <div class="page-title">
            <div class="layout-container">
                <h1>Контакты</h1>
                <button class="back" @click="$router.back()">Назад</button>
            </div>
        </div>
        <div class="contacts-page-container">
            <div class="contacts-page-info" :style="`margin-left: ${marginLeft}px`">
                <div class="contacts-page-phone-wrp">
                    <phone-icon />
                    <div>
                        <h4 class="contacts-page-title">Если у Вас возникнут вопросы, Вы можете задать по телефону:</h4>
                        <a href="tel:87772623060" class="contacts-page-text">8 (777) 262-30-60</a>
                    </div>
                </div>
                <div class="contacts-page-address-wrp">
                    <pin-icon />
                    <div>
                        <h4 class="contacts-page-title">Ареса наших магазинов:</h4>
                        <p class="contacts-page-text">Тимирязева 38/1 (между ул.Ауэзова и ул.Манаса магазин Only.kz)</p>
                        <p class="contacts-page-text --margin-top">График работы:</p>
                        <p class="contacts-page-text">Работаем каждый день с 9:00 до 21:00</p>
                        <p class="contacts-page-text --margin-top">Консультация интернет-магазина с 9:00 до 21:00</p>
                    </div>
                </div>
            </div>
            <div class="contacts-page-map">
				<iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3A992531efe5e0dbcf5e1c0483ac1ac06dfea492cb6f0da587311a5e6ef3df04dd&amp;source=constructor" width="100%" height="100%" frameborder="0"></iframe>
            </div>
        </div>
    </div>
</template>

<script>
import phoneIcon from '@/static/icons/phone.svg'
import pinIcon from '@/static/icons/pin.svg'
export default {
    data() {
        return {
            marginLeft: null
        }
    },
    mounted() {
		this.$nextTick(function() {
			window.addEventListener('resize', this.calcMargin)
			this.calcMargin()
        })
    },
    beforeDestroy() {
    	window.removeEventListener('resize', this.calcMargin)
    },
    methods: {
        calcMargin() {
            let containerWidth = 1130
			let viewportWidth = document.documentElement.clientWidth
			if (window.innerWidth > 1025) {
				this.marginLeft = (viewportWidth - containerWidth) / 2
			}
        }
    },
    components: {
        phoneIcon,
        pinIcon
    }
}
</script>
